<div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title" id="myModalLabel">ESRI Hands-On Learning Labs (HOLL)</h3>
</div>
<div class="modal-body">
<h4> How does HOLL work?</h4>
<p>The HOLL consists of a group of laptops with headphones where students can work through lessons at their own pace. A lesson consists of a recorded presentation followed by a hands-on exercise. Each lesson typically takes about 45 to one hour to complete and students can generally come and go as they please. Education Services instructors are on hand in order to assist users with questions and to discuss Esri products, other training opportunities and Esri Technical Certification.</p>
<h4>HOLL Course Offerings</h4>
<ul class="list-group">
<li class="list-group-item">1.) Getting Started with GIS 1: Understanding the ArcGIS Platform</li>
<li class="list-group-item">2.) Getting Started with GIS 2: Using ArcMAP to Explore GIS Data</li>
<li class="list-group-item">3.) Getting to Know ArcGIS Pro</li>
<li class="list-group-item">4.) Advantages to Storing Your GIS Data in the Geodatabase</li>
<li class="list-group-item">5.) Creating Presentation Quality Maps in ArcMap</li>
<li class="list-group-item">6.) Editing GIS Data in ArcMap</li>
<li class="list-group-item">7.) Multi-user Editing Using Versioning</li>
<li class="list-group-item">8.) Editing and Maintaining Parcels Stored in a Parcel Fabric</li>
<li class="list-group-item">9.) Geocoding Street Addresses to Create Map Points</li>
<li class="list-group-item">10.) Importing and Preparing CAD Data for Use in ArcGIS</li>
<li class="list-group-item">11.) The Importance of Spatial Reference in Tactical Applications </li>
<li class="list-group-item">12.) Exploring Health and Epidemic Patterns Using Spatial Statistics Tools</li>
<li class="list-group-item">13.) Optimizing Transportation Routs Using ArcGIS Network Analyst</li>
<li class="list-group-item">14.) Modeling Time and Distance Along Networks Using Linear Referencing</li>
<li class="list-group-item">15.) Working with Geometric Networks to Manage Utilities</li>
<li class="list-group-item">16.) Interpolating Sample Points to Create Rasters Using Spatial Analyst Tools</li>
<li class="list-group-item">17.) Geoprocessing GIS Data Using Python</li>
<li class="list-group-item">18.) Sharing Maps and GIS Content Using ArcGIS Online</li>
<li class="list-group-item">19.) Understanding Web Services Using ArcGIS for Server</li>
<li class="list-group-item">20.) Generating Web Applications for the GIS Novice</li>
<li class="list-group-item">21.) Getting Started with the Community Maps Data Preparation Tools </li>
<li class="list-group-item">22.) Mapping Excel Data Using Esri Maps for Office</li>
</ol>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
