<div class="registration-box-2017">
  <div class="container">
    <h3>Registration</h3>
<div class="row">    
  <div class="lead col-sm-5">
    <p>The Forum will begin with two days of pre-conference <a href="/texas-gis-forum/2017/training">workshops</a>, followed by two days of general sessions, and a half-day morning session on Friday. Join us for two social events - Wednesday after the last session at the Commons Learning Center and Thursday night at The Oasis Restaurant on Lake Travis with keynote speaker, Saroo Brierley (transportation will be provided)!</p>

<a class="btn btn-lg btn-purpblue mx-auto d-block" style="max-width: 75%;" href="{{buttonurl}}">
        <i class="fa fa-pencil"></i> {{buttontext}}
    </a></div>

<div class="col-sm-7">        
  <table class="table table-sm table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Before Sep. 29</th>
                    <th>Sep. 22 - Oct. 13</th>
                    <th>Onsite</th>
                    <th>One Day</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Government</strong></td>
                    <td>$425</td>
                    <td>$450</td>
                    <td>$475</td>
                    <td>$275</td>
                </tr>
                <tr>
                    <td><strong>Industry</strong></td>
                    <td>$475</td>
                    <td> $525</td>
                    <td> $575</td>
                    <td> $325</td>
                </tr>
                <tr>
                    <td><strong> Student</strong></td>
                    <td>$75</td>
                    <td>$75</td>
                    <td>$75</td>
                    <td>$25</td>
                </tr>
            </tbody>
        </table>


    <p>NOTE: Those registering as a "Student" MUST present a valid student I.D. upon registration check-in.</p>
    <p><strong>Are you a recent GIS graduate or unemployed GIS practitioner?</strong> Call us at 512-463-8337 to discuss attending the Forum at the discounted student rate.
    </p>
      </div>

</div>


</div>
</div>
