<div class="container-md">


  <div class="sponsors-platinum text-center">
    <h3>Platinum Sponsors</h3>
    <a href="http://appgeo.com"><img alt="appgeo logo and link to website" src="https://cdn.tnris.org/images/appgeo_logo.png"></a>
    <a href="http://www.esri.com"><img alt="Esri logo and link to website" src="https://cdn.tnris.org/images/esri_where_logo.png"></a>
    <a href="https://www.harrisgeospatial.com"><img alt="Esri logo and link to website" src="https://cdn.tnris.org/images/harris_sm.png"></a>

    <a href="http://www.boundlessgeo.com/"><img alt="Boundless logo and link" src="https://cdn.tnris.org/images/boundless_lg.png"></a>

</div>

  <div class="sponsors-gold text-center">
    <h3>Gold Sponsors</h3>
   <a href="https://www.aecom.com"><img alt="Aecom geospatial logo and link" src="https://cdn.tnris.org/images/aecom_black_logo.png"></a>
      <a href="http://www.lenovo.com/"><img alt="Lenovo geospatial logo and link" src="https://cdn.tnris.org/images/lenovo_logo_sm.png"></a>
    <a href="https://go.nearmap.com/"><img alt="Near map logo and link" src="https://cdn.tnris.org/images/nearmap_logo.png"></a>
    <a href="http://plotterpro.com/"><img alt="Plotter Pro Logo and link to website" src="https://cdn.tnris.org/images/prof_plotter_logo.png"></a>
    <a href="http://www.surdex.com/"><img alt="Surdex geospatial logo and link" src="https://cdn.tnris.org/images/surdex_logo_sm.png"></a>




  </div>
  <div class="sponsors-silver text-center">
    <h3>Silver Sponsors</h3>

    <a href="https://carto.com"><img alt="Carto logo and link" src="https://cdn.tnris.org/images/carto_logo.png"></a>
    <a href="http://www.fugro.com/"><img alt="Fugro logo and link" src="https://cdn.tnris.org/images/fugro_logo.png"></a>
    <a href="http://www.geo-comm.com/"><img alt="GeoComm logo and link" src="https://cdn.tnris.org/images/geocomm_logo.png"></a>

    <a href="http://www.hexagongeospatial.com/"><img alt="Hexagon logo and link" src="https://cdn.tnris.org/images/hexagon_logo.png"></a>
    <a href="http://www.infogroup.com/"><img alt="Infogroup logo and link" src="https://cdn.tnris.org/images/infogroup_logo.png"></a>
    <a href="http://www.hp.com/country/us/en/welcome.html"><img alt="HP geospatial logo and link" src="https://cdn.tnris.org/images/hp_logo_sm.png"></a>
     <a href="http://www.sanborn.com/"><img alt="Sanborn logo and link to website" src="https://cdn.tnris.org/images/sanborn_logo_sm.png"></a>
    <a href="http://www.scaug.org/"><img alt="SCAUG logo and link" src="https://cdn.tnris.org/images/scaug_logo_main.png"></a>
    <a href="https://www.west.com/safety-services/"><img alt="West Safety Services logo and link" src="https://cdn.tnris.org/images/west_logo.png"></a>
    <a href="http://www.geocortex.com/"><img alt="Geocortex logo and link" src="https://cdn.tnris.org/images/geocortex_web.png"></a>




  </div>
  <div class="text-center">
    <h3>Exhibitors</h3>
    <ul class="list-clean">
      <li>Blue Marble Geographics</li>
      <li>RazorTek</li>
      <li>TeachMeGIS</li>
      <li>Tessellations Incorporated</li>
      <li>Western Data Systems</li>
    </ul>
  </div>
</div>
