<p class="lead">TNRIS is pleased to invite you to participate in our 2018 Texas GIS Forum, October 22 - 26 at the JJ Pickle Center in Austin, Texas. The Forum is a great opportunity to share your knowledge with a respected community of GIS Professionals and network with your peers in the geospatial industry.</p> 

<p class="lead">Please review the suggested topics of interest and the selection criteria prior to submitting an abstract.</p>