<nav class="navbar-expand-sm navbar-inverse forum-bar-2017">
  <div class="container-md">
    <ul class="nav navbar-nav">
        <li class="nav-item {% if (path == 'texas-gis-forum/2018') %}active{% endif %}" >
          <a class="nav-link" href="/texas-gis-forum/2018">Welcome</a>
        </li>
        <li class="nav-item {% if (path == 'texas-gis-forum/2018/agenda') %}active{% endif %}" >
          <a class="nav-link" href="/texas-gis-forum/2018/agenda">Agenda</a>
        </li>
        <li class="nav-item {% if (path == 'texas-gis-forum/2018/training') %}active{% endif %}" >
          <a class="nav-link" href="/texas-gis-forum/2018/training">Pre-Conference Workshops</a>
        </li>
        <li class="nav-item {% if (path == 'texas-gis-forum/2018/sponsors-and-exhibitors') %}active{% endif %}" >
          <a class="nav-link" href="/texas-gis-forum/2018/sponsors-and-exhibitors">Become a Sponsor</a>
        </li>
        <li class="nav-item {% if (path == 'texas-gis-forum/2018/poster-gallery') %}active{% endif %}" >
          <a class="nav-link" href="/texas-gis-forum/2018/poster-gallery">Poster Contest</a>
        </li>
      </ul>
  </div>
</nav>
