<nav class="navbar navbar-inverse forum-bar-2017">
  <div class="container">
    <ul class="nav navbar-nav">
        <li {% if (path == 'texas-gis-forum/2018') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2018">Welcome</a>
        </li>
        <li {% if (path == 'texas-gis-forum/2018/agenda') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2018/agenda">Agenda</a>
        </li>
        <li {% if (path == 'texas-gis-forum/2018/training') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2018/training">Pre-Conference Workshops</a>
        </li>
        <li {% if (path == 'texas-gis-forum/2018/sponsors-and-exhibitors') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2018/sponsors-and-exhibitors">Become a Sponsor</a>
        </li>
        <li {% if (path == 'texas-gis-forum/2018/poster-gallery') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2018/poster-gallery">Poster Contest</a>
        </li>
      </ul>
  </div>
</nav>
