{% extends "events/texas-gis-forum/2018/main.njk" %}
{% import "_form_macros.njk" as form %}

{% block styles %}
  {{ super() }}

  {{form.styles()}}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {{form.scripts()}}
{% endblock %}

{% block contentsOne %}
  <div id="contentMain" class="container">
    <div class="row">
        <div class="col-md-8">
            {{contents|safe}}
        </div>
        <div class="col-md-4">

            <h2>Submit Your Info</h2>
            <p>Please enter your information below if you plan on submitting a poster to the gallery. This information will be displayed along with your poster.</p>
            {% include "partials/2015-forum/poster-submission.njk" %}
        </div>
    </div>
  </div>
{% endblock %}
