
<h3 style="margin-top: 0">Registration</h3>

  <table class="table table-sm table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Before Sept. 21</th>
                    <th>Sept. 21 - Oct. 12</th>
                    <th>Onsite</th>
                    <th>One Day</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Government</strong></td>
                    <td>$295</td>
                    <td>$325</td>
                    <td>$375</td>
                    <td>$200</td>
                </tr>
                <tr>
                    <td><strong>Industry</strong></td>
                    <td>$345</td>
                    <td>$375</td>
                    <td>$425</td>
                    <td>$250</td>
                </tr>
                <tr>
                    <td><strong> Student</strong></td>
                    <td>$50</td>
                    <td>$50</td>
                    <td>$50</td>
                    <td>$25</td>
                </tr>
            </tbody>
        </table>
<p><strong>Are you a recent GIS graduate or unemployed GIS practitioner?</strong> Call us at 512-463-8337 to discuss attending the Forum at the discounted student rate.</p>
