<div class="forum-intro-2016">

 <p class="lead">
    For nearly 3 decades, the Texas GIS Forum has been the can't-miss event for the statewide GIS community. From the public and private sector, the forum brings together those exploring beyond the limits of our current capabilities to map, manage, and analyze our world.
  </p>
  <a class="btn btn-lg btn-periwinkle" href="/texas-gis-forum/2016/agenda">View Full Agenda</a>


<h3>Platinum Sponsors</h3>
<section class="row">
 <div class="col-sm-4"> <a href="http://appgeo.com"><img class="img-responsive" alt="appgeo logo and link to website" src="https://tnris-org-static.s3.amazonaws.com/images/appgeo_logo_md_white.png"></a></div>
  
  <div class="col-sm-4"><a href="http://www.esri.com"><img class="img-responsive"  alt="Esri logo and link to website" src="https://tnris-org-static.s3.amazonaws.com/images/esri_logo_white.png"></a>   </div>
  
  <div class="col-sm-4"><a href="https://www.harrisgeospatial.com"><img class="img-responsive"  alt="Harris Corporation logo and link to website" src="https://tnris-org-static.s3.amazonaws.com/images/harris_sm_white.png"></a> </div>
  <a href="http://www.boundlessgeo.com/"><img alt="Boundless logo and link" src="https://tnris-org-static.s3.amazonaws.com/images/boundless_lg.png"></a>
</section>  

</div>

<div class="intro-2016-plain">
  <h3>Forum Photo Recaps</h3>
  <div class="media keynote-speaker">
    <div class="media-left">
        <a href="/news/2016-11-04/2016-texas-gis-forum-photo-recap-part-1">
            <img class="media-object" src="https://tnris-org-static.s3.amazonaws.com/images/forumrecap_th.jpg" alt="Shot of the Forum">
        </a>
    </div>
    <div class="media-body">
        <h3 class="media-heading"><a href="/news/2016-11-04/2016-texas-gis-forum-photo-recap-part-1">2016 Texas GIS Forum Photo Recap, Part 1</a></h3>
        <p>Part 1 covers mostly the first day of the conference, including Keynote Robert Ballard and the Forum Social.</p>
        <p><a class="btn btn-md btn-periwinkle" href="/news/2016-11-04/2016-texas-gis-forum-photo-recap-part-1">View Recap</a></p>
    </div>
</div>
<hr>

  <h3>Keynote Speakers<br><small>Bringing the best, Not just in GIS</small></h3>
<div class="media keynote-speaker">
    <div class="media-left">
        <a href="/news/2016-04-11/robert-ballard-discoverer-titanic-wreck-keynote-2016-gis-forum">
            <img class="media-object" src="https://tnris-org-static.s3.amazonaws.com/images/ballard_headshot_th.jpg" alt="A headshot of Robert Ballard">
        </a>
    </div>
    <div class="media-body">
        <h3 class="media-heading"><small>Wednesday, Oct. 26th, 9:00 – 10:00am</small><br><a href="/news/2016-04-11/robert-ballard-discoverer-titanic-wreck-keynote-2016-gis-forum">Robert Ballard, Oceanographer</a></h3>
        <p>Professor of Oceanography, Robert Ballard, who discovered the final resting place of the Titanic and many other shipwrecks, will be the keynote speaker on the first day of this year's GIS Forum.</p>
        <p><a class="btn btn-md btn-periwinkle" href="/news/2016-04-11/robert-ballard-discoverer-titanic-wreck-keynote-2016-gis-forum">Read More</a></p>
    </div>
</div>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/BQd-DAJJSRg?rel=0" frameborder="0" allowfullscreen></iframe>
<hr>

<div class="media keynote-speaker">
    <div class="media-left">
        <a href="/news/2016-07-26/forum-keynote-nazgol-bagheri-feminist-geographer-architect-urban-planner">
            <img class="media-object" src="https://tnris-org-static.s3.amazonaws.com/images/nazgol_headshot.jpg" alt="A headshot of Nazgol Bagheri">
        </a>
    </div>
    <div class="media-body">
        <h3 class="media-heading"><small>Thursday, Oct. 27th, 9:00 – 10:00am</small><br><a href="/news/2016-07-26/forum-keynote-nazgol-bagheri-feminist-geographer-architect-urban-planner">Nazgol Bagheri, Feminist Geographer</a></h3>
        <p>Nazgol Bagheri, architect, urban planner, and professor at UTSA with a feminist geography focus, will keynote the second day of the 2016 Texas GIS Forum.</p>
        <p><a class="btn btn-md btn-periwinkle" href="/news/2016-07-26/forum-keynote-nazgol-bagheri-feminist-geographer-architect-urban-planner">Read More</a></p>
    </div>
  </div>
  
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/B9rxx1swkb4?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="harris-sponsor-box">
  <div class="media">
    <div class="media-left">
        <a href="/news/2016-10-18/texas-gis-forum-sponsor-spotlight-harris">
            <img class="media-object" src="https://tnris-org-static.s3.amazonaws.com/images/harris_spotlight_th.jpg" alt="A headshot of Nazgol Bagheri">
        </a>
    </div>
    <div class="media-body">
        <h3 class="media-heading"><small>Platinum Sponsor Spotlight </small><br><a href="/news/2016-10-18/texas-gis-forum-sponsor-spotlight-harris">Harris GeoSpatial's Geiger Mode Lidar</a></h3>
        <p>Harris Geospatial, a Platinum sponsor of the 2016 Texas GIS Forum, share some important info with Geiger Mode Lidar.</p>
        <p><a class="btn btn-md btn-periwinkle" href="/news/2016-10-18/texas-gis-forum-sponsor-spotlight-harris">Read More</a></p>
    </div>
  </div>
</div>

