<div class="col-sm-8">
    <h2>Code, Code on the Range</h2>
    <p class="lead">TNRIS invites you to Austin on Friday, May 4, 2018, for the 6th annual GeoRodeo - a roundup of geodevelopers, coders, and professionals from across the state of Texas who are looking to incorporate new ideas and creative solutions into their work.</p>
    <p class="lead">This free, interactive, technical conference is geared toward the Texas GIS/geospatial developer community.</strong></p>
    <p class="lead">Join us to learn about tips and techniques for open data, open source, commercial GIS applications, and more!</p>

 <h2>We want to hear from you!</h2>
    <p class="lead">Our community has a wide array of developer knowledge and the GeoRodeo is intended to foster involvement from Code Wranglers of all experience levels. Whether you have written a Python script to automate a daily task, used Javascript to create a single page web application, put a Geoserver instance on a Raspberry Pi, or managed the deployment of a containerized multi-app infrastructure, please come share!</p>
    <p class="lead">Presentations will be categorized to help ensure the GeoRodeo has something for everyone. We consider all presentation subjects and do not limit only to the listed categories. This year's categories include:
      <ul>
        <li>My First App</li>
        <li>100 Lines of Code or Less</li>
        <li>Internet of Things (Raspberry Pi, Smart Home App, etc.)</li>
        <li>GeoProcessing Tool, Extension, or Add-On (ArcGIS, GDAL, QGIS)</li>
        <li>I Automated a Routine!</li>
        <li>Code Vigilante (Broke the Rules)</li>
        <li>Sharp Shooter (Advanced App)</li>
        <li>Elite Level Hacker</li>
        <li>Analysis & Conclusions</li>
        <li>Project Management</li>
        <li>User Experience/Interface or App/Site Design</li>
        <li>Other (We consider all presentations!)</li>
      </ul>
    </p>
    <div class="btn-box">
      <button class="btn btn-info" style="cursor: not-allowed !important;" disabled>
        {# <a href="/georodeo/call-for-presentations">
          Submit a Proposal
        </a> #}
      </button>
      <h4>Sorry, this year's call for presentations has closed.</h4>
    </div>
</div>
<div class="col-sm-4 intro-side">

  <h4>Free Registration</h4>
  <p>Registration is free and open to all. We look forward to seeing you at the GeoRodeo!</p>
  <div class="col-sm-12 btn-box">
    <button class="btn btn-success">
      <a href="/georodeo/2018/registration">Register Today</a>
    </button>
  </div>

<h4>Brought to You By</h4>
<p>Thank you to our sponsors who make it possible to host the Texas GeoRodeo.</p>
<a href="/texas-gis-forum/2018"><img style="width: 150px; margin: 0 auto; margin-top: 20px; display: block;" src="https://cdn.tnris.org/images/tx-gis-forum-white-square.png" alt="TX GIS Forum logo and link"></a>

<a href="http://www.esri.com"><img style="width: 200px; margin: 0 auto; display: block;" src="https://cdn.tnris.org/images/esri-2018-latest-white.png" alt="Esri logo and link"></a>

<a href="https://www.here.com/en"><img style="width: 150px; margin: 0 auto; margin-top: 20px; display: block;" src="https://cdn.tnris.org/images/here_logo_white.png" alt="Here logo and link"></a>



<h4>I am new to programming. Will I benefit from this?</h4>
<p>Yes, this event is designed to help you make connections and provide some guidance for accomplishing your geospatial goals. There will be an emphasis on coding and breaking down the process for modern geospatial solutions.  </p>

<h4>Should I bring my own Laptop?</h4>
<p>Yes, we encourage you to bring your own laptop loaded with whatever tools and code that you may want or need. There will be wireless internet connections available. Note: Make sure you have a fully charged battery to avoid power outlet ‘range wars’!</p>

<h4>Code of Conduct</h4>
<p>Attendees and participating organizations at the GeoRodeo are required to agree to a Code of Conduct</p>
<a class="btn btn-danger btn-lg btn-block" href="/georodeo/2018/code-of-conduct">View Code of Conduct </a>

</div>

  <!--<div class="col-sm-8" style="margin-bottom:25px;">
   <h2>Featured <a href="http://starwars.wikia.com/wiki/Slicer/Legends">'Slicers'</a></h2>

    <h3 id="about_turner">
      <img class="img-circle sm-key-circle keynote-circle 2018-georodeo-speaker" src="https://cdn.tnris.org/images/andrewturner.jpg" alt="Head shot of Andrew Turner from ESRI"><br>
      Andrew Turner<br><a class="keynote-title" href="http://dc.esri.com/">Director of R&amp;D Center, ESRI</a>
    </h3>
    <p>
      Neogeographer and Director of Esri R&amp;D DC. Open Source & Open Data Architect. Brewer, Trombonist, Cyclist, Idealistic Technocrat. Capitol Hill, DC
    </p>

    <h3 id="about_mkorver">
      <img class="img-circle sm-key-circle keynote-circle 2018-georodeo-speaker" src="https://cdn.tnris.org/images/mkorver.jpeg" alt="Head shot of Mark Korver from Amazon Web Services"><br>
      Mark Korver<br><a class="keynote-title" href="https://aws.amazon.com/">Geospatial Lead, Technical Vision and Business Development, Amazon Web Services</a>
    </h3>
    <p>
      Mark is the Geospatial Lead on the Specialist Team at AWS, part of the Technical Vision and Business Development group. He supports large geospatial customers, and works closely with the Scientific Compute and Open Data teams on projects such as Earth on AWS. In addition, he represents the solution architecture team as the core storage expert. Mark holds a Master in City Planning from MIT with a specialization in Technology Transfer and is a native Japanese speaker.
    </p>

    <h3 id="about_tsmith">
      <img class="img-circle sm-key-circle keynote-circle 2018-georodeo-speaker" src="https://cdn.tnris.org/images/ToddSmith2016.jpg" alt="Head shot of Todd Smith from Cesium"><br>
      Todd Smith<br><a class="keynote-title" href="https://cesiumjs.org/">Product Manager, Cesium</a>
    </h3>
    <p>
      Todd has been with the team from the beginning. While he works out of the Exton, PA office, he spends lots of time on the road, interfacing between the Cesium development team and the user community and forging partnerships. As the original Cesium ion power user, he has driven many of the improvements to ion. Todd is a Penn State GIS graduate and has been in the web mapping world for over 15 years.
    </p>

    <h3 id="about_cwilliams">
      <img class="img-circle sm-key-circle keynote-circle 2018-georodeo-speaker" src="https://cdn.tnris.org/images/williams_headshot.jpg" alt="Head shot of Chris Williams from HomeAway"><br>
      Chris Williams<br><a class="keynote-title" href="https://www.homeaway.com/">HomeAway</a>
    </h3>
    <p>
      Chris began to blend GIS and database fundamentals to solve data problems 20+ years ago at TCEQ. He was fortunate enough to find TNRIS and moved on to focus on solutions using SQL Server, ArcSDE and GeoDatabases. His current role at HomeAway is as a Database Engineer, where he works with a lot of database technologies (MongoDB, Cassandra, Neo4J, and SQL Server) to solve these problems. In the Fall, you can also find him teaching his GeoSpatial Database class at ACC, where he teaches these same data ideals.
    </p>

    <h3 id="about_martijn">
      <img class="img-circle sm-key-circle keynote-circle 2018-georodeo-speaker" src="https://cdn.tnris.org/images/martijn_headshot.jpg" alt="Head shot of Martijn van Exel from Open Street Map"><br>
      Martijn van Exel<br><a class="keynote-title" href="http://openstreetcam.org">Board of Directors, OpenStreetMap Foundation</a>
    </h3>
    <p>
      Martijn has been involved with the OpenStreetMap project since 2007 as a contributor and in a leadership capacity. He sits on the Board of Directors of the OpenStreetMap Foundation. He works for Telenav, where he leads initiatives related to OpenStreetMap aimed at improving the map for everyone.
    </p>

    <h3 id="about_sara">
      <img class="img-circle sm-key-circle keynote-circle 2018-georodeo-speaker" src="https://cdn.tnris.org/images/sara_headshot.jpg" alt="Head shot of Sara Safavi from Planet"><br>
      Sara Safavi<br><a class="keynote-title" href="https://www.planet.com/">Software Engineer, Planet</a>
    </h3>
    <p>
      Sara is a software engineer at Planet, where she creates tools to help developers, data scientists, and geo-people do amazing things with daily satellite imagery. When she's not geeking out over pretty pictures of Earth taken from space, Sara can frequently be found giving tech talks & teaching workshops centered around Python and/or geospatial data.
    </p>

    <h3 id="about_jferzoco">
      <img class="img-circle sm-key-circle keynote-circle 2018-georodeo-speaker" src="https://cdn.tnris.org/images/jferzoco_headshot_cropped.png" alt="Head shot of Jeff Ferzoco from Carto"><br>
      Jeff Ferzoco<br><a class="keynote-title" href="https://carto.com/">Customer Success Manager, Carto</a>
    </h3>
    <p>
      Jeff Ferzoco is on the Customer Success team at CARTO, and spends his days helping people better understand good mapping, design, strategy and technical choices. His background in design and urban planning have given him experience in cities, and he loves understanding places through data and cartography.
    </p>

    <h3 id="about_potts">
      <img class="img-circle sm-key-circle keynote-circle 2018-georodeo-speaker" src="https://cdn.tnris.org/images/potts_headshot.jpg" alt="Head shot of Michael Potts from Texas State Parks"><br>
      Michael Potts<br><a class="keynote-title" href="https://tpwd.texas.gov/state-parks/">Geodatabase Administrator, Texas Parks & Wildlife</a>
    </h3>
    <p>
      Michael Potts earned an MS in Geography from Texas A&amp;M University and interned for both Washington College and the National Park Service. Casey Trees hired him as a GIS Specialist in Washington DC, where he worked for 5 years. He has 10 years of experience in Python and has taken programming classes through TNRIS.  He also works in SQL, HTML, and JavaScript. Currently, he serves as Geodatabase Administrator for Texas State Parks in Austin.
    </p>

    <h3 id="about_ibrahim">
      <img class="img-circle sm-key-circle keynote-circle 2018-georodeo-speaker" src="https://cdn.tnris.org/images/ibrahim_headshot.jpg" alt="Head shot of Ibrahim Demir from the University of Iowa"><br>
      Ibrahim Demir<br><a class="keynote-title" href="https://uiowa.edu/">Assistant Professor, University of Iowa</a>
    </h3>
    <p>
      Ibrahim Demir is an assistant research professor at the University of Iowa. His research focuses on hydroinformatics, environmental information systems, scientific visualization, big data analytics, intelligent systems, and information communication. He has led the design and development of many research and operational cyber systems including Iowa Flood Information System, Iowa Water Quality Information System, NASA IFloodS Information Systems, and Iowa Watershed Approach Information System.
    </p>

    <h3 id="about_abradford">
      <img class="img-circle sm-key-circle keynote-circle 2018-georodeo-speaker" src="https://cdn.tnris.org/images/bradford_headshot.jpg" alt="Head shot of Andy Bradford from City of Abilene"><br>
      Andy Bradford<br><a class="keynote-title" href="https://tpwd.texas.gov/state-parks/">GIS Technician, City of Abilene</a>
    </h3>
    <p>
      Andy is a GIS Technician and Python programmer for the City of Abilene and the Abilene/Taylor County 911 District. Before moving to Texas, he worked as a consultant for cities in the Los Angeles area, and got a BA from California State University - Long Beach.
    </p>

    <h3 id="about_cburch">
      <img class="img-circle sm-key-circle keynote-circle 2018-georodeo-speaker" src="https://cdn.tnris.org/images/burch_headshot.jpg" alt="Head shot of Cristy Burch from Texas Parks and Wildlife"><br>
      Cristy Burch<br><a class="keynote-title" href="https://tpwd.texas.gov/">Regional GIS Specialist, Texas Parks and Wildlife</a>
    </h3>
    <p>
    </p>

</div>-->
