<h2>Agenda Overview</h2>
<table class="quick-agenda">
    <tr>
    <td><small>7:45AM to 8:30AM</small></td>
    <td><em>Registration – Breakfast – Social</em><br/></td>
  </tr>
    <tr>
    <td><small>8:30AM to 8:45AM</small></td>
    <td><h4>Opening Remarks - Richard Wade</h4></td>
  </tr>
  <tr>
    <td><small>8:45AM to 10:15AM</small></td>
    <td>
      <ul>
        <li><a class="smooth-scroll" href="#mkorver-2018"><i class="glyphicon glyphicon-user"></i> Mark Korver, AWS</a></li>
        <li><a class="smooth-scroll" href="#martijn-2018"><i class="glyphicon glyphicon-user"></i> Martijn van Exel, OSM</a></li>
        <li><a class="smooth-scroll" href="#cristy-2018"><i class="glyphicon glyphicon-user"></i> Cristy Burch, TPWD</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><small>10:15AM to 10:30AM</small></td>
    <td><em>Break</em></td>
  </tr>
  <tr>
    <td><small>10:30AM to 11:45AM</small></td>
    <td>
      <ul>
        <li><a class="smooth-scroll" href="#andrew-2018"><i class="glyphicon glyphicon-user"></i> Andrew Turner, ESRI</a></li>
        <li><a class="smooth-scroll" href="#potts-2018"><i class="glyphicon glyphicon-user"></i> Michael Potts, TPWD</a></li>
      </ul>
    </td>
  </tr>
    <tr>
    <td><small>11:45AM to 1:30PM</small></td>
    <td><em>Lunch on your own</em></td>
  </tr>
  <tr>
    <td><small>1:30PM to 3:00PM</small></td>
    <td>
      <ul>
        <li><a class="smooth-scroll" href="#jeff-2018"><i class="glyphicon glyphicon-user"></i> Jeff Ferzoco, Carto</a></li>
        <li><a class="smooth-scroll" href="#sara-2018"><i class="glyphicon glyphicon-user"></i> Sara Safavi, Planet</a></li>
        <li><a class="smooth-scroll" href="#todd-2018"><i class="glyphicon glyphicon-user"></i> Todd Smith, Cesium</a></li>
      </ul>
    </td>
	</tr>
  <tr>
    <td><small>3:00PM to 3:15PM</small></td>
    <td><em>Break</em></td>
  </tr>
  <tr>
    <td><small>3:15PM to 4:15PM</small></td>
    <td>
      <ul>
        <li><a class="smooth-scroll" href="#williams-2018"><i class="glyphicon glyphicon-user"></i> Chris Williams, HomeAway</a></li>
        <li><a class="smooth-scroll" href="#ibrahim-2018"><i class="glyphicon glyphicon-user"></i> Ibrahim Demir, University of Iowa</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><small>4:15PM to 4:30PM</small></td>
    <td><h4>Closing Remarks</h4></td>
  </tr>
  <tr>
    <td><small>5:00PM</small></td>

    <td><h4>Social at <a href="https://adelbertsbeer.com/taproom/">Adelbert's Brewery</a></h4></td>

  </tr>
</table>
