<nav class="navbar navbar-inverse georodeo-2018">
  <div class="container">
    <div class="navbar-header">

    </div>
    <ul class="nav navbar-nav">
        <li {% if (path == 'georodeo/2018') %}class="active"{% endif %}>
          <a href="/georodeo/2018">Welcome</a>
        </li>
     <!--    <li {% if (path == 'georodeo/2018/become-a-sponsor') %}class="active"{% endif %}>
          <a href="/georodeo/2018/become-a-sponsor">Become A Sponsor</a>
        </li> -->
        <!-- <li {% if (path == 'georodeo/2018/call-for-presentations') %}class="active"{% endif %}>
          <a href="/georodeo/2018/call-for-presentations">Call for Presentations</a>
        </li> -->
        <li {% if (path == 'georodeo/2018/registration') %}class="active"{% endif %}>
          <a href="/georodeo/2018/registration">Register</a>
        </li>
  </div>
</nav>
