
{{form.before("postergallery")}}
  {{form.input("Name", "Name", "text", true)}}
  {{form.input("Email", {
      label: "Email",
      placeholder: "Enter email address"
    }, "email", true)}}
  {{form.input("title", {
      label: "Poster Title",
      placeholder: "Enter the poster title"
    }, "text", true)}}
  {{form.textarea("description", {
      label: "Description",
      placeholder: "Enter a short description of the poster's contents"
    }, true, true)}}
  {{form.input("Phone", {
      label: "Phone",
      placeholder: "Enter your phone number"
    }, "tel", false)}}
  {{form.input("Organization", {
      label: "Organization",
      placeholder: "Who are you affiliated with?"
    }, "text", true)}}

  {{form.submit("message")}}
{{form.after()}}
