<a class="button primary" 
  href="https://events.eply.com/2022TXGISForumRegistration">
  Register Now</a>
<h2 class="forum-2022-h2">7:00 - 8:30am</h2>
<div class="agenda-item-wrapper centered no-detail">
  <p><b>Registration</b></p>
</div>
<h2 class="forum-2022-h2">8:30 - 10:00am</h2>
<div class="agenda-item-wrapper no-detail">
  <p><b>TOPIC: Emergency Response/Mitigation</b></p>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Organized Chaos: Making Sense of Emergency Data</h3>
    <p><strong>Trevor Surface, Erik Schenck</strong> | City of Sugar Land</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Region VI Texas Recovery Office Web-Based Loss Avoidance Study</h3>
    <p><strong>Paloma Alaniz, Karen Eldridge</strong> | FEMA</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">EAA First Responder Program: Fighting Firefighter Water Runoff and Changing the Course of the Future for the Aquifer and Those Who Depend on It</h3>
    <p><strong>Sarah Eason, GISP</strong> | Edwards Aquifer Authority</p>
  </div>
</div>
<div class="agenda-item-wrapper no-detail">
  <p><b>TOPIC: Water GIS</b></p>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Using GIS to Promote Onsite Water Reuse and Water Conservation</h3>
    <p><strong>Prachi Patel, Aubrey Drescher</strong> | Austin Water</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Building an Open Data Hub</h3>
    <p><strong>Laura Sepulveda, Taylor Christian</strong> | Texas Water Development Board</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Modernizing Parks with Multi-Functional Flood Control: How to Increase Resiliency, Improve Water Quality, and Protect Water Availability</h3>
    <p><strong>Jennifer Walker</strong> | Watearth</p>
  </div>
</div>
<h2 class="forum-2022-h2">10:00 - 10:30am</h2>
<div class="agenda-item-wrapper centered no-detail">
  <p><b>Break & Exhibits</b></p>
</div>
<h2 class="forum-2022-h2">10:30 - 12:00pm</h2>
<div class="agenda-item-wrapper no-detail centered">
  <p><b>Gold Presentations</b></p>
  <div class="agenda-item">
    <p><strong>TBD</strong></p>
  </div>
</div>
<h2 class="forum-2022-h2">12:00 - 1:00pm</h2>
<div class="agenda-item-wrapper centered no-detail">
  <p><b>Lunch & Exhibits</b></p>
</div>
<h2 class="forum-2022-h2">1:00 - 1:45pm</h2>
<div class="agenda-item-wrapper centered no-detail">
  <p><b>Platinum Presentation</b></p>
  <div class="agenda-item">
    <p><strong>Esri</strong></p>
  </div>
</div>
<h2 class="forum-2022-h2">1:45 - 2:00pm</h2>
<div class="agenda-item-wrapper centered no-detail">
  <p><b>Break & Exhibits</b></p>
</div>
<h2 class="forum-2022-h2">2:00pm - 3:30pm</h2>
<div class="agenda-item-wrapper no-detail">
  <p><b>TOPIC: Monitoring the Environment Around Us</b></p>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Predicting the Potential Spread of Tropical Diseases into New Environments Using GIS</h3>
    <p><strong>Michael Shensky, Katherine Brown</strong> | University of Texas at Austin</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Updated Texas Rookeries</h3>
    <p><strong>Daniel Gao</strong> | GLO</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">LiDAR Point Cloud Data Visualization to Detect Karst Sinkholes and Depressions</h3>
    <p><strong>Richard Zarria</strong> | Zarria Environmental Consulting</p>
  </div>
</div>
<h2 class="forum-2022-h2">3:30 - 4:00pm</h2>
<div class="agenda-item-wrapper centered no-detail">
  <p><b>Break & Exhibits</b></p>
</div>
<h2 class="forum-2022-h2">4:00 - 5:00pm</h2>
<div class="agenda-item-wrapper no-detail">
  <p><b>Keynote Speaker</b></p>
  <div class="agenda-item">
    <p><strong>Mark McCoy, Ph.D.</strong></p>
  </div>
</div>
<h2 class="forum-2022-h2">5:00pm</h2>
<div class="agenda-item-wrapper no-detail">
  <p><b>Closing Remarks</b></p>
  <div class="agenda-item">
    <p><strong>Richard Wade</strong> | TNRIS Deputy Executive Administrator/State GIO</p>
  </div>
</div>