<a class="button primary" 
  href="https://events.eply.com/2022TXGISForumRegistration">
  Register Now</a>
<h2 class="forum-2022-h2">7:00 - 8:30am</h2>
<div class="agenda-item-wrapper centered no-detail">
  <p><b>Registration</b></p>
</div>
<h2 class="forum-2022-h2">8:30 - 9:00am</h2>
<div class="agenda-item-wrapper no-detail">
  <p><b>Opening Remarks</b></p>
  <div class="agenda-item">
    <p><strong>Richard Wade</strong> | TNRIS Deputy Executive Administrator/State GIO</p>
  </div>
</div>
<h2 class="forum-2022-h2">9:00 - 10:00am</h2>
<div class="agenda-item-wrapper no-detail">
  <p><b>Keynote Speaker</b></p>
  <div class="agenda-item">
    <p><strong>Erin Helton</strong></p>
  </div>
</div>
<h2 class="forum-2022-h2">10:30am - 12:00pm</h2>
<div class="agenda-item-wrapper no-detail">
  <p><b>TOPIC: Innovative Initiatives</b></p>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">TNRIS Store/Texas GIS Branding</h3>
    <p><strong>Laura Sepulveda, Richard Wade</strong> | TNRIS</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">The Development of Route30, a Free and Open-Source Software Client-Side Routing Library</h3>
    <p><strong>George Adams</strong> | Southwest Research Institute</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Scanning the TNRIS Historical Aerial Archive</h3>
    <p><strong>Chelsea Sidenblad, Aaron Pearce</strong> | TNRIS</p>
  </div>
</div>
<div class="agenda-item-wrapper no-detail">
  <p><b>TOPIC: Creative Coordination</b></p>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Connecting Your Network of GIS Professionals</h3>
    <p><strong>Courtney Roe</strong> | Pape-Dawson Engineers</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">A Journey Through the NCTCOG Spatial Data Cooperative Program from 2001 to Present Day: Making the Cooperative Model Work</h3>
    <p><strong>Shelley Broyles, Sam Moffatt</strong> | NCTCOG</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">GIS@ACC</h3>
    <p><strong>Sean Moran, Deborah Massaro</strong> | Austin Community College</p>
  </div>
</div>
<h2 class="forum-2022-h2">12:00 - 1:00pm</h2>
<div class="agenda-item-wrapper centered no-detail">
  <p><b>Lunch & Exhibits</b></p>
</div>
<h2 class="forum-2022-h2">1:00 - 1:45pm</h2>
<div class="agenda-item-wrapper no-detail centered">
  <p><b>Platinum Presentation</b></p>
  <div class="agenda-item">
    <p><strong>Surdex</strong></p>
  </div>
</div>
<h2 class="forum-2022-h2">1:45 - 2:00pm</h2>
<div class="agenda-item-wrapper centered no-detail">
  <p><b>Break & Exhibits</b></p>
</div>
<h2 class="forum-2022-h2">2:00pm - 3:30pm</h2>
<div class="agenda-item-wrapper no-detail">
  <p><b>TOPIC: Workflows</b></p>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Transportation Corridor Grading Automation with Python</h3>
    <p><strong>Zachary Lansford, Jeremy Gaskins</strong> | BGE, Inc.</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">GIS & CAD Interoperability: Solutions for Sharing your Data</h3>
    <p><strong>Courtney Roe</strong> | Pape-Dawson Engineers</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Maintaining 9-1-1 Data Integrity Using FME</h3>
    <p><strong>Bruno Blanco</strong> | North Central Texas Emergency Communications District</p>
  </div>
</div>
<div class="agenda-item-wrapper no-detail">
  <p><b>TOPIC: Working with Data</b></p>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">30 Years of Change: Block Level Demographics in Texas</h3>
    <p><strong>Jim Castagneri, Lacey Loftin</strong> | U.S. Census Bureau</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">The Yellow Brick Road of Spatial Data Infrastructures: Boundaries, Roads, and Address Points, Oh My!</h3>
    <p><strong>Sheila Steffenson, Ravi Nigudkar</strong> | 1Spatial Inc.</p>
  </div>
</div>
<h2 class="forum-2022-h2">3:30 - 4:00pm</h2>
<div class="agenda-item-wrapper centered no-detail">
  <p><b>Break & Exhibits</b></p>
</div>
<h2 class="forum-2022-h2">4:00pm - 5:30pm</h2>
<div class="agenda-item-wrapper no-detail">
  <p><b>TOPIC: Applications</b></p>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Quilting: Not Just a Pandemic Hobby</h3>
    <p><strong>Rachel Forster</strong> | Texas Water Development Board</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">A Case for Comprehensive Debris Assessments</h3>
    <p><strong>Trevor Surface, Erik Schenck</strong> | City of Sugar Land</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Flood Decision Support Toolbox: How the Successful Collaboration between Federal and State Resources Created a State-of-the-Art Flood Application</h3>
    <p><strong>Christine Blickenstaff, Richard Wade</strong> | USGS</p>
  </div>
</div>
<div class="agenda-item-wrapper no-detail">
  <p><b>TOPIC: Working with Data</b></p>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">The Significance of Census Tract Changes</h3>
    <p><strong>Jim Castagneri, Lacey Loftin</strong> | U.S. Census Bureau</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Target-Oriented Validation Strategies Reveal Slight Increase in Predictive Performance of LULUC Classification Using LiDAR Data over NAIP Data</h3>
    <p><strong>Mukti Subedi, Carlos Portillo-Quintero</strong> | Texas Tech University</p>
  </div>
  <div class="agenda-item no-detail">
    <h3 class="forum-2022-h3">Automating Workflows: Wetland Delineations from Survey to Report</h3>
    <p><strong>Michael Thibodaux, Jeremy Gaskins</strong> | BGE Inc.</p>
  </div>
</div>
<h2 class="forum-2022-h2">5:00 - 7:00pm</h2>
<div class="agenda-item-wrapper no-detail centered">
  <p><b>Forum Social</b></p>
  <div class="agenda-item">
    <p><strong>TBD</strong></p>
  </div>
</div>
