<div class="accordion" id="accordionExample1">
  <hr>
  <div class="agenda-card">
    <div class="agenda-card-header">
      <div class="btn btn-block text-left">
        <div class="flex-button">
          <div class="agenda-abstract"> 
            <p class="agenda-time"><strong>8 - 10am</strong></p>
            <div>
              <h2 class="forum-2022-h2">Registration</h2>
            </div>
          </div>
          <div>
              <a class="button primary" 
            href="https://events.eply.com/2022TXGISForumRegistration">
            Register Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="agenda-card">
    <div class="agenda-card-header">
      <div class="btn btn-block text-left"> 
        <div class="agenda-abstract"> 
          <div>
            <h2 class="forum-2022-h2">Town Hall: State of the State</h2>
          </div>
        </div>
      </div>
      <div class="btn btn-block text-left agenda-hover" data-toggle="collapse" data-target="#collapseA" aria-expanded="false" aria-controls="collapseA">
        <div class="flex-button">  
          <div class="agenda-abstract"> 
            <p class="agenda-time"><strong>8:30 - 9:15am</strong></p>
            <div>
              <h3 class="forum-2022-h3">Geographic Information Office Updates</h3>
              <p>Richard Wade, Felicia Retiz | TNRIS</p>
            </div>
          </div>
          <div>
            <p class="details">details <span class="carrot">&#9660;</span></p>
          </div>
        </div>
      </div>
    </div>
    <div id="collapseA" class="collapse fade" aria-labelledby="headingA" data-parent="#accordionExample1">
      <div class="card-body">
        <h4 class="forum-2022-h4">Session Description</h4>
        <p>
          Overview of the GIO report, GIS Solutions Group and Community Meetings, the GIO Report, and other outreach initiatives.
        </p>
      </div>
    </div>
    <div class="btn btn-block btn-grey text-left agenda-hover" data-toggle="collapse" data-target="#collapseB" aria-expanded="false" aria-controls="collapseB">
      <div class="flex-button">  
        <div class="agenda-abstract"> 
          <p class="agenda-time"><strong>9:15 - 9:30am</strong></p>
          <div>
            <h3 class="forum-2022-h3 agenda-hover">The New Information Services at TNRIS</h3>
            <p>Joe Sepulveda | TNRIS</p>
          </div>
        </div>
        <div>
          <p class="details">details <span class="carrot">&#9660;</span></p>
        </div>
      </div>
    </div>
    <div id="collapseB" class="collapse fade" aria-labelledby="headingB" data-parent="#accordionExample1">
      <div class="card-body">
        <h4 class="forum-2022-h4">Session Description</h4>
        <p>
          Introduction of the new IS team and an quick overview of future plans.
        </p>
      </div>
    </div>
    <div class="btn btn-block btn-grey text-left agenda-hover" data-toggle="collapse" data-target="#collapseC" aria-expanded="false" aria-controls="collapseC">
      <div class="flex-button">  
        <div class="agenda-abstract"> 
          <p class="agenda-time"><strong> 9:30 - 11:45am</strong></p>
          <div>
            <h3 class="forum-2022-h3 agenda-hover">Strategic Mapping Program</h3>
            <p>Gayla Mullins, Joey Thomas, Lauren Kirk, Chelsea Sidenblad | TNRIS</p>
          </div>
        </div>
        <div>
          <p class="details">details <span class="carrot">&#9660;</span></p>
        </div>
      </div>
    </div>
    <div id="collapseC" class="collapse fade" aria-labelledby="headingC" data-parent="#accordionExample1">
      <div class="card-body">
        <h4 class="forum-2022-h4">Session Description</h4>
        <p>
          Program overview including recent changes, visions of the future, SM Contracts update, and more. This will be an interactive session so we encourage all to participate!
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="agenda-card">
    <div class="agenda-card-header">
      <div class="btn btn-block text-left">
        <div class="flex-button">  
          <div class="agenda-abstract"> 
            <p class="agenda-time"><strong>11:45 - 12pm</strong></p>
            <div>
              <h2 class="forum-2022-h2">Forum Closing Remarks</h2>
              <h3 class="forum-2022-h3">Richard Wade</h3>
              <p>TNRIS Deputy Executive Administrator/State GIO</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>