<a class="button primary" 
  href="https://events.eply.com/2022TXGISForumRegistration">
  Register Now</a>
<h2 class="forum-2022-h2">7:00 - 8:30am</h2>
<div class="agenda-item-wrapper centered no-detail">
  <p><b>Registration</b></p>
</div>
<h2 class="forum-2022-h2">8:30am - 12:00pm</h2>
<div class="agenda-item-wrapper centered no-detail">
  <p><b>Town Hall: State of the State</b></p>
</div>