<div class="accordion" id="accordionExample1">
  <hr>
  <div class="agenda-card">
    <div class="agenda-card-header">
      <div class="btn btn-block text-left">
        <div class="flex-button">
          <div class="agenda-abstract"> 
            <p class="agenda-time"><strong>7 - 8:30am</strong></p>
            <div>
              <h2 class="forum-2022-h2">Registration</h2>
            </div>
          </div>
          <div>
              <a class="button primary" 
            href="https://events.eply.com/2022TXGISForumRegistration">
            Register Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="agenda-card">
    <div class="agenda-card-header">
      <div class="btn btn-block text-left" type="button">
        <div class="flex-button">  
          <div class="agenda-abstract"> 
            <p class="agenda-time"><strong>8:30 - 12pm</strong></p>
            <div>
              <h2 class="forum-2022-h2">Town Hall: State of the State</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>