<nav class="forum-2022-nav">
  <ul>
      <li class="{% if (path == 'texas-gis-forum/2022') %}active{% endif %}" >
        <a href="/texas-gis-forum/2022">Welcome</a>
      </li>
      <li class="{% if (path == 'texas-gis-forum/2022/sponsors-and-exhibitors') %}active{% endif %}" >
        <a href="/texas-gis-forum/2022/sponsors-and-exhibitors">Become a Sponsor</a>
      </li>
  </ul>
</nav>
