
{% extends "base.njk" %}
{% import "_form_macros.njk" as form %}

{% block styles %}
  {{ super() }}

  {{form.styles()}}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {{form.scripts()}}

{% endblock %}


{% block topcontent %}
  <div id="_2016-forum-container" class="welcome_2016">

        {% include "events/texas-gis-forum/2016/nav.njk" %}
        <div class="forum-img-xs d-lg-none d-md-none d-sm-none">
          <img class="img-fluid" src="https://cdn.tnris.org/images/exploring_limits_xs.jpg" alt="Exploring Limits">
        </div>
        <div class="forum-home-left-2016 d-none">
          <img class="img-fluid" src="https://cdn.tnris.org/images/exploring_limits_vert_banner.jpg" alt="Texas GIS Forum Vertical Graphic - Exploring Beyond the Limits">
        </div>
        <div class="forum-home-right-2016">


              {% include "events/texas-gis-forum/2016/welcome.njk" %}

              {% include "events/texas-gis-forum/2016/main-supplemental.njk" %}


        </div>


  </div>
{% endblock %}


{% block contentsTwo %}
<section class="forum-sponsors">
    {% include "events/texas-gis-forum/2016/sponsors.njk" %}
  </section>
</div>
{% endblock %}
