<div class="intro-2016-plain">
  <div class="media keynote-speaker">
    <div class="media-left">
        <a href="/texas-gis-forum/2016/job-board">
            <img class="media-object" src="https://cdn.tnris.org/images/sticky_job_square.jpg" alt="A post-it note with job opening on it">
        </a>
    </div>
    <div class="media-body">
        <h3 class="media-heading"><a href="/texas-gis-forum/2016/job-board">Forum Job Board</a></h3>
        <p>We'll have a job board with GIS job openings from Forum sponsors, exhibitors, and anyone else wanting to tap the talent at the forum. If your organization has an open GIS-related position, <a href="/texas-gis-forum/2016/job-board">contact us</a>.</p>
        <p><a class="btn btn-md btn-periwinkle" href="/texas-gis-forum/2016/job-board">Submit a Job Opening</a></p>
    </div>
</div>
<hr>
<div class="media keynote-speaker">
    <div class="media-left">
        <a href="/texas-gis-forum/2016/poster-gallery">
            <img class="media-object" src="https://cdn.tnris.org/images/poster_gallery_square.jpg" alt="people looking at posters in the poster gallery">
        </a>
    </div>
    <div class="media-body">
        <h3 class="media-heading"><a href="/texas-gis-forum/2016/job-board">Poster Gallery &amp; Contest</a></h3>
        <p>Showcase your work and submit it to a contest, judged by your peers, to determine which map excels in the art of cartography. </p>
        <p><a class="btn btn-md btn-periwinkle" href="/texas-gis-forum/2016/poster-gallery">Submit a Poster</a></p>
    </div>
</div>
</div>
