<nav class="navbar navbar-inverse forum-bar-2016">
  <div class="container">
    <div class="navbar-header">
      <h1 class="forum-brand">
      <a href="/texas-gis-forum/2016">Texas GIS Forum</a></h1>

          <div class="forum-date-2016"><h2>October 24th-27th, 2016 | Austin, Texas</h2></div>
          <img class="img-responsive exploring-beyond-text" src="https://tnris-org-static.s3.amazonaws.com/images/exploring_beyond_text.png" alt="Text: Exploring Beyond the Limits">


    </div>
    <ul class="nav navbar-nav">
        <li {% if (path == 'texas-gis-forum/2016') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2016">Welcome</a>
        </li>
        <li {% if (path == 'texas-gis-forum/2016/agenda') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2016/agenda">Agenda</a>
        </li>
        <li {% if (path == 'texas-gis-forum/2016/training') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2016/training">Training</a>
        </li>
        <!-- <li {% if (path == 'texas-gis-forum/2016/call-for-papers') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2016/call-for-papers">Call For Papers</a>
        </li> -->
        <li {% if (path == 'texas-gis-forum/2016/poster-gallery') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2016/poster-gallery">Poster Contest</a>
        </li>
        <li {% if (path == 'texas-gis-forum/2016/sponsors-and-exhibitors') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2016/sponsors-and-exhibitors">Sponsors &amp; Exhibitors</a>
        </li>

        <li {% if (path == 'texas-gis-forum/2016/location-lodging') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2016/location-lodging">Location &amp; Lodging</a>
        </li>
      </ul>

  </div>
</nav>
