<div class="registration-box-2016">
    <h3>Registration Fees</h3>
    <p class="lead">Online Registration <strong>closed on October 14th</strong>. Walk-ups can register on site at the Forum.</p>
        <table class="table table-sm table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Before Sep. 23</th>
                    <th>Sep. 26 - Oct. 14</th>
                    <th>Onsite</th>
                    <th>One Day</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Government</strong></td>
                    <td>$<strike>275</strike></td>
                    <td><strike>$300</strike></td>
                    <td>$325</td>
                    <td>$200</td>
                </tr>
                <tr>
                    <td><strong>Industry</strong></td>
                    <td><strike>$325</strike></td>
                    <td>$<strike>350</strike></td>
                    <td>$375</td>
                    <td>$250</td>
                </tr>
                <tr>
                    <td><strong> Student</strong></td>
                    <td><strike>$50</strike></td>
                    <td><strike>$50</strike></td>
                    <td>$50</td>
                    <td>$25</td>
                </tr>
            </tbody>
        </table>
<!-- 
    Government  $275  $300  $325  $200

    Industry  $325  $350  $375  $250

    Student $50 $50 $50 $25 -->

    <p>NOTE: Those registering as a "Student" MUST present a valid student I.D. upon registration check-in.</p>
    <p><strong>Are you a recent GIS graduate or unemployed GIS practitioner?</strong> Call us at 512-463-8337 to discuss attending the forum at the discounted student rate.
    </p>
<!--     <a class="btn btn-lg btn-periwinkle mx-auto d-block" style="max-width: 60%;" href="{{buttonurl}}">
        <i class="glyphicon glyphicon-pencil"></i> {{buttontext}}
    </a> -->
</div>
