<div class="forum-intro-2016">

 <p class="lead">
    For nearly 3 decades, the Texas GIS Forum has been the can't-miss event for the statewide GIS community. From the public and private sector, the forum brings together those exploring beyond the limits of our current capabilities to map, manage, and analyze our world.
  </p>
<a class="btn btn-lg btn-periwinkle col-lg-12" href="/texas-gis-forum/2016/agenda">View Full Agenda</a>


<h3>Platinum Sponsors</h3>
<section class="row">
 <div class="col-sm-4"> <a href="https://appgeo.com"><img class="img-fluid" alt="appgeo logo and link to website" src="https://cdn.tnris.org/images/appgeo_logo_md_white.png"></a></div>
  
  <div class="col-sm-4"><a href="https://www.esri.com"><img class="img-fluid"  alt="Esri logo and link to website" src="https://cdn.tnris.org/images/esri_logo_white.png"></a>   </div>
  
  <div class="col-sm-4"><a href="https://www.harrisgeospatial.com"><img class="img-fluid"  alt="Harris Corporation logo and link to website" src="https://cdn.tnris.org/images/harris_sm_white.png"></a> </div>
</section>  

</div>

<div class="intro-2016-plain">
  <h3>Forum Photo Recaps</h3>
  <div class="media keynote-speaker">
    <div class="media-body">
        <h3 class="media-heading">2016 Texas GIS Forum Photo Recap, Part 1</h3>
        <p>Part 1 covers mostly the first day of the conference, including Keynote Robert Ballard and the Forum Social.</p>
    </div>
</div>
<hr>

  <h3>Keynote Speakers<br><small>Bringing the best, Not just in GIS</small></h3>
<div class="media keynote-speaker">
    <div class="media-body">
        <h3 class="media-heading"><small class="text-muted">Wednesday, Oct. 26th, 9:00 – 10:00am</small><br>Robert Ballard, Oceanographer</h3>
        <p>Professor of Oceanography, Robert Ballard, who discovered the final resting place of the Titanic and many other shipwrecks, will be the keynote speaker on the first day of this year's GIS Forum.</p>
    </div>
</div>
        <iframe title="2016 GIS Forum Keynote Day 1" width="100%" height="315" src="https://www.youtube.com/embed/BQd-DAJJSRg?rel=0" frameborder="0" allowfullscreen></iframe>
<hr>

<div class="media keynote-speaker">
    <div class="media-body">
        <h3 class="media-heading"><small class="text-muted">Thursday, Oct. 27th, 9:00 – 10:00am</small><br>Nazgol Bagheri, Feminist Geographer</h3>
        <p>Nazgol Bagheri, architect, urban planner, and professor at UTSA with a feminist geography focus, will keynote the second day of the 2016 Texas GIS Forum.</p>
    </div>
  </div>
  
        <iframe title="2016 GIS Forum Keynote Day 2" width="100%" height="315" src="https://www.youtube.com/embed/B9rxx1swkb4?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="harris-sponsor-box">
  <div class="media">
    <div class="media-body">
        <h3 class="media-heading"><small class="text-muted">Platinum Sponsor Spotlight </small><br>Harris GeoSpatial's Geiger Mode Lidar</h3>
        <p>Harris Geospatial, a Platinum sponsor of the 2016 Texas GIS Forum, share some important info with Geiger Mode Lidar.</p>
    </div>
  </div>
</div>

