
<h2>Utilities</h2>

<h3><a href="https://github.com/TNRIS/bulk-downloader" target="app">TNRIS Bulk Downloader</a></h3>

<a class="utility-image" href="https://github.com/TNRIS/bulk-downloader" target="app">
  <img src="https://cdn.tnris.org/images/bulk-downloader.png" class="img-fluid" alt="TNRIS Bulk Downloader" title="TNRIS Bulk Downloader">
</a>
<p style="margin:10px 0 0 0;">
  The Bulk Downloader utility uses the publicly available TNRIS REST API for data.tnris.org collection resources. It allows for bulk downloading an entire collections'
  resources, bypassing the need to click each area polygon (county, quad, qquad, etc) in the download map. Click the link above and follow the documentation to get started.
</p>

<hr>

<h3><a href="https://www.amazon.com/TNRIS-Natural-Resources-Information-System/dp/B075QPJZHF/ref=sr_1_1?ie=UTF8&qid=1521043631&sr=8-1&keywords=tnris" target="app">TNRIS Alexa Skill</a></h3>

<a class="utility-image" href="https://www.amazon.com/TNRIS-Natural-Resources-Information-System/dp/B075QPJZHF/ref=sr_1_1?ie=UTF8&qid=1521043631&sr=8-1&keywords=tnris" target="app">
  <img src="https://cdn.tnris.org/images/alexa.png" class="img-fluid" alt="TNRIS Alexa Skill" title="TNRIS Alexa Skill">
</a>
<p style="margin:10px 0 0 0;">
  Enable the free TNRIS Alexa Skill on your Amazon Echo! The skill provides users with the ability to verbally interact with the Historical Aerial archive database by asking about
  what years and counties are available.
</p>

<hr>

<h2>Code</h2>

<h3><a href="https://github.com/TNRIS" target="app">Github</a></h3>

<a class="utility-image" href="https://github.com/TNRIS" target="app">
  <img src="https://cdn.tnris.org/images/GitHub-logo.png" class="img-fluid" alt="Github Octocat Logo" title="TNRIS Organization Github">
</a>
<p style="margin:10px 0 0 0;">
  Check out the TNRIS Organization on Github to see the code behind many of our applications and utilities. Be sure to 'Star' the repositories you like!
</p>

<hr>

<h3><a href="https://www.npmjs.com/~tnris" target="app">Node Package Manager (NPM)</a></h3>

<a class="utility-image" href="https://www.npmjs.com/~tnris" target="app">
  <img src="https://cdn.tnris.org/images/npm.svg" class="img-fluid" alt="NPM Logo" title="TNRIS Organization NPM">
</a>
<p style="margin:10px 0 0 0;">
  Check out the TNRIS account on the Node Package Manager (NPM) to see what NodeJS packages we have shared for use in your javascript programs and applications.
</p>
