
<h2>Utilities</h2>

<h3><a href="https://www.amazon.com/TNRIS-Natural-Resources-Information-System/dp/B075QPJZHF/ref=sr_1_1?ie=UTF8&qid=1521043631&sr=8-1&keywords=tnris" target="app">TNRIS Alexa Skill</a></h3>
<a class="utility-image" href="https://www.amazon.com/TNRIS-Natural-Resources-Information-System/dp/B075QPJZHF/ref=sr_1_1?ie=UTF8&qid=1521043631&sr=8-1&keywords=tnris" target="app">
  <img src="https://tnris-org-static.s3.amazonaws.com/images/alexa.png" class="img-responsive" alt="Alexa Skill Logo" title="TNRIS Alexa Skill">
</a>
<p>
  Enable the free TNRIS Alexa Skill on your Amazon Echo! The skill provides users with the ability to verbally interact with the Historical Aerial archive database by asking about what years and counties are available.
</p>

<hr>

<h3><a href="https://github.com/TNRIS/tx.geojson" target="app">tx.geojson</a></h3>

  <a class="utility-image" href="https://github.com/TNRIS/tx.geojson" target="app">
    <img src="https://tnris-org-static.s3.amazonaws.com/images/txgeojson.png" class="img-responsive" alt="Texas Geojson Screenshot" title="tx.geojson">
  </a>
  <p>
    Need quick and easy access to the Texas statewide and county boundaries in your application? This package provides these geospatial boundaries in both geojson and topojson formats.
  </p>


<h2>Code</h2>

<h3><a href="https://github.com/TNRIS" target="app">Github</a></h3>

  <a class="utility-image" href="https://github.com/TNRIS" target="app">
    <img src="https://tnris-org-static.s3.amazonaws.com/images/Octocat.png" class="img-responsive" alt="Github Octocat Logo" title="TNRIS Organization Github">
  </a>
  <p>
    Check out the TNRIS Organization on Github to see the code behind many of our applications and utilities. Be sure to 'Star' the repositories you like!
  </p>


<hr>

<h3><a href="https://www.npmjs.com/~tnris" target="app">Node Package Manager (NPM)</a></h3>

  <a class="utility-image" href="https://www.npmjs.com/~tnris" target="app">
    <img src="https://tnris-org-static.s3.amazonaws.com/images/npm.svg" class="img-responsive" alt="NPM Logo" title="TNRIS Organization NPM">
  </a>
  <p>
    Check out the TNRIS account on the Node Package Manager (NPM) to see what NodeJS packages we have shared for use in your javascript programs and applications.
  </p>


<h2>History</h2>
<h3><a href="http://giscat.tnris.org/">GISCAT</a></h3>
 <a class="utility-image" href="http://giscat.tnris.org/" target="app">
    <img src="https://tnris-org-static.s3.amazonaws.com/images/GISCAT_transparent.png" class="img-responsive" alt="Classic Data Catalog pouncing tiger" title="GISCAT">
  </a>
  <p>
    GISCAT (Geospatial Information System Catalog) was originally created in 1996 by former GIS Coordinator Andrew Poth as the mechanism to organize all of TNRIS's data into a central location. Take a look at the resourceful ways we organized data in past decades and to see how far we've come. <a href="/news/2018-04-01/gis-cat-clawing-its-way-back-to-tnris">GIS Cat always claws back!</a>
  </p>
