
<h2>Code</h2>

<h3><a href="https://github.com/TNRIS" target="app">Github</a></h3>

<a class="utility-image" href="https://github.com/TNRIS" target="app">
  <img src="https://cdn.tnris.org/images/GitHub-logo.png" class="img-fluid" alt="Github Octocat Logo" title="TNRIS Organization Github">
</a>
<p style="margin:10px 0 0 0;">
  Check out the TNRIS Organization on Github to see the code behind many of our applications and utilities. Be sure to 'Star' the repositories you like!
</p>

<hr>

<h3><a href="https://www.npmjs.com/~tnris" target="app">Node Package Manager (NPM)</a></h3>

<a class="utility-image" href="https://www.npmjs.com/~tnris" target="app">
  <img src="https://cdn.tnris.org/images/npm.svg" class="img-fluid" alt="NPM Logo" title="TNRIS Organization NPM">
</a>
<p style="margin:10px 0 0 0;">
  Check out the TNRIS account on the Node Package Manager (NPM) to see what NodeJS packages we have shared for use in your javascript programs and applications.
</p>
