<noscript>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
          <h4>
            <i class="fa fa-warning"></i> JavaScript is not enabled
          </h4>
          <p>
            Many features of this website use JavaScript to enhance usability and provide a pleasant user experience.
          </p>
          <p>
            Please see: <a class="alert-link" href="http://www.google.com/support/bin/answer.py?answer=23852">How to enable JavaScript</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</noscript>

<!--[if lte IE 8]>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
          <h4>
            <i class="fa fa-warning"></i> Outdated Browser
          </h4>
          <p>
            You are using an outdated browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
          </p>
        </div>
      </div>
    </div>
  </div>
<![endif]--> 