<div class="panel panel-danger">
	<div class="panel-heading">
		<h2 class="panel-title">Cancellation Policy</h2>
	</div>
	<div id="cancellation-body" class="panel-body">
		<p>We rely on student attendance to make important arrangements for the courses. Please contact us if there is any change in your reservation.</p>

		<h4>Withdrawal/Cancellation</h4>
		<p>Withdrawal from a course after registration has been submitted takes place on occasion.  Students must submit written notice no later than 10 business days prior to the first day of the scheduled session.  Email is an acceptable form of written communication.  The course fee will be refunded, minus a $60 processing fee.</p>

		<h4>Refund</h4>
		<p>Refunds cannot be made for withdrawals initiated within 10 days of the first day of the scheduled class.  However, the registration and payment may be honored for the same class topic held at a future date within the same fiscal year (09/01 - 08/31).</p>

		<p>Refunds will not be granted for participant no-shows. </p>

		<h4>Substitution</h4>
		<p>Student substitutions are allowed with 3-days written notice prior to the start of the course.</p>
		<div class="white-fade"></div>
	</div>
</div>
