<script>
  WebFontConfig = {
    typekit: { id: 'rat5rkg' }
  };

  (function() {
    var wf = document.createElement('script');
    wf.src = '/webfontloader.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>
