
<footer class="footer">
  <div class="accessibility">
    <div class="container">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/site-policies#privacy-and-security-policy">Privacy/Security Policy</a></li>
        <li class="list-inline-item"><a href="/site-policies#accessibility-policy">Accessibility</a></li>
        <li class="list-inline-item"><a href="http://www.twdb.texas.gov/home/open_records.asp">Open Records Request</a></li>
        <li class="list-inline-item"><a href="http://www.twdb.texas.gov/home/compact_texan.asp">Compact with Texans</a></li>
        <li class="list-inline-item"><a href="http://www.twdb.texas.gov/home/fraud.asp">Fraud &amp; Waste</a></li>
        {# <li><a href="http://www.tsl.texas.gov/trail"><abbr title="Texas State Library and Archives Commission">TRAIL</abbr></a></li> #}
        <li class="list-inline-item"><a href="http://www.texas.gov">Texas.gov</a></li>
        <li class="list-inline-item"><a href="http://www.twdb.texas.gov"><abbr title="Texas Water Development Board">TWDB</abbr></a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 sitemap">
        <h4>Data &amp; Maps</h4>
        <ul>
          <li><a href="https://data.tnris.org">DataHub</a></li>
          <li><a href="/maps">Maps</a></li>
          <li>
            <a href="/research-distribution-center">Research &amp; Distribution Center (RDC)</a>
            <ul class="footer-sub-menu">
              <li><a href="/research-distribution-center/historical-imagery-archive">Historical Imagery Archive</a></li>
              <li><a href="/research-distribution-center/custom-maps">Custom Maps</a></li>
            </ul>
          </li>
          <li><a href="/texas-imagery-service">Texas Imagery Service</a></li>
          <li><a href="/applications-and-utilities">Applications &amp; Utilities</a></li>
        </ul>
      </div>
      <div class="col-sm-3 sitemap">
        <h4>Programs</h4>
        <ul>
          <li>
            <a href="/stratmap">Strategic Mapping Program (StratMap)</a>
            <ul class="footer-sub-menu">
              <li><a href="/stratmap/stratmap-contracts">StratMap Contracts</a></li>
              <li><a href="/stratmap/orthoimagery">Orthoimagery</a></li>
              <li><a href="/stratmap/elevation-lidar">Elevation - Lidar </a></li>
              <li><a href="/stratmap/hydrography">Hydrography</a></li>
              <li><a href="/stratmap/land-parcels">Land Parcels</a></li>
              <li><a href="/stratmap/address-points">Address Points</a></li>
            </ul>
          </li>
          <li>
            <a href="/education">Education and Training</a>
            <ul class="footer-sub-menu">
              <li><a href="/education/teachers">Teacher Resources</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 sitemap">
        <h4>Community</h4>
        <ul>
          <li><a href="/events">Events</a></li>
          <li><a href="/geographic-information-office">Geographic Information Office</a></li>
          <li><a href="/geographic-information-office/gis-solutions-group">GIS Solutions Group</a></li>
          {# <li><a href="/news">News</a></li> #}
        </ul>
        <h4>General Information</h4>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm-3 address-container">
        <h4>Location</h4>
        <address>
          1700 N. Congress, Room B-40<br>
          Austin, Texas, 78701
        </address>
        <small><a href="https://goo.gl/maps/RE5BC"><i class="fa fa-new-window"></i>  View Map</a></small>
        <p>
          RDC Office Hours:<br />
          Monday-Friday, 8am-4pm<br />
          By Appointment Only<br />
        </p>
      </div>
    </div>
    <div class="copyright">
      Content of this site © Texas Natural Resources Information System and Texas Water Development Board unless otherwise noted.
    </div>
  </div>
</footer>
