<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
{% if description %}<meta name="description" content="{{description}}">
<meta property="og:description" content="{{description}}">
{% elseif abstract %}<meta property="og:description" content="{{abstract}}">
{% endif %}
{% if mainimage %}<meta property="og:image" content="{{mainimage}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="Texas Geographic Information Office">
{% endif %}
{% if author %}<meta name="author" content="{{author}}">{% endif %}
{% if title %}<meta property="og:title" content="{{title}} | TxGIO">{% endif %}
