

{% set highlight_items = [
  {
    name: 'Research &amp; Distribution',
    acronym: 'RDC',
    description: 'Let our hands-on team of data Specialists assist you with physical map products and other datasets, many unavailable online.',
    image: 'https://cdn.tnris.org/images/open_folders_slim.jpg',
    alt_text: 'Data support staff working with a customer',
    link: '/research-distribution-center',
    button_text: 'Learn More <span class="sr-only">about Research &amp; Distribution</span>'
  }, {
    name: 'Geographic Information Office',
    acronym: 'GIO',
    description: 'TNRIS hosts the State of Texas’s Geographic Information Office (GIO), an inter-agency initiative to collaborate and facilitate the effective use of G.I.S. in state and local government.',
    image: 'https://cdn.tnris.org/images/tx-flag-gis.jpg',
    alt_text: 'Texas flag superimposed with spatial data',
    link: '/geographic-information-office',
    button_text: 'Learn More <span class="sr-only">about the Geographic Information Office</span>'
  }, {
    name: 'Texas GIS Forum',
    description: 'Our annual gathering of the Texas GIS community, showcasing the latest innovations and talent in the field.',
    image: 'https://cdn.tnris.org/images/forum-highlight.jpg',
    alt_text: 'Audience and speaker at the Texas GIS Forum',
    link: '/events',
    button_text: 'Learn More <span class="sr-only">about the Texas GIS Forum</span>'
  }
] %}

<div id="highlights">
  <div class="container">
    <div class="row">
      <h3 class="text-center">Providing the Highest Level of Geographic Data Services to the People of Texas</h3>
      {% for item in highlight_items %}
        <div class="col-md-4">
          <div class="highlightBox">
            <div class="image-container">
              <h2>
                {% if item.acronym %}
                  <strong>{{item.acronym}}</strong><br>
                {% endif %}
                {{item.name|safe}}</h2>
              <a href="{{item.link}}"><img class="img-fluid" src="{{item.image}}" alt="{{item.alt_text}}"></a>
            </div>
            <p>{{item.description}}</p>
            <a class="btn btn-secondary" href="{{item.link}}" role="button">{{item.button_text|safe}} <span class="fa fa-chevron-right"></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
