<script src="/datahub.bundle.js"></script>
<div class="latest-data-container">
    <h2>Latest Data <i class="fas fa-clock"></i></h2>
    <div id="latest-data-frontpage" class="latest-data-collection"></div>
</div>
