<div class="main-image-front">
  <a href="/texas-gis-forum/2019">
    <img class="img-responsive hidden-xs" src="https://tnris-org-static.s3.amazonaws.com/images/enchantedTopo-landscape.jpg" alt="2019 Texas GIS Forum Graphic">
    <img class="img-responsive hidden-lg hidden-md hidden-sm" src="https://tnris-org-static.s3.amazonaws.com/images/enchantedTopo-sm.jpg" alt="2019 Texas GIS Forum Graphic">
  </a>
</div>
