<div class="main-image-front">
  <a href="/news/2019-11-04/texas-gis-forum-2019-wrap-up-photo-recap">
    <img class="img-responsive hidden-xs" src="https://tnris-org-static.s3.amazonaws.com/images/txgisforum2019wrapup.jpg" alt="Silohuette of speaker in front of screen, Texas GIS Forum Wrap-Up">
    <img class="img-responsive hidden-lg hidden-md hidden-sm" src="https://tnris-org-static.s3.amazonaws.com/images/txgisforum2019wrapup_md.jpg" alt="Silohuette of speaker in front of screen, Texas GIS Forum Wrap-Up">
  </a>
</div>
