{# <div class="main-image-front">
  <a href="/education">
    <img class="img-fluid d-none" src="https://cdn.tnris.org/images/training_keep_pace.jpg" alt="Banner: TNRIS Training helps you keep the pace">
    <img class="img-fluid d-block d-md-none" src="https://cdn.tnris.org/images/training_keep_pace_md.jpg" alt="Banner: TNRIS Training helps you keep the pace">
  </a>
</div> #}

    <container class="container">
        <div id="tnris-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="15000">
            <!-- Indicators -->
            <ol id="indicators" class="carousel-indicators">
            </ol>

            <!-- Wrapper for slides -->
            <div id="carousel-wrapper" class="carousel-inner" role="listbox">

            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#tnris-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#tnris-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </container>
