<nav id="top" class="navbar-static-top" role="banner">
  <div class="title-header navbar bs-docs-nav p-0">
    <div class="container">
      <a href="/" class="navbar-brand logo-link" title="TNRIS Logo and back home">
        <span class="d-none d-sr">Texas Natural Resources Information System</span>
      </a>
      <button class="navbar-toggler navbar-toggler-right d-none d-sm-inline d-md-none" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse" aria-controls="bs-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="tnris-name d-none d-md-inline">Texas Natural Resources Information System</span>
      <a class="skip" href="#mainContentAnchor">Skip to Main Content</a>
      <a class="navbar-twdb ml-auto d-none d-lg-inline" href="http://www.twdb.texas.gov/">A Division of the
        <span class="d-sm-none d-md-inline">Texas Water Development Board</span>
        <abbr class="d-none d-sm-inline d-md-none" title="Texas Water Development Board">TWDB</abbr>
      </a>
    </div>
  </div>

  <div class="navbar p-1 navbar-expand-md bs-navbar-collapse" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="nav-item dropdown navbar-inverse">
          <a href="#" class="nav-link dropdown-toggle data-hub-logo" data-toggle="dropdown">Data &amp; Maps</a>
          <ul class="dropdown-menu inverse-dropdown  ++" role="menu">
            <li>
              <a href="https://data.tnris.org" title="Visit the New DataHub!" class="nav-link main-program">DataHub</a>
            </li>
            <li {% if id == 'maps' %} class="active" {% endif %}>
              <a href="/maps" class="nav-link main-program">Maps</a>
            </li>
            <li {% if id == 'research-distribution-center' %} class="active" {% endif %}>
              <a href="/research-distribution-center" class="nav-link main-program">Research &amp; Distribution Center (RDC)</a>
            </li>
            <li {% if id == 'texas-imagery-service' %} class="active" {% endif %}>
              <a href="/texas-imagery-service" class="nav-link main-program">Texas Imagery Service</a>
            </li>
            <li {% if id == 'applications-and-utilities' %} class="active" {% endif %}>
              <a href="/applications-and-utilities" class="nav-link main-program">Applications &amp; Utilities</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown navbar-inverse">
          <a href="#" class="nav-link dropdown-toggle programs-nav" data-toggle="dropdown">
            <i class="fas fa-tasks d-sm-none d-none"></i>
            Programs</a>
          <ul class="dropdown-menu inverse-dropdown  " role="menu">
            <li {% if id == 'stratmap' %} class="active" {% endif %}>
              <a href="/stratmap" class="nav-link main-program">Strategic Mapping Program (StratMap)<br></a>
              <ul>
                <li {% if id == 'stratmap-stratmap-contracts' %} class="active" {% endif %}>
                  <a href="/stratmap/stratmap-contracts">StratMap Contracts</a>
                </li>
                <li {% if id == 'stratmap-orthoimagery' %} class="active" {% endif %}>
                  <a href="/stratmap/orthoimagery">Orthoimagery</a>
                </li>
                <li {% if id == 'stratmap-elevation-lidar' %} class="active" {% endif %}>
                  <a href="/stratmap/elevation-lidar">Elevation - Lidar</a>
                </li>
                <li {% if id == 'stratmap-hydrography' %} class="active" {% endif %}>
                  <a href="/stratmap/hydrography">Hydrography</a>
                </li>
                <li {% if id == 'stratmap-land-parcels' %} class="active" {% endif %}>
                  <a href="/stratmap/land-parcels">Land Parcels</a>
                </li>
                <li {% if id == 'stratmap-address-points' %} class="active" {% endif %}>
                  <a href="/stratmap/address-points">Address Points</a>
                </li>
              </ul>
            </li>
            <li {% if id == 'education' %} class="active" {% endif %}>
              <a href="/education" class="nav-link main-program">Education and Training</a>
            </li>
          </ul>
        </li>
        <li {% if id === 'events' %} class="nav-item active" {% endif %}>
          <a class="nav-link events" href="/events">
            <i class="fas fa-user-friends d-sm-none d-none"></i>
            Events</a>
        </li>
        <li {% if id === 'geographic-information-office' %} class="nav-item active" {% endif %}>
          <a class="nav-link gio" href="/geographic-information-office">Geographic Information Office</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li {% if id == '/about' %} class="nav-item active" {% endif %}>
          <a href="/about" class="nav-link">About<span class="sr-only">
              us</span></a>
        </li>
        <li {% if id == '/contact' %} class="nav-item active" {% endif %}>
          <a href="/contact" class="nav-link">
            <span class="glyphicon glyphicon-comment"></span>
            Contact Us</a>
        </li>
      </ul>
    </div>
  </div>

  {% block topalert %}{% endblock %}
</nav>