<nav class="navbar navbarTNRIS navbar-expand-lg sticky-top" aria-label="main navigation">
  <div class="container-fluid row d-nowrap-flex">
  <div class="logoDiv">
    <a class="skip" href="#mainContentAnchor">Skip to Main Content</a>
    <a class="navbar-brand" href="/">
    </a>
    </div>
    <div class="containerText col-xs-4">
       <p class="textTNRIS">TEXAS NATURAL RESOURCES INFORMATION SYSTEM</p>
       <a class="textTWDB" href="https://www.twdb.texas.gov/" "text-decoration:none">A Division of the Texas Water Development Board
       </a>
     </div>
    <a href="#" class="navbar-toggler navbar-toggler-right d-sm-inline d-md-none" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-controls="bs-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-bars"></span>
      </a>
     <div class="container-fluid navbar-expand-md text-left" role="navigation">
       <div class="navbar-collapse collapse py-2" id="bs-navbar-collapse" >
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown navbar-inverse">
            <a href="#" class="nav-link dropdown-toggle data-hub-logo" data-toggle="dropdown">Data &amp; Maps</a>
            <ul class="dropdown-menu inverse-dropdown  ++" role="menu">
              <li>
                <a href="https://data.tnris.org" title="Visit the New DataHub!" class="nav-link main-program">DataHub</a>
              </li>
              <li class="nav-item{% if id == 'maps' %} active{% endif %}">
                <a href="/maps" class="nav-link main-program">Maps</a>
              </li>
              <li class="nav-item{% if id == 'research-distribution-center-index' %} active{% endif %}">
                <a href="/research-distribution-center" class="nav-link main-program">Research &amp; Distribution Center (RDC)</a>
                  <ul>
                    <li class="nav-item{% if id == 'research-distribution-center-historical-imagery-archive' %} active{% endif %}">
                      <a href="/research-distribution-center/historical-imagery-archive">Historical Imagery Archive</a>
                    </li>
                    <li class="nav-item{% if id == 'research-distribution-center-custom-maps' %} active{% endif %}">
                      <a href="/research-distribution-center/custom-maps">Custom Maps</a>
                    </li>
                  </ul>
              </li>
              <li class="nav-item{% if id == 'texas-imagery-service' %} active{% endif %}">
                <a href="/texas-imagery-service" class="nav-link main-program">Texas Imagery Service</a>
              </li>
              <li class="nav-item{% if id == 'applications-and-utilities' %} active{% endif %}">
                <a href="/applications-and-utilities" class="nav-link main-program">Applications &amp; Utilities</a>
              </li>
            </ul>
          </li>
        <li class="nav-item dropdown navbar-inverse">
            <a href="#" class="nav-link dropdown-toggle programs-nav" data-toggle="dropdown">
              {# <i class="fas fa-tasks d-md-inline d-none"></i> #}
              StratMap</a>
            <ul class="dropdown-menu inverse-dropdown" role="menu">
              <li class="nav-item{% if id == 'stratmap-index' %} active{% endif %}">
                <a href="/stratmap" class="nav-link main-program">Strategic Mapping Program (Main)<br></a>
                <ul>
                  <li class="nav-item{% if id == 'stratmap-stratmap-contracts' %} active{% endif %}">
                    <a href="/stratmap/stratmap-contracts">Contracts</a>
                  </li>
                  <li class="nav-item{% if id == 'stratmap-orthoimagery' %} active{% endif %}">
                    <a href="/stratmap/orthoimagery">Orthoimagery</a>
                  </li>
                  <li class="nav-item{% if id == 'stratmap-elevation-lidar' %} active{% endif %}">
                    <a href="/stratmap/elevation-lidar">Elevation - Lidar</a>
                  </li>
                  <li class="nav-item{% if id == 'stratmap-hydrography' %} active{% endif %}">
                    <a href="/stratmap/hydrography">Hydrography</a>
                  </li>
                  <li class="nav-item{% if id == 'stratmap-land-parcels' %} active{% endif %}">
                    <a href="/stratmap/land-parcels">Land Parcels</a>
                  </li>
                  <li class="nav-item{% if id == 'stratmap-address-points' %} active{% endif %}">
                    <a href="/stratmap/address-points">Address Points</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
         <li class="nav-item dropdown navbar-inverse">
             <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> {# <i class="fas fa-tasks d-md-inline d-none"></i> #}Education</a>
            <ul class="dropdown-menu inverse-dropdown" role="menu">
              <li class="nav-item{% if id == 'education-index' %} active{% endif %}">
                <a href="/education" class="nav-link main-program">Education and Training</a>
              </li>
              <li class="nav-item{% if id == 'education-teachers' %} active{% endif %}">
                <a href="/education/teachers" class="nav-link main-program">Teacher Resources (K-12, College)</a>
              </li>
            </ul>
          </li>
        <li {% if id === 'events' %} class="nav-item active" {% endif %}>
            <a class="nav-link events" href="/events">
              {# <i class="fas fa-user-friends d-md-inline d-none"></i> #}
              Events</a>
        </li>
        <li class="nav-item dropdown navbar-inverse">
             <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> {# <i class="fas fa-tasks d-md-inline d-none"></i> #}GIO</a>
            <ul class="dropdown-menu inverse-dropdown" role="menu">
              <li {% if id == 'geographic-information-office-index' %} class="nav-item active" {% endif %}>
               <a class="nav-link gio" href="/geographic-information-office">Geographic Information Office</a>
              </li>
              <li class="nav-item{% if id == 'geographic-information-office-gis-solutions-group-index' %} active{% endif %}">
                <a href="/geographic-information-office/gis-solutions-group" class="nav-link main-program">GIS Solution Group</a>
              </li>
            </ul>
        </li>
        <li {% if id == '/about' %} class="nav-item active" {% endif %}>
            <a href="/about" class="nav-link">About<span class="sr-only">
                us</span></a>
          </li>
        <li {% if id == '/contact' %} class="nav-item active" {% endif %}>
            <a href="/contact" class="nav-link">
              {# <span class="fa fa-comment"></span> #}
              Contact Us</a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>
</nav>    