{# for mobile/smaller devices - was on top of mainfeature on front page #}

{# <ul class="list-clean row">
  <li class="col-xs-6 datahub">
    <a href="https://data.tnris.org" title="Browse, download, order, and inquire about data">
      <img src="https://cdn.tnris.org/images/datahub_loading.gif" alt="DataHub Loading Dots"/>
      <p>DataHub</p>
    </a>
  </li>
  <li class="col-xs-6 twitter">
    <a href="https://twitter.com/tnris" title="Follow Us on Twitter">
      <i class="fab fa-twitter"></i>
      <p>Follow Us <span class="sr-only">On Twitter</span>
      </p>
    </a>
  </li>
</ul> #}
