

<ul class="list-clean row">
  <li class="col-xs-2 col-md-12 hidden-xs hidden-sm">
    Start exploring our <strong>data</strong>
  </li>

  <li class="list-group-item col-xs-5ths col-md-12 datahub-item">
    <a href="https://data.tnris.org" title="Visit the New DataHub!">
      <div class="datahub-quick quick-nav-container center-block">
        <div class="datahub_loader">
          <img src="https://tnris-org-static.s3.amazonaws.com/images/datahub_loading.gif" alt="DataHub Loading Dots"/>
        </div>
        <div class="datahub-quick-nav-text">
          <em>DataHub</em>
          <small class="hidden-xs hidden-sm">Browse, download, order, and inquire about data</small>
        </div>
      </div>
    </a>
  </li>

  <li class="list-group-item col-xs-2 col-md-12 social-front">
    <div>
      <a href="https://twitter.com/tnris" title="Follow Us on Twitter"><i class="fab fa-twitter"></i> <span class="hidden-xs">Follow Us</span> <span class="hidden-sm hidden-xs">On Twitter</span></a>
    </div>
  </li>
</ul>
