{# was used next to mainfeature on front page #}

{# <ul class="list-clean row">
  <li class="col-md-12">
    Start exploring our <strong>data</strong>
  </li>

  <li class="col-md-12 datahub-item">
    <a href="https://data.tnris.org" title="Visit the New DataHub!">
      <div class="datahub-quick quick-nav-container mx-auto d-block">
        <div class="datahub_loader">
          <img src="https://cdn.tnris.org/images/datahub_frontpage_icon.jpg" alt="DataHub Icon Graphic"/>
        </div>
        <div class="datahub-quick-nav-text">
          <em>DataHub</em>
          <small class="d-none d-sm-none">Browse, download, order, and inquire about data</small>
        </div>
      </div>
    </a>
  </li>
</ul> #}
