<!-- COMMENTING OUT WHILE ELON FIGURES HIS SHIT OUT

<div id="twitter-timeline">
  <h2>News</h2>

  <div>
    {# twitter follow button embed #}
    <a
      href="https://twitter.com/TNRIS"
      class="twitter-follow-button"
      data-size="large"
      data-lang="en"
      data-dnt="true"
      data-show-count="false"> {# change this value to true to show number of followers #}
        Follow @TNRIS
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    {# twitter timeline embed #}
    <a
      class="twitter-timeline"
      data-height="600"
      data-chrome="noheader nofooter noborders noscrollbar"
      data-theme="light"
      href="https://twitter.com/TNRIS?ref_src=twsrc%5Etfw">
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>
</div>

-->
<div id="training-front">
  <h2>News</h2>
  <p>Follow us on social media to get live updates on data drops, job opportunities, and event meetups!</p>
  <p>Twitter/X: <a href="https://www.twitter.com/tnris" target="_blank">@TNRIS</a></p>
  <p>Youtube: <a href="https://www.youtube.com/@texasnaturalresourcesinfor6608" target="_blank">@Texas Natural Resources Information System</a></p>
  <br>
  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/RzYGnWCvSGA?si=F7zRKpwp3nCrfxgX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
