<!-- COMMENTING OUT WHILE ELON FIGURES HIS SHIT OUT

<div id="twitter-timeline">
  <h2>News</h2>

  <div>
    {# twitter follow button embed #}
    <a
      href="https://twitter.com/TNRIS"
      class="twitter-follow-button"
      data-size="large"
      data-lang="en"
      data-dnt="true"
      data-show-count="false"> {# change this value to true to show number of followers #}
        Follow @TNRIS
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    {# twitter timeline embed #}
    <a
      class="twitter-timeline"
      data-height="600"
      data-chrome="noheader nofooter noborders noscrollbar"
      data-theme="light"
      href="https://twitter.com/TNRIS?ref_src=twsrc%5Etfw">
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>
</div>

-->
<div id="training-front">
  <h2>News</h2>
  <p>Join us for the next Texas GIS Community Meeting!</p>
  <p>When: Wednesday 7/19 from 2-4pm</p>
  <p>In-person and online.</p>
  <p>
    <a class="btn btn-tnris" href="https://events.teams.microsoft.com/event/8cbccf99-607d-4fcf-a417-30057a2167e4@7ad04e8c-92f5-4b20-81d6-10fd88325899" role="button">Webinar Registration <span class="fa fa-chevron-right"></a>
  </p>
  <p>
    <a class="btn btn-tnris" href="https://mailchi.mp/tnris/1st-quarter-gis-community-meeting-youre-invited-6036031" role="button">Meeting Info <span class="fa fa-chevron-right"></a>
  </p>
</div>
