<div id="twitter-timeline">
  <h2 style="font-size:22px;"><i class="fas fa-newspaper"></i> News</h2>

  <div style="padding-top:5px;">
    {# twitter follow button embed #}
    <a
      href="https://twitter.com/TNRIS"
      class="twitter-follow-button"
      data-size="large"
      data-lang="en"
      data-dnt="true"
      data-show-count="false"> {# change this value to true to show number of followers #}
        Follow @TNRIS
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    {# twitter timeline embed #}
    <a
      class="twitter-timeline"
      data-height="620"
      data-chrome="noheader nofooter noborders noscrollbar"
      data-theme="light"
      href="https://twitter.com/TNRIS?ref_src=twsrc%5Etfw">
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>
</div>
