{% extends "base.njk" %}
{% import "_form_macros.njk" as form %}

{% block styles %}
  {{ super() }}

  {{form.styles()}}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {{form.scripts()}}
  {# bundled js file that retrieves training records from tnris api and creates html #}
  {# source file located at static/js/forum_training.js; will need to access source file to add new forum year (string) to array #}
  <script src="/forum_training.bundle.js"></script>
{% endblock %}

  {% block topcontent %}
    <div id="_2015-forum-container">
      <div class="container-fluid full">
        <h1 class="sr-only">2015 Texas GIS Forum, October 26th – 29th, Austin Texas</h1>
        <div class="top-container">
          {% if mainimage %}
            <div class="d-sm-none d-none">
              <img src="{{mainimage}}" class="banner img-fluid mx-auto" alt="Texas GIS Forum Main Image">
            </div>
          {% endif %}
          {% if mainimagesm %}
            <div class="d-none d-md-none d-lg-none">
              <img src="{{mainimagesm}}" class="banner img-fluid mx-auto" alt="Texas GIS Forum Main Image">
            </div>
          {% endif %}

          {% if mainimagexs %}
            <div class="d-sm-none d-md-none d-lg-none">
              <img src="{{mainimagexs}}" class="banner img-fluid mx-auto" alt="Texas GIS Forum Main Image">
            </div>
          {% endif %}
        </div>
      </div>

      <div class="_2015-forum-intro">
        <div class="container">
          <p class="lead">
            Revisit the 2015 Forum.
          </p>
        </div>
      </div>

    {% endblock %}

    {% block contentsOne %}
      <div id="contentMain" class="container">
        {% include "partials/2015-forum/forum-nav.njk" %}

        <div class="row">
          <div class="col-md-12">
            {{contents|safe}}
            <div class="training-list">
              <!-- forum training records get inserted here from the tnris api -->
              <h2>Day 1 - Monday, October 26</h2>
                <div id="insert-day-one-2015"></div>

              <h2>Day 2 - Tuesday, October 27</h2>
                <div id="insert-day-two-2015"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

{% block contentsTwo %}
  <section class="forum-map">
    <div class="container">
      <div class="row">
        {% include "partials/2015-forum/forum-map.njk" %}
      </div>
    </div>
  </section>
  <section class="forum-sponsors">
    {% include "partials/2015-forum/forum-sponsors.njk" %}
  </section>

{% endblock %}
