<div class="container-md">
  <div class="row ">
    <div class="col-sm-4">
      <h2>Location &amp; Parking Information</h2>
      <h3>Austin Central Library</h3>
      <address >
        710 W. César Chávez St.<br>
        Austin, TX, 78701
      </address>
      <h3>Parking</h3>
      <p>
        The parking garage holds 140 vehicles and will be available to attendees of the GeoRodeo starting at 7am. The garage charges $13 to park for 10 hours.
      </p>
      <p>
        When entering the garage, inform security you're "here for the GeoRodeo".
      </p>
      <p>
        After parking, use the south elevator up to the 1st Floor and the event center
        entrance will be on the south side of the building. There will be signs posted
        in the garage and outside the event center entrance to direct you.
      </p>
      <a class="btn btn-lg btn-info"  style="margin-bottom:15px;" href="https://library.austintexas.gov/central/parking">Library Parking Information</a>
    </div>
    <div class="col-sm-8">
      <iframe title="Location and Parking Information" class="map-2019" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.986711862344!2d-97.75402228450807!3d30.265959815028257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b50fdcb160bd%3A0xe444c6d92e978c7c!2sAustin+Public+Library!5e0!3m2!1sen!2sus!4v1536611059456" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
