<h2>Agenda Overview</h2>
<table class="quick-agenda">
    <tr>
    <td><small>8:00AM to 9:00AM</small></td>
    <td><em>Registration – Breakfast – Social</em><br/></td>
  </tr>
    <tr>
    <td><small>9:00AM to 9:15AM</small></td>
    <td><h4>Opening Remarks - Richard Wade</h4></td>
  </tr>
  <tr>
    <td><small>9:15AM to 10:45AM</small></td>
    <td>
      <ul>
        <li><a class="smooth-scroll" href="#mcgranaghan-2019"><i class="fa fa-user"></i> Patrick McGranaghan</a></li>
        <li><a class="smooth-scroll" href="#chapkowski-2019"><i class="fa fa-user"></i> Andrew Chapkowski, ESRI</a></li>
        <li><a class="smooth-scroll" href="#shensky-2019"><i class="fa fa-user"></i> Michael Shensky, UT</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><small>10:45AM to 11:00AM</small></td>
    <td><em>Break</em></td>
  </tr>
  <tr>
    <td><small>11:00AM to 12:00PM</small></td>
    <td>
      <ul>
        <li><a class="smooth-scroll" href="#pearson-2019"><i class="fa fa-user"></i> Daniel K. Pearson, USGS</a></li>
        <li><a class="smooth-scroll" href="#bell-sepulveda-2019"><i class="fa fa-user"></i> Laura Bell Sepulveda, TWDB</a></li>
      </ul>
    </td>
  </tr>
    <tr>
    <td><small>12:00PM to 1:30PM</small></td>
    <td><em>Lunch provided to registrants</em></td>
  </tr>
  <tr>
    <td><small>1:30PM to 3:00PM</small></td>
    <td>
      <ul>
        <li><a class="smooth-scroll" href="#carmona-2019"><i class="fa fa-user"></i> Jordan Carmona, City of McKinney</a></li>
        <li><a class="smooth-scroll" href="#dufour-2019"><i class="fa fa-user"></i> Daniel Dufour, GeoSurge</a></li>
        <li><a class="smooth-scroll" href="#drescher-2019"><i class="fa fa-user"></i> Aubrey Drescher, TWDB</a></li>
      </ul>
    </td>
	</tr>
  <tr>
    <td><small>3:00PM to 3:30PM</small></td>
    <td><em>Break</em></td>
  </tr>
  <tr>
    <td><small>3:30PM to 4:30PM</small></td>
    <td>
      <ul>
        <li><a class="smooth-scroll" href="#montgomery-2019"><i class="fa fa-user"></i> Thomas Montgomery, City of Austin</a></li>
        <li><a class="smooth-scroll" href="#booth-2019"><i class="fa fa-user"></i> Kevin Booth, Texas State University</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><small>4:30PM to 5:00PM</small></td>
    <td><h4>Lightning Talks</h4></td>
  </tr>
  <tr>
    <td><small>5:30PM</small></td>

    <td><h4>Social at Google</h4></td>

  </tr>
</table>
