<div class="col-sm-8">
    <h2>Welcome to Paradise <span class='date-2019'>May 16, 2019</span></h2>
    <h4>A dual luxury event spectacular!</h4>
    <p class="lead">TNRIS invites you to Austin on Thursday, May 16, 2019 for the 7th annual GeoRodeo and Friday, May 17, 2019 for JS.GEO.</p>
    <p class="lead">The GeoRodeo is a roundup of geodevelopers, coders, and professionals from across the state of Texas who are looking to incorporate new ideas and creative solutions into their work. This free, interactive, technical conference is geared toward the Texas GIS/geospatial developer community.</strong></p>
    <p class="lead">Join us to learn about tips and techniques for open data, open source, commercial GIS applications, and more!</p>
    <h4>New Location!</h4>
    <p class="lead"><a href="https://library.austintexas.gov/central-library">Austin Central Library</a></p>

    <h4>I am new to programming. Will I benefit from this?</h4>
    <p>Yes, this event is designed to help you make connections and provide some guidance for accomplishing your geospatial goals. There will be an emphasis on coding and breaking down the process for modern geospatial solutions.  </p>

    <h4>Should I bring my own Laptop?</h4>
    <p>Yes, we encourage you to bring your own laptop loaded with whatever tools and code that you may want or need. There will be wireless internet connections available. Note: Make sure you have a fully charged battery to avoid power outlet ‘range wars’!</p>

    <h4>Code of Conduct</h4>
    <p>Attendees and participating organizations at the GeoRodeo are required to agree to a Code of Conduct</p>
    <a style="width: 50%" class="btn btn-info btn-lg center-block" href="/georodeo/code-of-conduct">View Code of Conduct </a>
</div>
<div class="col-sm-4 intro-side">

  <h4>Free Registration</h4>
  <p>NOTICE: Registration has now closed. Walk-ins welcome to the event but will not be permitted into the post-event social.</p>
  <div class="col-sm-12 btn-box">
    <a href="/georodeo/registration">
      <button class="btn btn-info">Register</button>
    </a>
  </div>

<h4>Brought to You By</h4>
<p>Thank you to the companies and organizations that make it possible to host the Texas GeoRodeo.</p>

<a href="http://www.esri.com"><img style="width: 200px; margin: 0 auto; display: block;" src="https://tnris-org-static.s3.amazonaws.com/images/esri-logo-2019.png" alt="Esri logo and link"></a>


<a href="https://geospatialtraining.com/"><img style="width: 300px; margin: 0 auto; margin-top: 10px; display: block;" src="https://tnris-org-static.s3.amazonaws.com/images/geospatial-training-services-2019.png" alt="Geospatial Training services logo and link"></a>

<a href="/texas-gis-forum/2018"><img style="width: 125px; margin: 0 auto; margin-top: 10px; display: block;" src="https://tnris-org-static.s3.amazonaws.com/images/tx-gis-forum-logo-2019.png" alt="TX GIS Forum logo and link"></a>




</div>

  <!--<div class="col-sm-8" style="margin-bottom:25px;">
   <h2>Featured <a href="http://starwars.wikia.com/wiki/Slicer/Legends">'Slicers'</a></h2>

    <h3 id="about_turner">
      <img class="img-circle sm-key-circle keynote-circle 2018-georodeo-speaker" src="https://tnris-org-static.s3.amazonaws.com/images/andrewturner.jpg" alt="Head shot of Andrew Turner from ESRI"><br>
      Andrew Turner<br><a class="keynote-title" href="http://dc.esri.com/">Director of R&amp;D Center, ESRI</a>
    </h3>
    <p>
      Neogeographer and Director of Esri R&amp;D DC. Open Source & Open Data Architect. Brewer, Trombonist, Cyclist, Idealistic Technocrat. Capitol Hill, DC
    </p>

    <h3 id="about_mkorver">
      <img class="img-circle sm-key-circle keynote-circle 2018-georodeo-speaker" src="https://tnris-org-static.s3.amazonaws.com/images/mkorver.jpeg" alt="Head shot of Mark Korver from Amazon Web Services"><br>
      Mark Korver<br><a class="keynote-title" href="https://aws.amazon.com/">Geospatial Lead, Technical Vision and Business Development, Amazon Web Services</a>
    </h3>
    <p>
      Mark is the Geospatial Lead on the Specialist Team at AWS, part of the Technical Vision and Business Development group. He supports large geospatial customers, and works closely with the Scientific Compute and Open Data teams on projects such as Earth on AWS. In addition, he represents the solution architecture team as the core storage expert. Mark holds a Master in City Planning from MIT with a specialization in Technology Transfer and is a native Japanese speaker.
    </p>


</div>-->
