<nav class="navbar-expand-lg navbar-inverse georodeo-2019">
  <div class="container">
    <div class="navbar-header">

    </div>
    <ul class="nav navbar-nav">
        <li class="nav-item {% if (path == 'georodeo') %}active{% endif %}" >
          <a class="nav-link" href="/georodeo">Welcome</a>
        </li>
        <!-- <li class="nav-item {% if (path == 'georodeo/become-a-sponsor') %}active{% endif %}" >
          <a class="nav-link" href="/georodeo/become-a-sponsor">Become A Sponsor</a>
        </li> -->
        <li class="nav-item {% if (path == 'georodeo/call-for-presentations') %}active{% endif %}" >
          <a class="nav-link" href="/georodeo/call-for-presentations">Call for Presentations</a>
        </li>
        <li class="nav-item {% if (path == 'georodeo/registration') %}active{% endif %}" >
          <a class="nav-link" href="/georodeo/registration">Register</a>
        </li>
        <li class="nav-item {% if (path == 'georodeo/code-of-conduct') %}active{% endif %}" >
          <a class="nav-link" href="/georodeo/code-of-conduct">Code of Conduct</a>
        </li>
  </div>
</nav>
