{% extends "base.njk" %}

{% block topcontent %}
<div class="container-fluid full">

      <div class="top-container">
      {% if mainimage %}
        <img class="img-responsive center-block" src="{{mainimage}}" alt="Masthead for {{title}}">
      {% endif %}
      <div class="top-header center-block">
          <div class="container">
            <h1>
            {% if title == 'StratMap - Strategic Mapping Program' or title == 'StratMap Contract' %}

            {% else %}
              <small>StratMap</small>
            {% endif %}

              {{title}}</h1>
          </div>
      </div>
    </div>
</div>
{% endblock %}


{% block contentsOne %}
{% endblock %}

{% block contentsTwo %}
  <div class="container">  {% include "stratmap/nav.njk" %}</div>
     {{ contents|safe }}
  </div>
{% endblock %}
