{% set highlight_items = [
  {
    name: 'Land Parcel Data',
    acronym: 'Ongoing Initiatives',
    description: 'In 2016, research for the Texas Geographic Information Officer’s report revealed the single greatest need for state agency business was a statewide database of land parcel boundaries updated on an annual basis. StratMap has made it a priority to produce a comprehensive, and continually renewed dataset.',
    image: 'https://cdn.tnris.org/images/landparcels.jpg',
    alt_text: 'Lidar DEM with contour lines imposed on top',
    link: '/stratmap/land-parcels',
    button_text: 'Learn More <span class="sr-only">about Land Parcel Data Acquisition</span>'
  }, {
    name: 'Address Points',
    acronym: 'Ongoing Initiatives',
    description: 'The statewide address point aggregation initiative will save time for state agencies that currently acquire this data to conduct business. Relationships throughout the state with local creators of address point data will allow TNRIS to collect and share this dataset publicly.',
    image: 'https://cdn.tnris.org/images/addresspoints.jpg',
    alt_text: 'Address Points',
    link: '/stratmap/address-points',
    button_text: 'Learn More <span class="sr-only">about Address Point Acquisition</span>'
  }, {
    name: 'Texas Strategic Mapping Contracts',
    acronym: 'Ongoing Initiatives',
    description: 'The new contracting vehicle for StratMap and any Texas government agency is almost available for 17 total pre-approved vendors available for GIS products, services, and software.',
    image: 'https://cdn.tnris.org/images/stratmap_contract.jpg',
    alt_text: 'An illustration of a contract with a pen, DIR logo on top',
    link: '/stratmap/stratmap-contracts',
    button_text: 'Learn More <span class="sr-only">about the StratMap Contracts</span>'
  }
  ]
%}

<section class="row mx-auto container">
  <div class="col-sm-8">
    <p class="lead">StratMap was originally established in 1997 by Senate Bill 1 to <strong>develop consistent statewide digital data layers</strong>. Since then, its primary goal has been to acquire and improve digital geographic data for statewide mapping applications.</p>
    <p class="lead">
      StratMap also maintains comprehensive data standard specifications to ensure consistent, high quality data products across the State. <strong>StratMap personnel at TNRIS</strong> work with multiple agencies on cost-share initiatives in order to provide the State of Texas with best value data products.
    </p>
    <h2>How does this work?</h2>
    <ul class="stratmap-work">
      <li><strong>The StratMap team communicates regularly</strong> with State, Federal, regional and local government entities to discuss mapping needs.</li>
      <li><strong>New projects are formed</strong> by identifying type of data required, location, specification, budget and timeline for delivery. </li>
      <li><strong>Data acquisition, production and independent quality assurance and quality control (QA/QC)</strong> are awarded to private geospatial contractors through the <a href="/stratmap/stratmap-contracts">Texas Strategic Mapping Contracts</a>.</li>
      <li><strong>After the final data deliverables are accepted</strong>, they are placed in the public domain for use by local, regional and federal government, academia, private industry and the public.</li>
    </ul>
  </div>
  <div class="col-sm-4">
    {% include "stratmap/latest-stratmap-datasets.njk" %}
  </div>
</section>
<section id="stratmap-by-the-numbers" class="front-sm-numbers">
    <div class="container">
      <h2>By the Numbers</h2>
        <div class="row">
            <div class="col-sm-4">
              <strong>70</strong><br> past agency partners and counting...
            </div>
            <div class="col-sm-4">
              <strong>44</strong><br> project Statement of Work (SOW) releases since 2009 and counting...
            </div>
            <div class="col-sm-4">
              <strong>$20.4 Million</strong><br> total spent on orthoimagery and Lidar data products for the State of Texas since 2009 through cost-share initiatives.
            </div>
          </div>
      </div>
</section>

<section class="container">
    <h2>Projects</h2>
    <div class="row">
        {% for item in highlight_items %}
        <div class="col-sm-4 stratmap-project">
            <div class="card card-body ">
                <a href="{{item.link}}"><img class="img-fluid" src="{{item.image}}" alt="{{item.alt_text}}"></a>
                <div class="caption">
                    <h3>

                      {% if item.acronym %}
                        <small class="text-muted">{{item.acronym}}</small><br>
                      {% endif %}
                      {{item.name|safe}}</h3>
                    <p>{{item.description}}</p>
                    <a class="btn btn-secondary" href="{{item.link}}" role="button">{{item.button_text|safe}} <span class="fa fa-chevron-right"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
