{% extends "base.njk" %}

{% block topcontent %}
<div class="container-fluid full">

      <div class="top-container">
      {% if mainimage %}
        <img class="img-fluid center-block" src="{{mainimage}}" alt="Masthead for {{title}}">
      {% endif %}
      <div class="top-header center-block">
          <div class="container">
            <h1>
              {% if 'StratMap' in title %}
                {{title}}
              {% else %}
                <small>StratMap</small>
                {{title}}
              {% endif %}
            </h1>
          </div>
      </div>
    </div>
</div>
{% endblock %}


{% block contentsOne %}
{% endblock %}

{% block contentsTwo %}
  <div class="container">  {% include "stratmap/nav.njk" %}</div>
     {{ contents|safe }}
  </div>
{% endblock %}
