<nav class="navbar-expand-sm navbar-inverse stratmap-bar">
  <div class="container-md">
    <ul class="nav navbar-nav">
        <li class="nav-item {% if (path == 'stratmap') %}active{% endif %}" >
          <a class="nav-link" href="/stratmap">Main</a>
        </li>
        <li class="nav-item {% if (path == 'stratmap/stratmap-contracts') %}active{% endif %}" >
          <a class="nav-link" href="/stratmap/stratmap-contracts">StratMap Contracts</a>
        </li>
        <li class="nav-item {% if (path == 'stratmap/orthoimagery') %}active{% endif %}" >
          <a class="nav-link" href="/stratmap/orthoimagery">Orthoimagery</a>
        </li>
        <li class="nav-item {% if (path == 'stratmap/elevation-lidar') %}active{% endif %}" >
          <a class="nav-link" href="/stratmap/elevation-lidar">Elevation - Lidar</a>
        </li>
        <li class="nav-item {% if (path == 'stratmap/hydrography') %}active{% endif %}" >
          <a class="nav-link" href="/stratmap/hydrography">Hydrography</a>
        </li>
        <li class="nav-item {% if (path == 'stratmap/land-parcels') %}active{% endif %}" >
          <a class="nav-link" href="/stratmap/land-parcels">Land Parcels</a>
        </li>
         <li class="nav-item {% if (path == 'stratmap/address-points') %}active{% endif %}" >
          <a class="nav-link" href="/stratmap/address-points">Address Points</a>
        </li>
      </ul>
  </div>
</nav>
