<div class="panel panel-danger">
	<div class="panel-heading">
		<h2 class="panel-title">Cancellation Policy</h2>
	</div>
	<div id="cancellation-body" class="panel-body">
		<p>Course cancellations are often unavoidable. Whether the class cancellation is initiated by the student or the Training Program, every effort to send an immediate notification must be exercised.</p>

		<h4>Withdrawal/Cancellation</h4>
		<p>All course cancellations require written notice no later than 14 business days prior to the first day of the scheduled course. Email is an acceptable form of written communication- please email tnris@cmpmanagement.com.</p>

		<h4>Refund</h4>
		<p>All withdrawals made more than fourteen (14) business days prior to course start date will receive a full refund (minus $65 processing fee).</p>

		<p>The full course refund is forfeited if a cancellation is made within fourteen (14) business days of a course start date or if a student is a no show.</p>

		<p>Option: Registration and payment may be applied to a future course of equal value within the same fiscal year (09/01 - 08/31).</p>

		<h4>Substitution</h4>
		<p>Student substitutions are allowed at no charge with 3-days written notice prior to the start of the course. Substitutions are not allowed within 3-days of a course start date.</p>

		<h4>Course Cancellation (by TNRIS)</h4>

		<p>All courses must meet a minimum number of enrolled students. Occasionally a course must be cancelled due to low enrollment.</p>

		<p>Registered students will be notified no less than 1 week before the start date of the course. Notification via email and phone call will be made using the information provided in the registration.</p>

		<p>When courses are cancelled, several options are available:</p>

		<ol>
			<li>A full refund processed in the same manner paid.</li>
			<li>Apply the registration fee to a course of equal value held during the same fiscal year (9/01 – 8/31).</li>
			<li>Apply the registration fee to a course of equal value to a colleague from the same organization within the same fiscal year (9/01 – 8/31).</li>
		</ol>

		<p>For all change and cancellation requests, please contact:   tnris@cmpmanagement.com.</p>
	</div>
</div>
