<div class="card-body well-bg">
  <a href="https://teachmegis.com/" target="_blank"><img src="https://cdn.tnris.org/images/teachmegis_md.jpg" alt="TeachMeGIS Logo"></a> 
  <a href="https://geospatialtraining.com/" target="_blank"><img src="https://cdn.tnris.org/images/geospatialtrainingservices_md.jpg" alt="Geospatial Training Services Logo"></a>
  <div class="cta">
    <p>
      Contact us about our Education &amp; Training Program.
    </p>
    <a id="ContactEducation" class="btn btn-tnris btn-lg btn-block" href="/education/contact" aria-labelledby="ContactEducation"><i class="fa fa-comment"></i> Contact Us</a>
  </div>
</div>
