<script src="/training_registration_button.bundle.js"></script>

<div id="training-registration-button"></div>

{% if title !== 'Course Cancellation Policy' %}
<div class="alert alert-warning">
  <h3 style="margin-top: 0;">Course Cancellation Policy</h3>
  <p><strong>Important:</strong> Please read our cancellation policy before registering for courses.</p>
  <a href="education/course-cancellations" class="btn btn-lg btn-block btn-tnris">View Cancellation Policy</a>
</div>
{% endif %}
<h3>Training Facilities</h3>
<h4>TCEQ Computer Training Lab</h4>
<address>
    12100 Park Thirty Five Circle<br>
    Building A, Room 234/235<br>
    Austin, TX 78753
</address>
<a href="https://www.google.com/maps?ll=30.394181,-97.669122&z=15&t=m&hl=en-US&gl=US&mapclient=embed&cid=1320330449009717661" target="blank">
    <span class="glyphicon glyphicon-new-window"></span> View Map
</a>
<hr>
{# {% include "education/course-cancellation.njk" %} #}
<hr>
<div class="well well-bg">
    <p><strong>Download the IRS form W-9 for your use:</strong><br><a class="btn btn-lg btn-tnris btn-block" href="https://tnris-org-static.s3.amazonaws.com/documents/tnris-training-courses-w9.pdf"><i class="glyphicon glyphicon-file"></i> Download W-9</a></p>
</div>
