<script src="/training_discount_copy.bundle.js"></script>

<div id="training-discount-copy"></div>

{% if title !== 'Course Cancellation Policy' %}
  <h3>Course Cancellation Policy</h3>
  <p><strong>Important:</strong> Please read our cancellation policy before registering for courses.</p>
  <a href="/education/course-cancellations" class="btn btn-lg btn-block btn-warning">View Cancellation Policy</a>
{% endif %}

<hr class="clearfix">

<h3>W-9 Form</h3>
<p>Download the IRS form W-9 for your use:<br><a class="btn btn-lg btn-info btn-block" href="https://tnris-org-static.s3.amazonaws.com/documents/tnris-training-courses-w9.pdf"><i class="glyphicon glyphicon-file"></i> Download W-9</a></p>

<hr class="clearfix">
<h3>Training Facilities</h3>
<h4>TCEQ Computer Training Lab</h4>
<address>
    12100 Park Thirty Five Circle<br>
    Building A, Room 234/235<br>
    Austin, TX 78753
</address>

<a href="https://www.google.com/maps?ll=30.394181,-97.669122&z=15&t=m&hl=en-US&gl=US&mapclient=embed&cid=1320330449009717661" target="blank">
    <span class="glyphicon glyphicon-new-window"></span> View Map
</a>

<hr class="clearfix">

<div class="well well-bg">
  <p>
    Contact us about our Education &amp; Training Program.
  </p>
  <a class="btn btn-tnris btn-lg btn-block" href="/education/contact"><i class="glyphicon glyphicon-comment"></i> Contact Us</a>
</div>
