<div id="training-front">
  <script src="/training_partial.bundle.js"></script>
  <h2><a href="/education">GIS Education &amp; Training</a> <i class="fa fa-graduation-cap"></i> </h2>
  <h3 id="education-front-h3">Training Courses</h3>
  <p>Advance your professional GIS skills with our affordable courses.</p>
  <ul id="next-two-open-classes" class="list-clean">
  </ul>
  <p class="text-center">
    <a class="btn btn-tnris" href="/education" role="button">View TNRIS Training<span class="glyphicon glyphicon-chevron-right"></a>
  </p>
</div>
