<div id="training-front">
  <script src="/training_partial.bundle.js"></script>

  <h2>GIS Education</h2>

  <h3>New Course Schedule</h3>

  <p>Working from home is ideal for online training! Continue to advance your professional GIS skills by taking our affordable courses.</p>
  <p>In collaboration with our training partners, the schedule includes live instructor-led online classes and for the independent learner,
    self-paced online courses.
  </p>
  <p>
    Check out course schedule on the Education page and register now.
  </p>

  {# <h3 id="education-front-h3">  #}
    {# year and title gets injected here automatically from the training_partial.js logic #}
  {# </h3>
  <p>Advance your professional GIS skills by taking our affordable courses.</p> #}

  {# temporary notice regarding upcoming online courses becoming available #}
  {# <p>
    Working from home is the new normal environment and to accommodate your training needs, TNRIS has changed the delivery of training.
  </p>
  <p>
    In collaboration with our training partners the new schedule includes:
    <ul>
      <li style="margin-bottom:10px;">Instructor-led online classes to offer the same benefits of having your instructor in the session with you</li>
      <li style="margin-bottom:10px;">Self-paced online courses</li>
    </ul>
    Check out the courses listed on the <a href="/education">Education page</a> and register now to take online courses this summer.
  </p> #}
  {# end temporary notice #}


  <ul id="next-two-open-classes" class="list-clean"></ul>

  <p class="text-center">
    <a class="btn btn-tnris" href="/education" role="button">View TNRIS Training <span class="fa fa-chevron-right"></a>
  </p>
</div>
