<div id="training-front">
  <h2>GIS Education</h2>
  <p>
    TNRIS is dedicated to advancing the technical skills of professionals whose work revolves around geographic mapping. Rapidly evolving technology necessitates that GIS professionals expand their knowledge to stay current with traditional software updates as well as alternative mapping methods to support business operations and policy decisions.
  </p>
  <p>
    <a class="btn btn-tnris" href="/education" role="button">More info <span class="fa fa-chevron-right"></a>
  </p>
</div>
