<nav class="navbar-expand-sm navbar-inverse stratmap-bar">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item {% if (path == 'education') %}active{% endif %}" >
        <a class="nav-link" href="/education">Main</a>
      </li>
      <li class="nav-item {% if (path == 'education/teachers') %}active{% endif %}">
        <a class="nav-link" href="/education/teachers">Teacher Resources (K-12, College)</a>
      </li>
      {# <li class="nav-item {% if (path == 'education/purchasers') %}active{% endif %}" >
        <a class="nav-link" href="/education/purchasers">Purchaser Information</a>
      </li>
      <li class="nav-item {% if (path == 'education/course-cancellations') %}active{% endif %}" >
        <a class="nav-link" href="/education/course-cancellations">Course Cancellations</a>
      </li> #}
    </ul>
  </div>
</nav>
