<nav class="navbar navbar-inverse stratmap-bar">
  <div class="container">
    <ul class="nav navbar-nav">
      <li {% if (path == 'education') %}class="active"{% endif %}>
        <a href="/education">Main</a>
      </li>
      <li {% if (path == 'education/teachers') %}class="active"{% endif %}>
        <a href="/education/teachers">Teacher Resources (K-12, College)</a>
      </li>
      {# <li {% if (path == 'education/purchasers') %}class="active"{% endif %}>
        <a href="/education/purchasers">Purchaser Information</a>
      </li>
      <li {% if (path == 'education/course-cancellations') %}class="active"{% endif %}>
        <a href="/education/course-cancellations">Course Cancellations</a>
      </li> #}
    </ul>
  </div>
</nav>
