{% extends "base.njk" %}

{% block topcontent %}
  <div class="container-fluid full gio-top">

        <div class="top-container">
        {% if mainimage %}
          <img class="img-fluid img-responsive mx-auto d-block" src="{{mainimage}}" alt="Masthead for {{title}}">
        {% endif %}

        <div class="top-header mx-auto d-block">
            <div class="container-md">
              <h1 class="banner-header">{{title}}</h1>
              {% if abstract %}
                <div class="lead banner-lead">{{abstract}}</div>
              {% endif %}
            </div>
        </div>
        </div>
  </div>
{% endblock %}

{% block contentsOne %}
{% include "education/nav.njk" %}

  <div id="contentMain" class="container-md">
    <div class="row">
      <div class="col-lg-12">
        {{ contents|safe }}
      </div>
    </div>
  </div>
{% endblock %}
