@import "variables";


.forum-2019-top {
  background: #222;
  color: white;
  position: relative;

}

#forum-training-2019 {
  margin-top: 20px;

  h2 {
    color: $darkgrey;
    font-size: 35px;
    margin: 0;
  }
}

.welcome-logo-2019 {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
  img {
    max-width: 150px;

    @media (min-width: $screen-sm) {
    max-width: 100px;
    }

    @media (min-width: $screen-md) {
    max-width: 150px;
    }
  }
}

.rounded-circle.kn-headshot-2019 {
  border: 5px solid $forum2019tan;
  max-width: 125px;
}

//2023 stuff dont forget to move later//

.schedule {
  display: flex;
  flex-wrap: wrap;
}
.schedule-day {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}
.schedule-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.schedule-nav button {
  margin: 0 10px;
}
.session-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: calc(33.33% - 20px);
}
.session-card h3 {
  margin-top: 0;
}
.session-card img {
  max-width: 100%;
  margin-bottom: 10px;
}
.session-card p {
  margin: 5px 0;
}

.link-primary {
  color: #F24A45;
  display: inline-block;
  margin: 5px 0;
  text-decoration: underline;
}

.link-primary:hover {
  color: #F24A45;
  font-weight: bold;
}

.sponsor-card-container {
  display: flex;
  column-gap: 60px;
}

.sponsor-card {

  p {
    margin-bottom: 0;
  }

  border: 1px solid black;
  margin: 60px 0 0;
  padding: 30px;
}


.sponsor-benefits {
  column-count: 2;
  column-gap: 50px;
  -moz-column-count: 2;
  -moz-column-gap: 50px;
  -webkit-column-count: 2;
  -webkit-column-gap: 50px;
}

.sponsor-card-title {
  h2 {
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
  }

  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .sponsor-card-container {
    flex-direction: column;
  }
  
  .sponsor-benefits {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }
}

// FORUM-2022 //

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    width: 50%;
  }

}





@media only screen and (max-width: 767px) {
  .flex-container{
    flex-direction: column;

    div {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 550px) {
  .banner {
    margin-top: 110px;
  }
}

// CTA BOX //

.forum-cta {
  background-color: #e6e6e6;
  padding: 50px 25px;

  p {
    margin: 0;
  }
}

.forum-cta-title {
color: black;
font-family: 'DM Sans', sans-serif;
font-size: 1.6rem;
font-weight: 700;
margin: 0 0 10px;
padding-right: 20px;
}

.forum-cta-link {
  border-bottom: solid 1px #F14A45;
  color: #F14A45;
  padding-top: 5px;
}

.forum-cta-link:hover {
  color: #F14A45;
  font-weight: 700;
  text-decoration: none;
}

.forum-cta-description {
  border-left: solid 1px #444;
  padding-left: 30px;
}

@media only screen and (max-width: 767px) {
  .forum-cta-title {
    padding: 0;
  }

  .forum-cta-description {
    border-left: none;
    padding: 20px 0 0;
  }
}

//TYPOGRAPHY//

.forum-2022-h1 {
  border-bottom: solid 3px #84E0F4;
  color: black;
  font-family: 'DM Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .05rem;
  padding: 40px 0px 5px;
}

.forum-2022-h2 {
  color: black;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .05rem;
  padding-top: 15px;
}

.forum-2022-h3 {
  color: #494647;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;

}

.forum-2022-h4 {
  color: black;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .05rem;
  text-transform: uppercase;
}

.lead, p {
  color:#222;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem; 
  font-weight: 400;
}

//BUTTONS//

.button {
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  display: inline;
  font-family: 'DM Sans', sans-serif;
  margin-right: 30px;
  padding: 10px 30px;
}

.primary {
  background-color: #F14A45;
  border: solid 1px #F14A45;
  color: white;
}

.primary:hover {
  color: white;
  text-decoration: underline;
}

.primary i {
  color: white;
  padding-right: 10px;
  text-decoration: none;
}

.secondary {
  background-color: white;
  border: solid 2px #F14A45;
  color: #F14A45;
}

.secondary:hover {
  color: #F14A45;
  text-decoration: underline;
}

.secondary i {
  color: #F14A45;
  padding-right: 10px;
  text-decoration: none;
}

.disabled {
  background-color: #D4D4D4;
  border: solid 2px #D4D4D4;
  color: #575757;
}

.disabled:hover {
  background-color: #D4D4D4;
  border: solid 2px #D4D4D4;
  color: #575757;
  cursor: not-allowed;
  text-decoration: none;
}

//NAVIGATION//


.forum-nav {
  background-color: white;
  border-bottom: solid .75px #D7D7D7;
  border-top: solid .75px #D7D7D7;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
}

.forum-nav ul {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0;
}

.forum-nav li {
  display: inline-block;
  text-align: center;
}

.forum-nav a{
  color: #494647;
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
}

.forum-nav a:hover{
  color: #494647;
  font-weight: 500;
  text-decoration: none;
}

.forum-nav .active a {
  color: #F14A45;
  font-weight: 500;
}

.forum-nav .active a:hover {
  color: #F14A45;
  font-weight: 500;
  text-decoration: underline;
}

@media only screen and (max-width: 550px) {

  .forum-nav ul {
    flex-direction: column;
  }

}

//MAIN ELEMENTS//

.hero {
  align-items: center;
  column-gap: 60px;
  display: flex;
  justify-content: space-between;
}

.hero .intro {
  max-width: 50%;
}

.intro-cta {
  text-align: center;
  width: 30%;
}

.forum-sponsors {
  background-color: white !important;
}

@media only screen and (max-width: 990px) {
  .hero .intro {
    max-width: 100%;
  }

  .intro-cta {
    margin: 0 0 30px 0;
    width: 100%;
  }
}

.hero h1 {
  margin: 0 0 10px 0;
  padding-top: 20;
}

.hero .primary {
  margin-right: 0;
  width: 100%;
}

.intro {
  padding-top: 0;
  padding-bottom: 20px;
}

.forum-2022-content-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 120px;
  width: 100%
}

.forum-2022-content {
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  box-shadow:inset 0 0 0 2000px rgba(61, 31, 31, 0.5);
  color: white;
  padding: 120px 0;
  width: 350px;

  h2 {
    margin: 0;
    padding: 0;
  }

}

.forum-content {
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

a:hover .forum-2022-content {
  box-shadow:inset 0 0 0 2000px rgba(24, 19, 19, 0.8);
  transform: scale(1.05);
}

@media only screen and (max-width: 1200px) {
  .forum-2022-content {
    padding: 80px 10px;
    width: 250px;
  }

  .keynote-content {
    padding: 67px 10px;
  }
}

@media only screen and (max-width: 990px) {
  .forum-2022-content-wrapper {
    display: inline-block;
    padding-top: 15px;
  }

  .forum-2022-content {
    margin: 10px auto;
    padding: 60px;
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .forum-2022-content {
    padding: 80px 10px;
    width: 250px;
  }

  .keynote-content {
    padding: 67px 10px;
  }
}

.forum-2022-content h2 {
color: white;
text-shadow: 2px 2px 2px #444;
}

.card {
  border: none;
  display: flex;
  margin: 0 auto;

  img {
    object-fit:cover;
  }
}

.vertical {
  flex-direction: column;
  grid-row: span 2;
  grid-column: span 1;
}

.horizontal {
  align-items: center;
  flex-direction: row;
  grid-row: span 1;
  grid-column: span 2;
}

.reverse {
  flex-direction: row-reverse;

  .card__content {
    padding: 15px 60px 15px 0;
  }
}

.card__content {
  padding: 15px 0 15px 60px;
}

.card__type {
  font-variant: small-caps;
  letter-spacing: 2px;
  opacity: 0.9;
  color: #F14A45;
  padding-bottom: 0.5em;
}

.card__title {
  color: black;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: .05rem;
}

.card__excerpt {
  font-size: 16px;
  padding-bottom: 0.5em;
}

.card__img {
  border-radius: 50px;
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
}

@media only screen and (max-width: 990px) {
  .card {
    display: inline-block;
    padding-top: 25px;
  }

  .card__content {
    padding: 15px;
  }

  .reverse {

    .card__content {
      padding: 15px;
    }
  }

  .card__img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 350px) {
  .card__img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
  }
}

// AGENDA CONTENT //

.agenda-content {
  background-image: url("https://cdn.tnris.org/images/047_2019_forum.jpg");
}

.accordion .agenda-abstract {
  position: relative;
  padding: 15px 0;
  color: black;
  cursor: pointer;
}

.agenda-card {

  h2 {
    margin: 0;
    padding: 0 0 5px;
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  h4 {
    padding-top: 16px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  strong {
    color: #F14A45;
  }

  .card {
    padding-top: 10px;
  }

}

.left-text {
  text-align: left;
}

.agenda-hover:hover {
  background-color: #f7f7f7;
}

.flex-button {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .button {
    margin-right: 0;
  }
}

.margin-auto {
  margin: 0 auto;
}

.presentation-noti {
  text-align: right;
}

.agenda-abstract {
  align-items: center;
  display: flex;
  gap: 50px;
  margin-right: 30px;
}

.agenda-time {
  min-width: 100px;

  strong {
    color: #F14A45;
  }
}

.details {
  min-width: 80px;
}

.carrot {
  font-size: 10px;
}

@media only screen and (max-width: 767px) {
  .agenda-abstract {
    display: inline;
  }
}

@media only screen and (max-width: 600px) {
  .flex-button {
    display: inline;
  }
}

.accordion .agenda-details{
  position: relative;
  background: white;
  height: 0;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: .5px solid grey;
}

.btn-hover:hover {

  h2 {
    text-decoration: underline;
    text-decoration-color: #84E0F4;
  }
}

.training {
  h3 {
    color: #F14A45 !important;
  }
}

.agenda-placeholder {
  background-color: #f8f8f8;
  border-radius: 8px;
  margin: 0 auto;
  padding: 40px;;
  text-align: center;
  width: 100%;

  p {
    color: gray;
    margin-bottom: 0;
  }
}

.tab-wrapper{
  display:flex;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
  position: relative;
}

.tab{
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  justify-content: space-between;
  margin: 30px 10px 10px;
  padding: 10px 15px;
}

@media only screen and (max-width: 550px) {

  .tab {
    display:flex;
    flex-direction: column;
  }

  .panel .primary {
    display: flex;
    justify-content: center;
  }

}

.panels{
  width:100%;

  h3 {
    font-size: 1rem;
  }

  .centered {
    text-align: center;
  }

}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.tab-select{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab{
  background:black;
  color:white;
}

.agenda-item-wrapper {
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #d7d7d7;
  margin: 20px 0;
  padding: 0 25px;

  p {
    margin-bottom: 0;
  }

  b {
    color: #F14A45;
  }


}

.agenda-item {
  padding: 25px 0;

  &:last-child {
    border-bottom: 0;
  }

  h3 {
    margin-top: 20px;
  }

  p {
    margin: 0;
  }

}

.abstract {
  display: flex;
  align-items: center;

 strong {
   color: #F14A45;
 }

}

details {
  border-bottom: solid 1px #d7d7d7;
  padding-bottom: 25px;
  user-select: none;

  .card {
    padding-top: 25px;
  }

  h4 {
    margin-top: 30px;
  }

  .card__title {
    font-size: 1.2rem;
  }

  .card__img {
    max-width: 150px;
  }

}

//KEYNOTE CONTENT//

.keynote-content {
  background-image: url("https://cdn.tnris.org/images/035_2019_forum.jpg");
}


section.keynote-speakers:after:first-child  {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 256px);
  grid-template-rows: repeat(12, 196px);
  grid-gap: 16px;
}

//PRICING CONTENT//

.pricing-content {
  background-image: url("https://cdn.tnris.org/images/forum_2017_36.jpg");
}

.pricing-item {
  align-items: center;
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #d7d7d7;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;

  p {
    margin-bottom: 0;
  }

}

@media only screen and (max-width: 550px) {

  .pricing-container .primary {
    display: flex;
    justify-content: center;
  }

}

.pricing-table {
  border-collapse: separate;
  border-radius: 5px;
  border-spacing: 20px;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
}

.pricing-table-container h2 {
  margin-top: 50px;
}

@media only screen and (max-width: 650px) {
  .pricing-table-container {
    display: none;
  }
}

@media only screen and (min-width: 650px) {
  .pricing-list {
    display: none;
  }
}

.pricing-table strong {
  color: #1C3C5A;
}

.pricing-table th {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  strong {
    color: #F14A45;
  }

}

.pricing-table td{
  padding: 1rem 1.5rem;
  
  &:first-child {
    font-weight: bold;
  }
  
  &:nth-child(1n+2) {
    border: solid 1px #D7D7D7;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #d7d7d7;
  }

}

//SPONSOR PAGE//

.sponsor-cta-container {
  align-items: center;
  display: flex;
  padding-top: 40px;

}

@media only screen and (max-width: 650px) {
  .sponsor-cta-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .sponsor-cta-container .button {
    margin: 10px 0 5px;
  }
}

.sponsor-levels {
  align-items: center;
  border: 1px solid white;
  border-radius: 16px;
  justify-content: center;
  overflow: hidden;
}

.sponsor-table {
  display: none;
}

.sponsor-table-img {
  width: 100%;
}

.sponsor-table strong {
  color: #1C3C5A;
}

.sponsor-table th {
  border-bottom: solid 1px #D7D7D7;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding: 1.5rem;
  text-transform: uppercase;
}

.sponsor-table tr {
  border-bottom: solid 1px #D7D7D7;
  &:last-child {
    border: none;
  }
}

.sponsor-table td{
  &:first-child {
    font-weight: bold;
  }
  padding: 1rem 1.5rem;
}

.sponsor-table td:nth-child(even), .sponsor-table th:nth-child(even) {
  background-color: #EEEFF2;
}

.sponsor-table td:nth-child(1n+2), .sponsor-table th:nth-child(1n+2) {
  text-align: center;
}

.sponsor-opportunities {
  padding-top: 40px;
}

.sponsor-opportunities p {
  padding-bottom: 20px;
}

.sponsor-opportunities .greyed {
  color: #726E6F;
} 

.sponsor-opportunities b {
  color: #F14A45;
}

.sponsors-plat {
  margin: 0 auto;
  padding-bottom: 25px;

  .forum-2022-h2 {
    padding: 50px 0px 10px;
  }

  img {
    max-width: 300px;
  }

}

.sponsors-gold {
  padding-bottom: 25px;

  img{
  max-width: 150px;
  }
}

// LOCATION INFO PAGE //

.covid {
  margin-top: 100px;
}