@import "variables";

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $proxima;
  font-weight: 400;
  position: relative;

  transition: opacity 0.1s linear;

  .wf-loading & {
    opacity: 0;
  }

  .wf-active &, .wf-inactive & {
    opacity: 1;
  }
}

.row {
  padding: 0 !important;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

h2 {
  color: $auburn;
}

/* custom lead */
.lead {
  max-width: 750px;
}

.ie6 .ie-all-hide,
.ie7 .ie-all-hide,
.ie8 .ie-all-hide,
.ie9 .ie-all-hide {
  display: none !important;
}

.ie-all-show {
  display: none;
}

.ie6 .ie-all-show,
.ie7 .ie-all-show,
.ie8 .ie-all-show,
.ie9 .ie-all-show {
  display: block;
}

/* for skip links */
#contentMain {
  background: white;
  margin-bottom: 30px;

  #fourohfour {
    max-width: 100%;
  }

}

#mainContentAnchor {
  position: absolute;
  top: 76px;
}

/* Buttons */
.btn-tnris {
  color: white;
  background-color: $tnrisblue;
  border-color: $urgentblue;
  margin-top: 5px;

  &:hover {
    background: $urgentblue;
    color: white;
  }
}

.btn-map-expander {
  color: $tnrisblue;
  background-color: $sky;
  border-color: 0;
  box-shadow: 0 !important;
  border-radius: 0 !important;
  margin-top: 5px;

  &:hover {
    background: $midsky;
    color: $darkerblue;
  }
}

.btn-treegreen {
  color: white;
  background-color: $treegreen;
  border-color: $forestgreen;
  box-shadow: inset $forestgreen 0 0 7px;

  &:hover {
    background: $forestgreen;
    color: white;
  }
}

.btn-purpblue {
  color: white;
  background-color: $facebook;
  border-color: $purpblue;
  box-shadow: inset $purpblue 0 0 7px;

  &:hover {
    background: $purpblue;
    color: white;
  }
}

.btn-darkgrey {
  color: white;
  background-color: $darkgrey;
  border-color: $black;
  box-shadow: inset $black 0 0 7px;

  &:hover {
    background: $black;
    color: white;
  }
}

.btn-periwinkle {
  color: white;
  background-color: $periwinkle;
  border-color: $purpblue;
  box-shadow: inset $black 0 0 7px;

  &:hover {
    background: $purpblue;
    color: white;
  }
}

.btn {
  cursor: pointer !important;
}

/* push footer to bottom of page */
#wrap-outer {
  min-height: 100%;
}

#wrap-inner {
  overflow:auto;
  padding-bottom: $footer-height;
}

.footer {
  background: $darkgrey;
  clear: both;
  color: $lightgrey;
  min-height: $footer-height;
  margin-top: -$footer-height;
  position: relative;
  z-index: 500;

  a {
    color: $lightergrey;
    abbr {
      border: 0;
    }
  }

  @media (max-width: $screen-md) {
    .container {
      .row {
        margin-bottom: 55px;
      }
    }
  }

  .accessibility {
    background: $darkish;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
  }

  .copyright {
    bottom: 0;
    font-size: 12px;
    left: 0;
    padding-bottom: 25px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
  }

  .address-container {
    font-size: 14px;
    min-height: 200px;

    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      min-height: 300px;
    }

    p {
      margin-top: 20px;
    }
  }

  .sitemap {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 14px;
        margin-bottom: 5px;

        ul.footer-sub-menu {
          border-left: 1px solid $darkish;
          padding-left: 10px;
        }
      }


    }

    h4 {
      color: $lightgrey;

      a {
    		color: $lightgrey;
    	}
    }

    a {
      color: $bsgrey;
    }
  }
}

address {
  margin-bottom: 0;
}

author {
  text-transform: uppercase;
}

.article {
  .byline {
    margin-bottom: 5px;
  }

  h1.headline, h2.headline {
    font-size: 35px;
  }

  img {
    margin-bottom: 15px;
  }

  video {
    cursor: pointer;
  }
}

/* Base styles (regardless of theme) */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code, .highlight {
    background-color: #fff;
  }
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
  h4 {
    color: #B94A48;
  }
}

.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
  h4 {
    color: #C09853;
  }
}

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
  h4 {
    color: #3A87AD;
  }
}

.list-group-item.danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

/* Article Data Box */
.dataBox {
  padding: 20px;
  padding-top: 0;
  border: 1px #ccc solid;
  width: 300px;
  background: #f2f2f2;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* Common Page Elements */
.mainBlurb {
  font-size: 20px;
  margin-bottom: 10px;
  color: $middarkgrey;
}

img {
  &.pull-left {
    margin: 0 20px 20px 0;
  }

  &.pull-right {
    margin: 0 0px 30px 30px;
  }
}

.btn {
  &.pull-left {
    margin: 0 20px 20px 0;
  }

   &.pull-right {
    margin: 0 0px 20px 20px;
  }
}

figure {
  &.pull-left {
    margin: 0 20px 20px 0;
  }

   &.pull-right {
    margin: 0 0px 20px 20px;
  }
}

blockquote {
  background: $lightgrey;
}

/* for making full images at top on full-top template */
.container-fluid.full {
  padding: 0;
  margin-top: -5px;
  overflow: hidden;
  height: auto;
  position: relative;
    clear: both;
    margin-bottom: 15px;

  img {
    min-width: 100%;
    display: block;
  }

  .top-container {
    position: relative;
    min-height: 200px;

    .top-header {
      background: rgba(0, 0, 0, .75);
      bottom: 0;
      color: white;
      height: auto;
      margin: 0 auto;
      padding: 15px 0;
      position: absolute;
      text-shadow: 0 0 4px black;
      width: 100%;
      z-index: 100;

      h1 {
        margin-bottom: 0;
        margin-top: 0;

        @media (min-width: $screen-md){
          font-size: 50px;

        }

        small {
          color: $midgrey;
          clear: both;
          display: block;
          font-size: 22px;
        }

      }

    }
  }
}

/* Custom Breadcrumb */
.breadcrumb {
  font-size: 14px;

  @media (min-width: $screen-sm) {
    font-size: 16px;
  }
}

/* Media box resets */
.media:first-child {
  margin-top: 15px;
}

/* Alert Box */

.navbar-static-top {
  .alert-custom {
    padding: 0;
    border-radius: 0;
    box-shadow: 0 2px 5px $midgrey;

    strong {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 20px;
      font-weight: 400;
    }
    background: $lightgrey;
    font-size: 16px;
    margin-bottom: -1px;
    text-align: center;
    position: relative;
    color: $middarkgrey;

    a {
      color: $tnrisblue;
    }

    &.alert-dismissible {
      .container {
        position: relative;

        .close {
          font-size: 14px;
          text-transform: uppercase;
          color: $auburn;
          margin: 0 auto;
          margin-left: -10px;
          float: none;
          right: 0;
          top: 0;

          &:hover {
            color: $auburnoutline;
          }

          @media (min-width: $screen-md) {
            position: absolute;
            right: 10px;
            top: 10px;
          }
        }
      }
    }
  }
}

/* Side Bar on blogs */

.col-md-4 {
  .panel:first-child {
    margin-top: 20px;
  }
}

/* News Lists formatting */
.list-clean {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

.list-nospace {
  margin-left: 0px;
  padding-left: 20px;
}

ul.news-list {

    .media {
      border-bottom: 1px solid $midgrey;
      margin-top: 25px;

      h3 {
        font-size: 20px;

        @media (min-width: $screen-xs) {
          font-size: 22px;
        }
      }

      p {
        font-size: 15px;
        margin-bottom: 25px;
      }

      img {
        height: 100px;
        width: 100px;
        margin-bottom: 15px;
      }

      &:first-child {
        margin-top: 0;
        padding-left: 0;
      }

      &:last-child {
        border: none;
        padding-right: 0;
        padding-bottom: 0;
      }

      time {
        font-size: 16px;
        color: #5c6367;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 5px;
      }
    }
  }

// pull quotes for articles //
.pull-quote {
  background: $lightgrey;
  color: $tnrisblue;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  line-height: normal;
  margin: 20px 0;
  padding: 30px;

  @media (min-width: $screen-sm) {
    margin: 20px;
    margin-top: 5px;
    max-width: 40%;
  }

  &:before {
    content: open-quote;
  }
  &:after  {
    content: close-quote;
  }

  &.right {
    float: right;
    margin-right: 0;

    @media (min-width: $screen-sm) {
      margin-left: 25px;
    }

    @media (min-width: $screen-lg){
      margin-right: -40px;
    }
  }

  &.left {
    float: left;
    margin-left: 0;
    margin-right: 25px;

    @media (min-width: $screen-lg){
      margin-left: -40px;
    }
  }
}

// Custom Lead for articles //
.blog-main {
  .lead {
    padding: 20px;
  }
}

// emphasis paragraph

.emphasis {
    margin-bottom: 0px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
    padding: 10px;
  }

// Custom Modal
.modal-header {
  padding: 0 10px;
}

.modal-body {
  padding: 0 10px;
}

.modal-backdrop {
  background-color: $white;
  &.in {
    opacity: .7;
  }
}

// Figures for articles

.article figure {
  margin-bottom: 15px;
  max-width: 100%;

  img {
    margin-bottom: 5px;
  }

  figcaption {
    color: $middarkgrey;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

// data catalog collapse

.data-access-container {
  h2 {
    margin-top: 0;
  }
   .collapse {

    @media (min-width: 768px) {
     display: block !important;
    height: auto!important;
    overflow: visible!important;
    visibility: visible;

   }
  }
}

button.data-access-toggle {
  background: 0;
  border: 0;
  color: $tnrisblue;
  font-size: 18px;
  margin-bottom: 20px;

  &:hover {
    color: $darkerblue;

  }
}

// Custom Well
.well-dark {
  background: $darkgrey;
  color: $white;
  margin-top: 0px !important;

  a {
    color: $sky;
  }

  h3 {
    font-size: 30px;
    margin-top: 0;
  }

  small {
    color: $lightgrey;
  }

  .row .col-sm-3 {
    color: white !important;
  }
}

.well {
  h1, h2, h3, h4 {
    margin-top: 0;
  }
}

.neon-green {
  color: $electricgreen
}

// numbered list list-group-item

.list-group.numbered {
  .list-group-item {
    display: list-item;
  }
}

.clearfix {
  clear: both;
  display: block;
}

// indented article images
figure.right-indent {

  @media (min-width: $screen-sm) {
    float: right;
    margin-left: 30px;
    max-width: 300px;
  }

  @media (min-width: $screen-md) {
    margin-right: -150px;
    max-width: 400px;
  }
}

// full article figure

.full-article-figure {
  display: block;
  margin: 35px 0;
  position: relative;

  figcaption {
    background: rgba(0, 0, 0, .75);
    bottom: 0;
    color: $white;
    padding: 15px 20px;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }

  .twentytwenty-container {
    @media (max-width: $screen-md) {
      margin: 0 -25%;
      min-height: 250px;

      img {
        min-height: 250px;
      }
    }
  }
}

// Full Screen Modal
.modal-expand {
  .modal-dialog {

    @media (min-width: $screen-md) {
    width: 800px;
    }

    img {
      margin: 0 auto;
    }
  }
}

// video
video {display: block;}

// alert holder
.alert.topper {
  margin-bottom: 0;
  text-align: center;
  // font-size: 18px;
}

#maps-and-data-online-mapping-services .topper {
  display: none;
}

.topper .close {
  margin-top: 5px;
  font-size: 15px;
  width: 100%;
  color: $white !important;
  opacity: .7;
  text-shadow: 0 1px 0 #2c2c2c;
}

.alert-forum {
  background: $darkgrey;
  color: $white;
  text-align: left;
}

.alert-data {
  background: $notifyred;
  color: $darkgrey;
}

.forum-alert-logo {
  display: inline-block;
  text-indent: -9999px;
  background: url('https://tnris-org-static.s3.amazonaws.com/images/tx-gis-forum-white-long.png') 0 0 no-repeat;
  width: 200px;
  height:23px;
}

.col-lg-5ths,.col-md-5ths,.col-sm-5ths,.col-xs-5ths {
  min-height:1px;
  padding-left:10px;
  padding-right:10px;
  position:relative;
}

.col-md-5ths {
  @media(min-width: 992px) {
    float:left;
    width:20%
  }
}

// Youtube Videos
.youtubeWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// strikethrough
del {
  color: #a94442
}
