@import "variables";

// Training */
html {
  scroll-behavior: smooth;
}

h1 {
  &.training-title {
    margin-top: 0;
  }
}

.training-header {
  background: $lightgrey;
  min-height: 40px;
  line-height: normal;
  margin: 0 0 15px 0;
  padding: 10px 0;
  border: 1px solid rgba(0, 2, 34, .35);
}

.training-date {
  font-size: 20px;
  margin-bottom: 10px;
}

.training-sidebar {
  .sidebar-registration {
    margin-bottom: 10px;
  }
}

#training, #education-index {

  #category-filter-dropdown {
    margin-top: 20px;
    margin-bottom: 10px;

    #category-filter-dropdown-btn {
      width: 240px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }

    #category-dropdown-menu {
      max-width: 90vw;

      li {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:not(.divider):hover {
          cursor: pointer;
          background-color: $lightergrey;
        }
      }
    }
  }

  .training-list {

    .head {
      background: $tnrisblue;
      color: $white;
      font-weight: 300;
      padding: 5px;
    }

    div > div {
      padding: 5px;
      vertical-align: top;

      #full-details-btn {
        margin-top: 10px;
      }
    }

    .course-info {
      font-size: 14px;

      // display: none & input type=hidden disrupts functionality
      // of clipboard, so we make the object invisible using opacity
      // and then position it away so that it doesn't still take up space
      .hidden-clipboard-input {
        position: absolute;
        right: -100px;
        opacity: 0;
      }
    }

    .course-info-category {
      font-size: 16px;
      text-align: center;
      color: #ffffff;
      background-color: rgba(0, 2, 34, .35);
    }

    .course-description {
      border-bottom: 1px solid $lightergrey;
      padding-bottom: 30px;
    }

    &:last-child {
      .course-description {
        td {
          border-bottom: 0;
        }
      }
    }

    h3 {
      font-size: 22px;
      margin-top: 0;
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

// Special Collapse */

.open-collapse {
  box-shadow: none !important;
  font-size: 14px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;

  btn {
    border: 0;
    bottom: 0;
    cursor: pointer;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1000;

    &[aria-expanded="true"] {
      .close-text {
        display: block;
      }

      .expand-text {
        display: none;
      }
    }

    .close-text {
      display: none;
    }

    .cancel-block {
      background: $lightgrey;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      display: block;
    }
  }

  .panel-body {
    border: 0;
  }

  .collapse {
    display: block !important;
    max-height: 200px !important;
    overflow: hidden;
    position: relative;
    visibility: visible !important;

    &.in {
      max-height: none !important;

      .white-fade {
        display: none;
      }
    }

    .white-fade {
      background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      bottom: 0;
      display: block;
      height: 150px;
      position: absolute;
      width: 100%;
    }
  }
}

// More Specifit training entry page */

.pull-right {
  &.course-image {
    margin: 0 0 20px 20px;
  }
}

.trainingHighlightFront {
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;

  h4 {
    bottom: 0;
    color: white;
    padding: 20px;
    padding-bottom: 5px;
    position: absolute;
    width: 100%;

    small {
      color: $lightgrey;
    }
  }
}

#front-sidebar {
  .trainingModalHeader {
    position: relative;

    .trainingModalHeaderContainer {
      bottom: 0;
      color: $white;
      padding: 20px;
      padding-bottom: 5px;
      position: absolute;
      width: 100%;

      h2 {
      font-size: 34px;
      color: $white;

      small {

        color: $lightgrey;
      }
      }
    }
  }
}

#training-front {
  border-left: 1px solid $midgrey;
  font-size: 15px;
  padding-left: 15px;

  @media (min-width: $screen-md) {
    border-left: none;
    margin-top: 0;
    padding: 0;
  }

  h2 {
    font-size: 22px;
    margin-top: 5px;

    a {
      color: $auburn;
    }

    i {
      float: none;
      font-size: inherit;
    }
  }

  h3 {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;

    a {
      color: $darkgrey;
    }
  }

  h4 {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0;
  }

  a {
    font-family: 'Roboto Condensed', sans-serif;

    &.btn {
      font-family: $opensans;
    }
  }

  time {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0px;
  }

  i {
    float: left;
    font-size: 24px;
    height: 30px;
    margin-right: 5px;
    padding-top: 5px;

    &.extended {
    margin-bottom: 40px;
    }
  }

  li {
    margin-bottom: 30px;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}


h2.geospatial-header {
  background: 0 0 url('https://tnris-org-static.s3.amazonaws.com/images/geospatialtrainingservices_md.jpg') no-repeat;
  background-size: contain;
  width: 428px;
  height: 90px;
  text-indent: -9999px;
}

h2.teachmegis-header {
  background: 0 0 url('https://tnris-org-static.s3.amazonaws.com/images/teachmegis_md.jpg') no-repeat;
  background-size: contain;
  width: 428px;
  height: 90px;
  text-indent: -9999px;
}


.resources-highlight-box {
  color: $white !important;
  display: block;
  float: left;
  margin-bottom: 20px;
  position: relative;


  a {
    color: $white;
  }

  img {
    position: absolute;
  }

  h3 {
    margin-bottom: 5px;
    margin-top: 0;
    text-shadow: 2px 2px 0px $darkgrey;
  }

  p {
    margin-bottom: 0;
  }

  .resources-highlight-text-container {
    position: absolute;
    left: 20px;
    bottom: 10px;
    right: 20px;
  }

  @media (max-width: $screen-sm) {
    width: 100%;
    min-height:245px;
  }

  @media (min-width: $screen-sm) {
    width: 45%;
    height: 230px;
    margin-right: 10px;
  }

  @media (min-width: $screen-md) {
    height: 200px;
    width: 100%;
  }

  @media (min-width: $screen-lg) {
    height: 245px;
  }
}


// Info Chips
.education-chip-container {
  .col-md-2 {
    padding-right: 0;
  }

  h2 {
    margin-top: 0;
  }

  @media (min-width: $screen-md) {
    border-right: 1px solid $lightgrey;
  }
}

.map-card {
  border-radius: 5px;
  float: left;
  background-color: #fff;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  margin: 0 10px 10px 0;
  position: relative;

  &:hover {
    background: $lightergrey;
  }

  @media (max-width: $screen-sm) {
    width: 100%;
  }

  @media (min-width: $screen-sm) {
    width: 45%;
  }

  @media (min-width: $screen-md) {
    width: 45%
  }

  .map-card-img {
    width: 30%;
    min-height: 130px;
    float: left;
    background-size: 175px 175px !important;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .map-card-text {
    float: left;
    max-width: 70%;

      h3 {
        font-size: 18px;
        color: $darkgrey;
        text-decoration: none;
        padding: 0 5px;
        margin:  5px 0;
      }
      p {
        padding: 0 5px 5px 5px;
        color: $darkgrey;
        font-size: 14px;
      }
  }
}

.education-divider {
  @media (min-width: $screen-sm) {
    border-right: 1px solid $lightgrey;
  }
}
