@import "variables";

#events-container {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;

  .event-circle {
    text-align: center;

    a {
        background: $black;
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        display: block;
        width: 70%;

        img {
          opacity: .45;
        }

        &:hover {
          img {
          opacity: .9;
          }
        }
    }

    h3 {
      color: $white;
      font-size: 50px;
      position: absolute;
      top: 40%;
      text-align: center;
      width: 65%;
      padding: 0;
      margin: 0;
      text-shadow: 1px 1px 2px #000;
    }
  }

  .meeting-box {
    font-size: 16px;
    margin-top: -15px;

    hr {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

#events-front {
  border-left: 1px solid $midgrey;
  font-size: 15px;
  padding-left: 15px;

  @media (min-width: $screen-md) {
    border-left: none;
    margin-top: 0;
    padding: 0;
  }

  h2 {
    font-size: 22px;
    margin-top: 5px;

    a {
      color: $auburn;
    }

    i {
      float: none;
      font-size: inherit;
    }
  }

  h3 {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;

    a {
      color: $darkgrey;
    }
  }
}
