@import "variables";

// Maps */
html {
  scroll-behavior: smooth;
}

.maps-list {
  .map-collection-record {
      a:hover {
        text-decoration: none;
      }

      .full-details-btn {
        border-radius: 0 !important;
        box-shadow: 0 !important;
      }
  }

  .maps-header {
    background: $lightgrey;
    min-height: 40px;
    line-height: normal;
    margin: 0 0 15px 0;
    padding: 10px !important;

    .left-sidebar {
      padding: 0;
      text-align: center;

      .maps-thumbnail {
        display:block;
        margin:auto;
        width: 65%;
      }
    }

    .right-mainbar {
      h3 {
        margin-top: 0;
      }

      .maps-description {
      }
    }

    .available-sheets {
      overflow-x: auto;

      h4 {
        text-align: center;
      }

      table {
        margin-bottom: 0;

        .size-column {
          min-width: 85px;
        }

        .download-column {
          min-width: 113px;
        }
      }

      ul {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
        list-style: none;
        padding-left: 0;
      }
    }
  }
}
