
/* RDC Pages */
/**************************************************/

// markdown content div within rdc-sub.njk
.rdc-sub-content-column {
    .acquiring-agency {
      img.card.card-body{
        max-width: 30%;
      }
    }
}

.cardRDC {
  width: 80%;
  min-height: 90%;
}

div.sticky-order-bar{
  position:sticky;
  top: 120px;
}

.rdc-sub-content-column a.rdc-btn{
  width: 50%;
  margin: 20px auto;
}