{% extends "base.njk" %}

{% block contentsOne %}
<div id="contentMain" class="container">
<div id="_2014-forum-content" class="row">
	<div class="col-md-12">
		<h1>{{title}}</h1>

			<div class="main-image">
				<a href="/texas-gis-forum/2014">
					<img class="img-responsive" src="{{mainimage}}" alt="Main image for {{title}}">
				</a>
			</div>
			<div class="forum-date-runner">
				{{subtitle}}
			</div>
			<div class="lead">
				{{abstract}}
			</div>
		<div class="_2014-forum-body row">
			<div class="col-md-9">
				{{ contents|safe }}
			</div>
			<div class="col-md-3 sponsors">
				{% include "partials/2014-forum/forum-sponsors.njk" %}
				<a class="btn btn-danger btn-block" href="/texas-gis-forum/2014/sponsors-and-exhibitors">Sponsor &amp; Exhibitor Information</a>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
