<h2>Agenda Overview</h2>
<!-- <small><em>Learn more about presenters by clicking on their names.</em></small> -->
<table class="quick-agenda">
    <tr>
    <td><small>8:00AM to 8:45AM</small></td>
    <td><em>Breakfast - Social</em><br>Sponsored by <a href="http://www.esri.com">ESRI</a></td>
  </tr>
    <tr>
    <td><small>8:45AM to 9:00AM</small></td>
    <td><h4>Opening Remarks</h4></td>
  </tr>
  <tr>
    <td><small>9:00AM to 10:00AM</small></td>
    <td><h4>Keynote Address</h4><br>
    <a class="smooth-scroll" href="#900am-to-1000am"><i class="glyphicon glyphicon-user"></i> Waldo Jaquith, U.S. Open Data</a></td>
  </tr>
  <tr>
    <td><small>10:00AM to 10:15AM</small></td>
    <td><em>Break</em></td>
  </tr>
  <tr>
    <td><small>10:15AM to 11:45AM</small></td>
    <td>
      
      <ul>
        <li><a class="smooth-scroll" href="#1015am-to-1145am"><i class="glyphicon glyphicon-user"></i> Andy Dearing</a></li>
        <li><a class="smooth-scroll" href="#john-gravois--esri"><i class="glyphicon glyphicon-user"></i> John Gravois</a></li>
      </ul>
      </td>
  </tr>
    <tr>
    <td><small>11:45AM to 1:30PM</small></td>
    <td><em>Lunch on your own</em></td>
  </tr>
  <tr>
    <td><small>1:30PM to 3:00PM</small></td>
    <td> 


      <ul>
        <li><a class="smooth-scroll" href="#stuart-lynn---cartodb"><i class="glyphicon glyphicon-user"></i> Stuart Lynn</a></li>
        <li><a class="smooth-scroll" href="#mateo-clarke---open-austin"><i class="glyphicon glyphicon-user"></i> Mateo Clarke</a></li>
        <li><a class="smooth-scroll" href="#john-clary---city-of-austin"><i class="glyphicon glyphicon-user"></i> John Clary</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><small>3:00PM to 3:15PM</small></td>
    <td><em>Break</em></td>
  </tr>
    <tr>
    <td><small>3:15PM to 4:30PM</small></td>
    <td>  
  <ul>
        <li><a class="smooth-scroll" href="#calvin-metcalf--appgeo"><i class="glyphicon glyphicon-user"></i> Calvin Metcalf</a></li>
        <li><a class="smooth-scroll" href="#about-ben"><i class="glyphicon glyphicon-user"></i> Ben Guhin</a></li>
      </ul>
      </td>
  </tr>
  </tr>
  <tr>
    <td><small>4:30PM to 5:15PM</small></td>
    <td><h4><a class="smooth-scroll"  href="#lightning-talks">Lightning Talks</a></h4></td>
  </tr>
  <tr>
    <td><small>5:15PM to 5:20PM</small></td>
    <td><h4>Closing Remarks</h4></td>
  </tr>
  <tr>
    <td><small>5:30PM</small></td>
    <td><h4>Social TBA</h4></td>
  </tr>
</table>

<h2>I am new to programming. Will I benefit from this?</h2>
<p>Yes, this event is designed to help you make connections and provide some guidance for accomplishing your geospatial goals. There will be an emphasis on coding and breaking down the process for modern geospatial solutions.  </p>

<h2>Should I bring my own Laptop?</h2>
<p>Yes, we encourage you to bring your own laptop loaded with whatever tools and code that you may want or need. There will be wireless internet connections available. Note: Make sure you have a fully charged battery to avoid power outlet ‘range wars’!</p>

<h2>Code of Conduct</h2>
<p>Attendees and participating organizations at the GeoRodeo are required to agree to a Code of Conduct</p>
<a class="btn btn-danger btn-lg btn-block" href="/georodeo/2016/code-of-conduct">View Code of Conduct</a>
