{% extends "base.njk" %}
{% import "_form_macros.njk" as form %}


{% block styles %}
  {{ super() }}

  {{form.styles()}}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {{form.scripts()}}
{% endblock %}

{% block topcontent %}
<div class="georodeo-masthead container-fluid full">
    <div class="top-container">
        <div class="sr-only">
            <h1>{{title}}</h1>
            {{abstract}}
        </div>
          <a href="/georodeo/2016"><img class="main d-none d-md-block" src="{{mainimage}}" alt="Masthead for {{title}}">
          <img class="img-fluid d-block d-md-none" src="https://cdn.tnris.org/images/cowsay_pasture_sm.jpg" alt="Small Masthead for {{title}}">
        </a>
      <div class="georodeo-date-bar">
          <div class="container">The Annual Texas GeoDeveloper Roundup<br>
                    May 20, 2016 * Commons Center * Austin, TX
                  </div>
        </div>
    </div>
</div>
<div id="intro" class="georodeo-intro">
    <div class="container">
        <div class="row">
          <div class="col-md-8">
                <h1>{{title}}</h1>
              <p class="lead">
                {{abstract}}
              </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block contentsOne %}
<div id="contentMain" class="container">
<div class="row">
    <div class="col-md-8">
        {{ contents|safe }}
    </div>
</div>
</div>
{% endblock %}

{% block contentsTwo %}
<section class="georodeo-bottom">
    <div class="container">
        <div class="row">
            {% include "events/georodeo-2016/georodeo-map.njk" %}
        </div>
    </div>
</section>
{% endblock %}
