<nav class="navbar-expand-sm navbar-inverse gio-bar">
   <div class="container-md">
    <ul class="nav navbar-nav">
        <li class="nav-item {% if (path == 'geographic-information-office') %}active{% endif %}" >
          <a class="nav-link" href="/geographic-information-office">Main</a>
        </li>
        <li class="nav-item {% if (path == 'geographic-information-office/gis-solutions-group') %}active{% endif %}" >
          <a class="nav-link" href="/geographic-information-office/gis-solutions-group">GIS Solutions Group</a>
        </li>
      </ul>
  </div>
</nav>
