<section id="gio-reports" class="pt-2 gio-reports" style="margin-top:30px;">
	<div class="horizontal card">
		<img class="card_img" src="https://cdn.tnris.org/images/gio-report-cover-2021.png" alt="gio-report"class="card__image">
		<div class="card_content">
			<div class="card_title">GIO Report 2021<br><em>The Texas Geographic Information Landscape</em></div>
			<div class="card_info"><p>A report containing Geographic Information policy and funding recommendations to the Texas Legislature.</p>
			<div class="card_cta"><a class="button primary" href="https://cdn.tnris.org/documents/TexasGIO-Report_11-30-2021.pdf"><i class="fa fa-download"></i> Full Report</a></div>
		</div>
		</div>
	</div>
	<div class="horizontal card">
		<img class="card_img" src="https://cdn.tnris.org/images/gio-report-cover.jpg" alt="gio-report"class="card__image">
		<div class="card_content">
			<div class="card_title">GIO Report 2016<br><em>The Texas Geographic Information Landscape</em></div>
			<div class="card_info"><p>A report containing Geographic Information policy and funding recommendations to the Texas Legislature.</p>
			<div class="card_cta"><a class="button primary" href="https://cdn.tnris.org/documents/Geographic-Information-Officer-REPORT-digital.pdf"><i class="fa fa-download"></i> Full Report</a></div>
		</div>
		</div>
	</div>
</section>