
<section id="gio-reports" class="pt-2" style="margin-top:30px;">
	<div class="container-md">
		<h3 class="text-center">GIO Documents</h3>
		<hr class="noMarg" style="border-color: white">
		<div class="row">
			<div id="geolandscape" class="col-lg-6">
				<h3>
					Inaugural GIO Report<br><em>The Texas Geographic Information Landscape</em>
				</h3>
				<p>A report containing Geographic Information policy and funding recommendations to the Texas Legislature.</p>
				<a href="https://cdn.tnris.org/documents/Geographic-Information-Officer-REPORT-digital.pdf"><i class="fa fa-download"></i> Download the Report</a>
			</div>
			<div id="parcelreport" class="col-lg-6">
				<h3>Texas Statewide Parcel Data Report</h3>
			  <p>Statewide parcel data are the most requested data set based on our GIO Report. This report breaks down the strategy for meeting this need.</p>
			  <a href="https://cdn.tnris.org/documents/texas-statewide-parcel-data-report-20190802.pdf"><i class="fa fa-download"></i>  Full Report</a> | <a href="https://cdn.tnris.org/documents/texas-statewide-parcel-data-supplement-20190802.pdf"><i class="fa fa-download"></i> Supplement</a>
			</div>
		</div>
	</div>
</section>
