<section class="gio-main">
  <p class="lead">
    The Texas Geographic Information Officer (GIO) is designated by statute (<a href="http://www.statutes.legis.state.tx.us/SOTWDocs/WA/htm/WA.16.htm">Texas Water Code §16.021</a>) to be the Director of the Texas Natural Resources Information System (TNRIS). Establishing the GIO at TNRIS was appropriate given its history as the coordinating office for geospatial data collection, creation, and maintenance since 1972. By having the responsibilities of the GIO defined in state statute, it clearly established authorized articulation of all matters associated with the operation of the office.
  </p>
  <p class="lead">
    The most important function of the GIO is to build and maintain relationships with public agencies, institutes of higher education, and private sector and trade associations. Additionally, the role of the GIO is to encourage cooperation between stakeholders to maximize the value of Geographic Information System (GIS) data and services. The GIO accomplishes these charges by bringing the GIS community together to create connections, finding common needs, and building support for continued innovation to promote the use and adoption of geographic information systems.
  </p>
</section>