{% extends "base.njk" %}

{% block topcontent %}
<div class="container-fluid full gio-top">
  <div class="top-container">
  {% if mainimage %}
    <img class="img-fluid mx-auto d-block" src="{{mainimage}}" alt="Masthead for {{title}}">
  {% endif %}

    <div class="top-header mx-auto d-block">
        <div class="container">
          <h1>
            <small>Texas Geographic Information Office</small>
            {{title}}
          </h1>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block contentsOne %}

{% include "gio/gio-nav.njk" %}
<section class="container">
  <div class="row article">
    <div class="col-sm-12 col-md-8 blog-main">
      <div class="gio-news-content">
        {{ contents|safe }}
      </div>
    </div>

    {% block rightContent %}
      <div class="col-sm-12 col-md-4 blog-sidebar">
        {% include "gio/gis-solutions-meeting.njk" %}
      </div>
    {% endblock %}
  </div>
</section>
{% endblock %}
