<nav class="navbar navbar-inverse gio-bar">
   <div class="container">
    <ul class="nav navbar-nav">
        <li {% if (path == 'geographic-information-office') %}class="active"{% endif %}>
          <a href="/geographic-information-office">Main</a>
        </li>
        <li {% if (path == 'geographic-information-office/gis-solutions-group') %}class="active"{% endif %}>
          <a href="/geographic-information-office/gis-solutions-group">GIS Solutions Group</a>
        </li>
      </ul>
  </div>
</nav>
