
<p class="lead">
  The Texas Geographic Information Officer (GIO) is designated by statute (<a href="http://www.statutes.legis.state.tx.us/SOTWDocs/WA/htm/WA.16.htm">Texas Water Code §16.021</a>) to be the Director of the Texas Natural Resources Information System (TNRIS). Establishing the GIO at TNRIS was appropriate given its history as the coordinating office for geospatial data collection, creation, and maintenance since 1972. By having the responsibilities of the GIO defined in state statute, it clearly established authorized articulation of all matters associated with the operation of the office.
</p>
<p class="lead">
  The most important function of the GIO is to build and maintain relationships with public agencies, institutes of higher education, and private sector and trade associations. Additionally, the role of the GIO is to encourage cooperation between stakeholders to maximize the value of Geographic Information System (GIS) data and services. The GIO accomplishes these charges by bringing the GIS community together to create connections, finding common needs, and building support for continued innovation to promote the use and adoption of geographic information systems.
</p>
<p class="lead">
  <strong>Sign up for our mailing list</strong> to receive notifications about GIS community meetings and other news.
</p>
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }</style>
<div id="mc_embed_signup" style="margin-bottom:30px;">
  <form action="https://tnris.us2.list-manage.com/subscribe/post?u=d10adf1fa7b894025cbc7b722&amp;id=94fa65aef4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
      <div class="mc-field-group">
        <label for="mce-FNAME">Full Name  <span class="asterisk">*</span></label>
        <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
      </div>
      <div class="mc-field-group">
        <label for="mce-MMERGE4">Organization  <span class="asterisk">*</span></label>
        <input type="text" value="" name="MMERGE4" class="required" id="mce-MMERGE4">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_d10adf1fa7b894025cbc7b722_94fa65aef4" tabindex="-1" value="">
      </div>
      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </div>
  </form>
</div>
