<div id="gioBios">
  <figure class="media">
    <div class="media-left">
      <img class="img-circle headshot" src="https://cdn.tnris.org/images/richard_headshot.jpg" alt="Headshopt of GIO Richard Wade">
    </div>
    <div class="media-body">
      <h3>State GIO<br><strong>Richard Wade</strong></h3>
      <p>Richard Wade provides direction and management for all TNRIS-related activities and programs and serves as the Geographic Information Officer for Texas. He has 30 years of experience in GIS technology and computer mapping.</p>
    </div>
  </figure>
  <hr class="noMarg">
  <figure class="media">
    <div class="media-left">
      <img class="img-circle headshot" alt="Headshot of Deputy GIO Felicia Retiz" src="https://cdn.tnris.org/images/felicia_headshot.jpg">
    </div>
    <div class="media-body">
      <h3 class="mt-0">Deputy State GIO<br><strong>Felicia Retiz</strong></h3>
      <p>Felicia Retiz works closely with the GIS community to establish strategic targets and goals for GIS initiatives in Texas. She began her career in GIS at TNRIS in 1999 after receiving a Geography degree from the University of Texas at Austin. In 2017, she completed an Executive Masters in Public Affairs from the LBJ School at UT Austin.</p>
    </div>
  </figure>
</div>
