
<section id="gio-reports" style="margin-top:30px;">
	<div class="container">
		<h3 class="text-center">GIO Documents</h3>
		<hr class="noMarg">
		<div class="row">
			<div id="geolandscape" class="col-md-6">
				<h3>
					<i class="glyphicon glyphicon-file iconExtended"></i> Inaugural GIO Report<br><em>The Texas Geographic Information Landscape</em>
				</h3>
				<p>A report containing Geographic Information policy and funding recommendations to the Texas Legislature.</p>
				<a href="https://cdn.tnris.org/documents/Geographic-Information-Officer-REPORT-digital.pdf"><i class="glyphicon glyphicon-download-alt"></i> Download the Report</a>
			</div>
			<div id="parcelreport" class="col-md-6">
				<h3><i class="glyphicon glyphicon-file"></i> Texas Statewide Parcel Data Report</h3>
			  <p>Statewide parcel data are the most requested data set based on our GIO Report. This report breaks down the strategy for meeting this need.</p>
			  <a href="https://cdn.tnris.org/documents/texas-statewide-parcel-data-report-20190802.pdf"><i class="glyphicon glyphicon-download-alt"></i>  Full Report</a> | <a href="https://cdn.tnris.org/documents/texas-statewide-parcel-data-supplement-20190802.pdf"><i class="glyphicon glyphicon-download-alt"></i> Supplement</a>
			</div>
		</div>
	</div>
</section>
