{% extends "base.njk" %}

{% block topcontent %}
  <div class="container-fluid full gio-top">
    <div class="top-container">
    {% if mainimage %}
      <img class="img-responsive center-block" src="{{mainimage}}" alt="Masthead for {{title}}">
    {% endif %}
    {% if mainimagemd %}
      <img class="img-responsive center-block hidden-lg hidden-sm hidden-xs" src="{{mainimagemd}}" alt="Masthead for {{title}}">
    {% endif %}
    {% if mainimagesm %}
      <img class="img-responsive center-block hidden-lg hidden-md" src="{{mainimagesm}}" alt="Masthead for {{title}}">
    {% endif %}
    <div class="top-header center-block">
        <div class="container">
          <h1>{{title}}</h1>
        </div>
    </div>
    </div>
  </div>
{% endblock %}

{% block contentsOne %}

  {% include "gio/gio-nav.njk" %}
  <div class="container meeting-bar">
    {% include "gio/gio-calendar-quad.njk" %}
  </div>
  {{ contents|safe }}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-7">
        {% include "gio/gio-main.njk" %}
      </div>
      <div class="col-sm-12 col-md-5 blog-sidebar">
        {% include "gio/gio-bios.njk" %}
        {% include "gio/gis-community-meeting.njk" %}
      </div>
    </div>
  </div>
  {% include "gio/gio-reports.njk" %}

{% endblock %}
