<script src="/gio_notes_and_slides.bundle.js"></script>

<div style="margin-top:30px;" class="card card-body dcs-meeting-container">
  <p>
    <strong>Past GIS Community Meeting Presentations:</strong>
  </p>
  {# auto populate gis community meeting presentation docs from tnris api #}
  <ul id="community-meeting-slides" class="list-clean"></ul>
  <p style="padding-top:20px;">
    <small>
      <em>
        <strong>Note:</strong> Meeting presentation documents are provided for each quarter when a meeting is actually held.
        If there is no meeting, no document will be available for that quarter. Presentation documents are in order from oldest
        (top) to most recent (bottom), with a maximum of 4 documents available at any time.
      </em>
    </small>
  </p>
</div>
