<script src="/gio_calendar_next_sgm.bundle.js"></script>
<div class="well dcs-meeting-container">
  <div id="gio-calendar-next-sgm"></div>
  <p><strong>Past Meeting Notes:</strong></p>
  <ul class="list-clean">
    <li>
      <a href="https://tnris-org-static.s3.amazonaws.com/documents/GIS-SG-Meeting-Notes-2020-01-07_Final.pdf"><br><i class="glyphicon glyphicon-file"></i> View Notes from January 2019</a>
    </li>
    <li>
      <br><i class="glyphicon glyphicon-file"></i> December 2019 - No Meeting Held
    </li>
    <li>
      <a href="https://tnris-org-static.s3.amazonaws.com/documents/2019-11-13-GIS-SG-Meeting-Notes.pdf"><br><i class="glyphicon glyphicon-file"></i> View Notes from November 2019</a>
    </li>
    <li>
      <a href="https://tnris-org-static.s3.amazonaws.com/documents/2019-09-04-GIS-SG-Meeting-Notes.pdf"><br><i class="glyphicon glyphicon-file"></i> View Notes from September 2019</a>
    </li>
    <li>
      <a href="https://tnris-org-static.s3.amazonaws.com/documents/2019-07-16-GIS-SG-Meeting-Notes.pdf"><br><i class="glyphicon glyphicon-file"></i> View Notes from July 2019</a>
    </li>
    <li>
      <a href="https://tnris-org-static.s3.amazonaws.com/documents/2019-06-05-GIS-SG-Meeting-Notes.pdf"><br><i class="glyphicon glyphicon-file"></i> View Notes from June 2019</a>
    </li>
    <li>
      <a href="https://tnris-org-static.s3.amazonaws.com/documents/2019-05-07-GIS-SG-Meeting-Notes.pdf"><br><i class="glyphicon glyphicon-file"></i> View Notes from May 2019</a>
    </li>
    <li>
      <a href="https://tnris-org-static.s3.amazonaws.com/documents/2019-04-02-GIS-SG-Meeting-Notes.pdf"><br><i class="glyphicon glyphicon-file"></i> View Notes from April 2019</a>
    </li>
    <li>
      <a href="https://tnris-org-static.s3.amazonaws.com/documents/2019-02-26.GIS.SG.Meeting.Notes_0.1.pdf"><br><i class="glyphicon glyphicon-file"></i> View Notes from February 2019</a>
    </li>
    <li>
      <a href="https://tnris-org-static.s3.amazonaws.com/documents/2019-01-29.GIS.SG.Meeting.Notes_0.1.pdf"><br><i class="glyphicon glyphicon-file"></i> View Notes from January 2019</a>
    </li>
    <li>
      <a href="https://tnris-org-static.s3.amazonaws.com/documents/11-13-2018.GIS.SG.Meeting.Notes_0.2.pdf"><br><i class="glyphicon glyphicon-file"></i> View Notes from November 2018</a>
    </li>
<!--
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2018-07-02-notes-July-2018-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from July 2018</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2018-05-29-notes-June-2018-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from June 2018</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2018-05-01-notes-may-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from May 2018</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2018-03-27-notes-march-2018-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from March 2018</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2018-02-13-notes-february-2018-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from February 2018</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2018-01-18-notes-January-2018-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from January 2018</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2017-11-21-notes-november-2017-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from November 2017</a>
    </li>
    <li>
      <br><i class="glyphicon glyphicon-file"></i> October 2017 - No Meeting Held
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2017-09-19-notes-september-2017-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from September 2017</a>
    </li>
    <li><br><i class="glyphicon glyphicon-file"></i> August 2017 - No Meeting Held</li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2017-07-19-notes-july-2017-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from July 2017</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2017-06-13-notes-june-2017-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from June 2017</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2017-05-09-notes-may-2017-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from May 2017</a>
    </li>
    <li>
      <br><i class="glyphicon glyphicon-file"></i> April 2017 - No Meeting Held
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2017-03-07-notes-march-2017-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from March 2017</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2017-02-13-notes-February-2017-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from February 2017</a>
    </li>
    <li>
      <br><i class="glyphicon glyphicon-file"></i> January 2017 - No Meeting Held
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2016-12-01-notes-December-2016-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from December 2016</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2016-11-01-notes-November-2016-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from November 2016</a>
    </li>
    <li>
      <br><i class="glyphicon glyphicon-file"></i> October 2016 - No Meeting Held</li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2016-01-06-notes-september-2016-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from September 2016</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2016-08-23-notes-august-2016-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from August 2016</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2016-07-26-notes-july-2016-dcs-gis-solutions-group-meeting"><br><i class="glyphicon glyphicon-file"></i> View Notes from July 2016</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2016-07-21-notes-june-2016-dcs-gis-solutions-group"><br><i class="glyphicon glyphicon-file"></i> View Notes from June 2016</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2016-06-15-notes-may-2016-dcs-gis-solutions-group"><br><i class="glyphicon glyphicon-file"></i> View Notes from May 2016</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2016-04-28-notes-april-2016-dcs-gis-solutions-group"><br><i class="glyphicon glyphicon-file"></i> View Notes from April 2016</a>
    </li>
    <li>
      <a href="/geographic-information-office/gis-solutions-group/meeting-notes/2016-03-08-notes-march-2016-dcs-gis-solutions-group"><br><i class="glyphicon glyphicon-file"></i> View Notes from March 2016</a>
    </li> -->
  </ul>
</div>
