<script src="/gio_solutions_group.bundle.js"></script>

<div class="well dcs-meeting-container">
  {# solution group meetings/events not needed on frontend - as of 01/27/20 - requested by felicia #}
  {# <div id="gio-calendar-next-sgm"></div> #}
  <p><strong>Past Meeting Notes:</strong></p>
  {# auto populate sgm meeting notes docs from tnris api for the last 12 documents #}
  <ul id="gio-sgm-notes" class="list-clean"></ul>
</div>
