<script src="/gio_notes_and_slides.bundle.js"></script>

<div class="well dcs-meeting-container">
  <p>
    <strong>Past GIS Community Meeting Presentations:</strong>
  </p>
  {# auto populate gis community meeting presentation docs from tnris api #}
  <ul id="community-meeting-slides" class="list-clean"></ul>
  <p style="padding-top:30px;">
    <small>
      <em>
        <strong>Note:</strong> Meeting documents are provided for each month when a meeting is actually held.
        If there is no meeting, no notes will be available for that month. Documents are in order from oldest
        (top) to most recent (bottom), with a maximum of 12 documents available at any time.
      </em>
    </small>
  </p>
</div>
