<!-- 

// Removed GIS SG notes from site. 
Previous note in code was not implemented.
Removal approved by Gayla.
Talks of replacing notes with link to log in. //

<script src="/gio_notes_and_slides.bundle.js"></script>

<div class="card card-body dcs-meeting-container">
  {# solution group meetings/events not needed on frontend - as of 01/27/20 - requested by felicia #}
  {# <div id="gio-calendar-next-sgm"></div> #}
  <p>
    <strong>Past Meeting Notes:</strong>
  </p>
  {# auto populate sgm meeting notes docs from tnris api for the last 12 documents #}
  <ul id="gio-sgm-notes" class="list-clean"></ul>
  <p style="padding-top:30px;">
    <small>
      <em>
        <strong>Note:</strong> Meeting documents are provided for each month when a meeting is actually held.
        If there is no meeting, no notes will be available for that month. Documents are in order from oldest
        (top) to most recent (bottom), with a maximum of 12 documents available at any time.
      </em>
    </small>
  </p>
</div> -->
