<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-3">
      <p>8:00 AM - 9:00 AM</p>
    </div>
    <div class="session-card column">
      <h3 class="forum-h3">Breakfast Bar</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-3">
      <p>9:00  AM- 10:00 AM</p>
    </div>
    <div class="session-card column">
      <h3 class="forum-h3">Federal Activity Updates with State Impact</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-3">
      <p>10:00 AM - 10:15 AM</p>
    </div>
    <div class="session-card column">
      <h3 class="forum-h3">Break</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-3">
      <p>10:15 AM - 11:30 AM</p>
    </div>
    <div class="session-card column">
      <h3 class="forum-h3">State Initiatives and Data Priorities</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-3">
      <p>11:30 AM - 12:00 PM</p>
    </div>
    <div class="session-card column">
      <h3 class="forum-h3">Open Discussion and Final Remarks</h3>
    </div>
  </div>
</div>
<small class="disclaimer">*Information subject to change.</small>
