<div class="container">
  <div class="session-track">
    <div class="session-time col-lg-2">
      <p>8:00 AM - 9:00 AM</p>
    </div>
    <div class="session-card column">
      <h3 class="forum-h3">Breakfast Bar</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track">
    <div class="session-time col-lg-2">
      <p>9:00  AM- 9:10 AM</p>
    </div>
    <div class="session-card column">
      <h3 class="forum-h3">Opening Remarks</h3>
    </div>
  </div>
  <div class="session-track">
    <div class="session-time col-lg-2">
      <p>9:10  AM- 9:30 AM</p>
    </div>
    <div class="session-card column">
      <h3 class="forum-h3">-Federal Activity with State Impact<br>-National States Geographic Information Council (NSGIC)</h3>
      
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track">
    <div class="session-time col-lg-2">
      <p>9:30 AM - 11:30 AM</p>
    </div>
    <div style="flex-direction: column; !important" class="session-card column">
      <h3 class="forum-h3">-State Initiatives and Data Priorities<br>TxGIO Strategic Mapping Program</h3>
      <h3 class="forum-h3">-TxGIO Strategic Mapping Program</h3>
      
        <ol>
              <li><span>Review of past biennium</span></li>
              <li><span>StratMap contracts</span></li>
              <li><span>Highlight newly acquired datasets</span></li>
              <li><span>911 and boundary data initiatives and future feasibility</span>
            <ul>
              <li><span>What types of boundaries would be useful?</span></li>
              <li><span>Digital twins</span></li>
              <li><span>Landcover</span></li>
              <li><span>Derivative datasets</span></li>
              <li><span>Culvert datasets</span></li>
              <li><span>Archive and georeferencing project</span></li>
              <li><span>Army Corp of Engineers</span></li>
            </ul>
              </li>
      </ol>
      <h3 class="forum-h3">-TxGIO Geographic Infrastructure and Technology</h3>
      <ul>
        <li><span>Modernizing apps</span></li>
        <li><span>Preparing for more sustainable application infrastructure</span></li>
        <li><span>Redesign datahub</span></li>
        <li><span>Modernize tnris.org&#160;</span></li>
        <li><span>Broadening overall GIS technical support for the state</span></li>
        <li><span>Statewide Geocoder</span></li>
      </ul>
      <h3 class="forum-h3">-TxGIO Branding, Events, and Engagement</h3>
      <ul>
          <li><span>Branding</span></li>
          <li><span>Marketing</span></li>
          <li><span>Store</span></li>
          <li><span>GIS Community Meetings</span></li>
       </ul>
      
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track">
    <div class="session-time col-lg-2">
      <p>11:30 AM - 12:00 PM</p>
    </div>
    <div class="session-card column">
      <h3 class="forum-h3">Open Discussion and Final Remarks</h3>
    </div>
  </div>
</div>
<small class="disclaimer">*Information subject to change.</small>
