<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-2">
      <p>8:00 - 8:30</p>
    </div>
    <div class="session-card col-lg-10">
      <h3 class="forum-h3">Breakfast Bar</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-2">
      <p>8:30 - 9:00</p>
    </div>
    <div class="session-card col-lg-10">
      <div class="session-card-details">
        <div class="session-card-header">
          <h3 class="forum-h3">Opening Remarks</h3>
          <p>Richard Wade, Chief GIO</p>
        </div>
        <div class="session-location">
          <p><b>Location:</b> Big Tex Room</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track keynote row">
    <div class="session-time col-lg-2">
      <p>9:00 - 10:00</p>
      <p><b>Keynote</b></p>
    </div>
    <div class="session-card col-lg-10">
      <div class="session-card-details">
        <div class="session-card-header">
          <h3 class="forum-h3">Keynote: TBA</h3>
          <!-- <p>Blah blah blah blah blah blah.</p> -->
        </div>
        <div class="session-location">
          <p><b>Location:</b> Big Tex Room</p>
        </div>
        <!--<div class="session-button-container">
          <button class="disabled">
          no info
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-2">
      <p>10:00 - 10:30</p>
    </div>
    <div class="session-card col-lg-10">
      <h3 class="forum-h3">Break & Exhibits</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-2">
      <p>11:00 - 11:30</p>
      <p><b>Sessions</b></p>
    </div>
    <div class="session-group column">
      <div class="session-card-container">
        <div class="session-card">
          <div class="session-card-details column">
            <div class="session-card-header">
              <h3 class="forum-h3">Session A</h3>
              <p>Speaker, Org</p>
            </div>
            <div class="session-location">
              <p><b>Location:</b> Room</p>
            </div>
          </div>
          <div class="session-button-container full-details-btn column" data-toggle="collapse" aria-expanded="false" data-target="#day1-1100-a">
            <button class="button-primary">
            more info
            </button>
          </div>
        </div>
        <div id="day1-1100-a" class="collapse session-expanded">
          <hr>
          <h4 class="forum-h4">Overview:</h4>
          <p>N/A</p>
          <h4 class="forum-h4">Learning Objectives:</h4>
          <p>N/A</p>
          <h4 class="forum-h4">About the Speaker:</h4>
          <p><strong>Speaker, Org</strong></p>
          <p>Bio</p>
        </div>
      </div>
      <div class="session-card-container">
        <div class="session-card">
          <div class="session-card-details column">
            <div class="session-card-header">
              <h3 class="forum-h3">Session B</h3>
              <p>Speaker, Org</p>
            </div>
            <div class="session-location">
              <p><b>Location:</b> Room</p>
            </div>
          </div>
          <div class="session-button-container full-details-btn column" data-toggle="collapse" aria-expanded="false" data-target="#day1-1100-b">
            <button class="button-primary">
            more info
            </button>
          </div>
        </div>
        <div id="day1-1100-b" class="collapse session-expanded">
          <hr>
          <h4 class="forum-h4">Overview:</h4>
          <p>N/A</p>
          <h4 class="forum-h4">Learning Objectives:</h4>
          <p>N/A</p>
          <h4 class="forum-h4">About the Speaker:</h4>
          <p><strong>Speaker, Org</strong></p>
          <p>Bio</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-2">
      <p>11:30 - 12:00</p>
      <p><b>Sessions</b></p>
    </div>
    <div class="session-group column">
      <div class="session-card-container">
        <div class="session-card">
          <div class="session-card-details column">
            <div class="session-card-header">
              <h3 class="forum-h3">Session A</h3>
              <p>Speaker, Org</p>
            </div>
            <div class="session-location">
              <p><b>Location:</b> Room</p>
            </div>
          </div>
          <div class="session-button-container full-details-btn column" data-toggle="collapse" aria-expanded="false" data-target="#day1-1130-a">
            <button class="button-primary">
            more info
            </button>
          </div>
        </div>
        <div id="day1-1130-a" class="collapse session-expanded">
          <hr>
          <h4 class="forum-h4">Overview:</h4>
          <p>N/A</p>
          <h4 class="forum-h4">Learning Objectives:</h4>
          <p>N/A</p>
          <h4 class="forum-h4">About the Speaker:</h4>
          <p><strong>Speaker, Org</strong></p>
          <p>Bio</p>
        </div>
      </div>
      <div class="session-card-container">
        <div class="session-card">
          <div class="session-card-details column">
            <div class="session-card-header">
              <h3 class="forum-h3">Session B</h3>
              <p>Speaker, Org</p>
            </div>
            <div class="session-location">
              <p><b>Location:</b> Room</p>
            </div>
          </div>
          <div class="session-button-container full-details-btn column" data-toggle="collapse" aria-expanded="false" data-target="#day1-1130-b">
            <button class="button-primary">
            more info
            </button>
          </div>
        </div>
        <div id="day1-1130-b" class="collapse session-expanded">
          <hr>
          <h4 class="forum-h4">Overview:</h4>
          <p>N/A</p>
          <h4 class="forum-h4">Learning Objectives:</h4>
          <p>N/A</p>
          <h4 class="forum-h4">About the Speaker:</h4>
          <p><strong>Speaker, Org</strong></p>
          <p>Bio</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-2">
      <p>12:00 - 1:00</p>
    </div>
    <div class="session-card col-lg-10">
      <h3 class="forum-h3">Lunch</h3>
    </div>
  </div>
</div>
