<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-2">
      <p>8:00 - 9:00</p>
    </div>
    <div class="session-card col-lg-10">
      <h3 class="forum-h3">Breakfast Bar</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-2">
      <p>9:00 - 10:00</p>
    </div>
    <div class="session-card col-lg-10">
      <h3 class="forum-h3">Federal Activity Updates with State Impact</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-2">
      <p>10:00 - 10:15</p>
    </div>
    <div class="session-card col-lg-10">
      <h3 class="forum-h3">Break</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-2">
      <p>10:15 - 11:30</p>
    </div>
    <div class="session-card col-lg-10">
      <h3 class="forum-h3">State Initiatives and Data Priorities</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="session-track row">
    <div class="session-time col-lg-2">
      <p>11:30 - 12:00</p>
    </div>
    <div class="session-card col-lg-10">
      <h3 class="forum-h3">Open Discussion and Final Remarks</h3>
    </div>
  </div>
</div>
<small class="disclaimer">*Information subject to change.</small>
