
{% extends "base.njk" %}
{% import "_form_macros.njk" as form %}

{% block styles %}
  {{ super() }}

  {{form.styles()}}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {{form.scripts()}}

{% endblock %}

{% block topcontent %}
  <div class="full forum-2019-top">
    {% include "events/texas-gis-forum/2023/nav.njk" %}
  </div>
{% endblock %}


{% block contentsOne %}
  <div class="pt-4 container-md mx-auto">
      {{contents|safe}}
  </div>
{% endblock %}


{% block contentsTwo %}
{% if title == 'Sponsors & Exhibitors' %}
  {% include "events/texas-gis-forum/cta.njk" %}
  {% include "events/texas-gis-forum/2023/sponsors.njk" %}
{% endif %}
{% endblock %}