{% extends "base.njk" %}
{% import "_form_macros.njk" as form %}

{% block styles %}
  {{ super() }}

  {{form.styles()}}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {{form.scripts()}}

{% endblock %}

{% block topcontent %}
  <div>
    {% include "events/texas-gis-forum/2023/nav.njk" %}
  </div>
{% endblock %}


{% block contentsOne %}
  <div class= "forum-main">
  <div class="mx-auto">
      {{contents|safe}}
  </div>
  </div>
{% endblock %}

<!-- adding to this will break it because of base.njk inner-wrap div, use index.md -->