<div class="row">
  <div class="col-sm-5">
    <h3 class="forum-h2">COMMONS CONFERENCE CENTER at the J.J. Pickle Research Campus</h3>
    <p>
      <address>
      <a href="https://www.google.com/maps/place/10100+Burnet+Rd,+Austin,+TX+78758/@30.3860228,-97.7288196,17z/data=!3m1!4b1!4m6!3m5!1s0x8644cb8b894b4aef:0x6384781e87dfd27e!8m2!3d30.3860229!4d-97.7239487!16s%2Fg%2F11dztqh6fw" target="_blank">10100 Burnet Rd.<br>
      Austin, TX 78758</a>
      </address>
    </p>
    <p>The Commons Conference Center offers on-site parking, updated meeting spaces, the latest presentation technology, and delicious dining options. </p>
    <a class="link-primary" 
    href="https://commons.utexas.edu/meetings-and-events/area-hotels" target="_blank">
    Nearby Hotels → 
  </a>
   <!-- <p>To avoid parking fees, download the free parking pass and place it in a visible spot on your car's dashboard.</p>
    <p><a href="https://cdn.tnris.org/documents/2022-GIS-Forum-Parking-Pass.pdf" 
    class="btn btn-lg btn-darkgrey">Download Parking Pass</a>
    </p>-->
  </div>
  <div class="col-sm-7"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3441.7652601613713!2d-97.7239487!3d30.386022899999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644cb8b894b4aef%3A0x6384781e87dfd27e!2s10100%20Burnet%20Rd%2C%20Austin%2C%20TX%2078758!5e0!3m2!1sen!2sus!4v1682521363563!5m2!1sen!2sus" width="100%" height="400" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>


