<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>

<nav class="forum-nav">
    <ul>
        <li class="{% if (path == 'texas-gis-forum/2023') %}active{% endif %}" >
          <a href="/texas-gis-forum/2023">Overview</a>
        </li>
        <li class="{% if (path == 'texas-gis-forum/2023/location-details') %}active{% endif %}" >
          <a href="/texas-gis-forum/2023/location-details">Location Details</a>
        </li>
        <li class="{% if (path == 'texas-gis-forum/2023/sponsors-and-exhibitors') %}active{% endif %}" >
          <a href="/texas-gis-forum/2023/sponsors-and-exhibitors">Become a Sponsor</a>
        </li>
    </ul>
  </nav>
