<div class="container-md">
  <h1 class="forum-h1">Sponsors</h1>
  <div class="sponsors-plat text-center">
    <h2 class="forum-h2">Platinum Sponsors</h2>
    <a target ="_blank" href="https://www.esri.com"><img alt="Esri logo and link to website" src="https://cdn.tnris.org/images/esri_where_logo.png"></a>
    <!--<a target ="_blank" href="https://hxgncontent.com/"><img alt="Hexagon logo and link to website" src="https://cdn.tnris.org/images/hexagon-logo.png"></a>
  </div>-->
  <div class="sponsors-gold text-center">
    <h2 class="forum-h2">Gold Sponsors</h2>
    <a target="_blank" href="https://www.fugro.com/"><img alt="Fugro logo and link" src="https://cdn.tnris.org/images/fugro-logo-hiRes.jpg"></a>
    <a target="_blank" href="https://www.sanborn.com/"><img alt="Sanborn logo and link to website" src="https://cdn.tnris.org/images/sanborn_logo_sm.png"></a>
    <a target="_blank" href="https://www.aecom.com"><img alt="Aecom geospatial logo and link" src="https://cdn.tnris.org/images/aecom_black_logo.png"></a><br class="d-none d-sm-none d-md-none">
    <a target="_blank" href="https://www.nearmap.com/"><img alt="Nearmap logo and link" src="https://cdn.tnris.org/images/nearmap-logo.png"></a>
     <!--<a target="_blank" href="https://appgeo.com"><img alt="appgeo logo and link to website" src="https://cdn.tnris.org/images/appgeo_logo.png"></a>-->
  </div>
  <div class="sponsors-silver text-center">
    <h2 class="forum-h2">Silver Sponsors</h2>
    <a href="https://www.allterracentral.com/" target="_blank"><img alt="AllTerra logo and link" src="https://cdn.tnris.org/images/logo_allterra_large.png"></a>
    <a target="_blank" href="https://www.halff.com/"><img alt="Halff logo and link" src="https://cdn.tnris.org/images/halff_logo_2023.png"></a>
    <a target="_blank" href="https://www.surdex.com/"><img alt="Surdex geospatial logo and link" src="https://cdn.tnris.org/images/surdex_logo.png"></a>
    <a target="_blank" href="https://www.wgigeospatial.com/"><img alt="WGI geospatial logo and link" src="https://cdn.tnris.org/images/wgi_logo.png"></a>
    <!--<a href="https://www.geo-comm.com/"><img alt="GeoComm logo and link" src="https://cdn.tnris.org/images/geocomm_logo.png"></a>
    <a href="https://www.bluemarblegeo.com/"><img alt="Blue Marble logo and link" src="https://cdn.tnris.org/images/blue_marble_sm.png"></a>
    <a href="https://www.scaug.org/"><img alt="SCAUG logo and link" src="https://cdn.tnris.org/images/scaug_logo_main.png"></a>
    <a href="https://www.sanborn.com/"><img alt="Sanborn logo and link to website" src="https://cdn.tnris.org/images/sanborn_logo_sm.png"></a>
    <a href="https://www.geocortex.com/"><img alt="Geocortex logo and link" src="https://cdn.tnris.org/images/geocortex_web.png"></a>
    <a href="https://www.tylertech.com"><img alt="Tyler Tech logo and link" src="https://cdn.tnris.org/images/tylertech_logo_md.png"></a>
    <a href="https://www.kci.com/"><img alt="KCI Technologies logo and link" src="https://cdn.tnris.org/images/kci_technologies_md.png"></a>
    <a href="https://millerids.com/"><img alt="Miller Imaging logo and link" src="https://cdn.tnris.org/images/miller_logo_md.png"></a>
    <a href="https://www.intrado.com/"><img alt="Intrado, Inc logo and link" src="https://cdn.tnris.org/images/intrado_logo.png"></a>
    <a href="https://geoshack.com"><img alt="Geoshack logo and link" src="https://cdn.tnris.org/images/geoshack_logo_md.png"></a>-->
  </div>
  <div class="text-center">
    <h2 class="forum-h2">Exhibitors</h2>
    <ul class="list-clean">
      <li>Blue Marble Geographics</li>
      <li>USGS</li>
      <li>EagleView</li>
      <li>BadElf</li>
      <!--<li>NV5 Geospatial</li>
      <li>Intrado</li>
      <li>GeoComm</li>
      <li>Resource Data Inc.</li>
      <li>Miller Imaging & Digital Solutions</li>
      <li>Institute for a Disaster Resilient Texas</li>
      <li>VertiGIS</li>
      <li>Tyler Technologies - Plano, TX</li>
      <li>Texas A&M University Master of Geoscience - Online</li>
      <li>South Central Arc User Group</li>
      <li>Data Axle, Inc.</li>
      <li>Geospatial Training Services, LLC</li>
      <li>TeachMeGIS</li>
      <li>Vexcel Data Program</li>
      <li>AllTerra Central, Inc</li>-->
    </ul>
  </div>
</div>