<div class="container-md">
  <h1 class="forum-h1">Sponsors</h1>
  <div class="sponsors-platinum">
    <a target="_blank" href="https://www.esri.com"><img alt="Esri logo and link to website" src="https://cdn.tnris.org/images/esri_where_logo.png"></a>
    <a target="_blank" href="https://www.fugro.com/"><img alt="Fugro logo and link" src="https://cdn.tnris.org/images/fugro-logo-hiRes.jpg"></a>
    <a target="_blank" href="https://www.sanborn.com/"><img alt="Sanborn logo and link to website" src="https://tnris-org-static.s3.amazonaws.com/images/SANBORN_LOGO_2023_color.png"></a>
  </div>
  <div class="sponsors-gold">
    <a target="_blank" href="https://www.aecom.com"><img alt="Aecom geospatial logo and link" src="https://cdn.tnris.org/images/aecom_black_logo.png"></a>
    <a target="_blank" href="https://www.nearmap.com/"><img alt="Nearmap logo and link" src="https://cdn.tnris.org/images/nearmap-logo.png"></a>
    <a target="_blank" href="https://www.ecopiatech.com/"><img alt="Ecopia logo and link" src="https://cdn.tnris.org/images/ecopia-logo.png"></a>
    <a target="_blank" href="https://www.vertigis.com/"><img alt="Vertigis logo and link" src="https://cdn.tnris.org/images/vertigis-logo.png"></a>
    <a target="_blank" href="https://www.planet.com/"><img alt="Planet Labs logo and link" src="https://tnris-org-static.s3.amazonaws.com/images/planet-labs-logo.png"></a>
    <a target="_blank" href="https://www.hdrinc.com/"><img alt="HDR logo and link" src="https://cdn.tnris.org/images/HDR_logo.png"></a>
  </div>
  </div>
   <div class="sponsors-silver">
    <a target="_blank" href="https://www.allterracentral.com/"><img alt="AllTerra logo and link" src="https://cdn.tnris.org/images/logo_allterra_large.png"></a>
    <a target="_blank" href="https://www.halff.com/"><img alt="Halff logo and link" src="https://cdn.tnris.org/images/halff_logo_2023.png"></a>
    <a target="_blank" href="https://www.surdex.com/"><img alt="Surdex geospatial logo and link" src="https://cdn.tnris.org/images/surdex_logo.png"></a>
    <a target="_blank" href="https://www.wgigeospatial.com/"><img alt="WGI geospatial logo and link" src="https://cdn.tnris.org/images/wgi_logo.png"></a>
  </div>
  <div class="text-center">
    <h2 class="forum-h2">Exhibitors</h2>
    <ul class="list-clean">
      <li>Austin Community College (ACC)</li>
      <li>BadElf</li>
      <li>Blue Marble Geographics</li>
      <li>Data Axle</li>
      <li>EagleView</li>
      <li>South Central Arc User Group (SCAUG)<li>
      <li>TeachMeGIS</li>
      <li>U.S. Geological Survey (USGS)</li>
  </div>
</div>

<!-- PAST SPONSORS TO PULL FROM
<a href="https://www.geo-comm.com/"><img alt="GeoComm logo and link" src="https://cdn.tnris.org/images/geocomm_logo.png"></a>
<a href="https://www.bluemarblegeo.com/"><img alt="Blue Marble logo and link" src="https://cdn.tnris.org/images/blue_marble_sm.png"></a>
<a href="https://www.scaug.org/"><img alt="SCAUG logo and link" src="https://cdn.tnris.org/images/scaug_logo_main.png"></a>
<a href="https://www.geocortex.com/"><img alt="Geocortex logo and link" src="https://cdn.tnris.org/images/geocortex_web.png"></a>
<a href="https://www.tylertech.com"><img alt="Tyler Tech logo and link" src="https://cdn.tnris.org/images/tylertech_logo_md.png"></a>
<a href="https://www.kci.com/"><img alt="KCI Technologies logo and link" src="https://cdn.tnris.org/images/kci_technologies_md.png"></a>
<a href="https://millerids.com/"><img alt="Miller Imaging logo and link" src="https://cdn.tnris.org/images/miller_logo_md.png"></a>
<a href="https://www.intrado.com/"><img alt="Intrado, Inc logo and link" src="https://cdn.tnris.org/images/intrado_logo.png"></a>
<a href="https://geoshack.com"><img alt="Geoshack logo and link" src="https://cdn.tnris.org/images/geoshack_logo_md.png"></a>
<li>NV5 Geospatial</li>
<li>Intrado</li>
<li>GeoComm</li>
<li>Resource Data Inc.</li>
<li>Miller Imaging & Digital Solutions</li>
<li>Institute for a Disaster Resilient Texas</li>
<li>VertiGIS</li>
<li>Tyler Technologies - Plano, TX</li>
<li>Texas A&M University Master of Geoscience - Online</li>
<li>South Central Arc User Group</li>
<li>Geospatial Training Services, LLC</li>
<li>Vexcel Data Program</li>
<li>AllTerra Central, Inc</li>-->