<div class="col-sm-8">
    <h2>Code, Code on the Range</h2>
    <p class="lead">TNRIS invites you to Austin on May 19th, 2017, for the 5th annual GeoRodeo - a roundup of geodevelopers, coders and any professional from across the state of Texas who is looking to incorporate new ideas and creative solutions into their work.</p>
    <p class="lead">This free, interactive, technical conference, held at the <a href="https://commons.utexas.edu/">Commons Learning Center</a> of the JJ Pickle Research Campus, is geared towards the Texas GIS/geospatial developer community.</strong></p>
    <p class="lead">Join us to learn about tips and techniques for open data, open source, and commercial GIS applications. Browse the <a class="smooth-scroll" href="#agenda">agenda</a> to see what great topics to expect.</p>

 <h3 id="about_todd">
    <img class="rounded-circle sm-key-circle keynote-circle" src="https://cdn.tnris.org/images/todd_headshot.jpg" alt="Head shot of Todd Mostak from MapD"><small>Keynote Speaker</small><br>
Todd Mostak<br><a class="keynote-title" href="https://www.mapd.com/">Founder &amp; CEO at MapD</a> </h3>
    <p>Recognizing the possibilities behind the mechanics of Xbox and PlayStation, Todd rethought the standard for traditional data analytics. Replacing his CPU for a GPU, he was one of the first to discover the untapped potential of GPUs to analyze, visualize and explore data in ways never done. Now? He reduces query times from hours to milliseconds for Verizon, Amazon and Simulmedia, enabling them to spend significantly less time crunching data and more time analyzing to make key business decisions.</p>


 <h3 id="about_sara">
    <img class="rounded-circle sm-key-circle keynote-circle" src="https://cdn.tnris.org/images/sara_headshot.jpg" alt="Head shot of Sara Safavi from Boundless"><small>Keynote Speaker</small><br>
Sara Safavi<br><a class="keynote-title" href="https://boundlessgeo.com/">Software Engineer at Boundless</a> </h3>
    <p><strong>Sara Safavi </strong>is a software engineer at Boundless who writes free &amp; open source software that helps other people do cool geo-stuff. She is a core contributor to the open source GeoNode project, and currently spends much of her time working on the nonprofit MapStory Foundation's GeoNode-based web mapping platform. Outside of work, Sara is an organizer for MaptimeATX and frequent speaker in the Python &amp; geospatial tech communities.
</p>
</div>

<div class="col-sm-4 intro-side">
  <h4>Register On-Site</h4>
  <p class="lead"><strong>Online Registration is Now Closed.</strong> On-Site Registration is still available.</p>
    <h4>Sponsors</h4>
    <a href="http://www.esri.com"><img class="img-fluid" src="https://cdn.tnris.org/images/esri_red_md.png" alt="Esri logo and link to home page"></a>
    <a href="http://www.boundlessgeo.com"><img class="img-fluid" src="https://cdn.tnris.org/images/boundless_red_md.png" alt="Boundless logo and link to home page"></a>
    <a href="http://mapd.com/"><img class="img-fluid" src="https://cdn.tnris.org/images/mapd_logo_red_2017.png" alt="MapD Logo and Link to home page"></a>
    <a href="http://geospatialtraining.com/"><img class="img-fluid med" src="https://cdn.tnris.org/images/gts_logo_red.png" alt="Geospatial Training Services Logo and Link to home page"></a>
    <a href="http://appgeo.com/"><img class="img-fluid med" src="https://cdn.tnris.org/images/appgeo_logo_red_2017.png" alt="Appgeo Logo and Link to home page"></a>
    <a href="http://www3.lenovo.com/us/en/"><img class="img-fluid med" src="https://cdn.tnris.org/images/lenovo_red_2017.png" alt="Lenovo Logo and Link to home page"></a>
</div>
