
<div class="col-sm-4">
  <h2>Location &amp; Parking Information</h2>
    <h3>COMMONS LEARNING CENTER<br>
      at the J.J. Pickle Research Campus</h3>
  <address >
    10100 Burnet Rd<br> 
    Austin, TX, 78753 
  </address>
   <h3>Parking Pass</h3>
  <p>A parking pass is required at the Commons Center. Download, print and display prominently in your vehicle.</p>
  <a class="btn btn-lg btn-success" href="https://cdn.tnris.org/documents/2017-georodeo-commons-center-parking-pass.pdf"><i class="glyphicon glyphicon-file"></i> Download Parking Pass</a>
 </div>

 <div class="col-sm-8">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3441.723727705275!2d-97.726696!3d30.387202!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644cb896ba28767%3A0x52e801f255bc5232!2sCommons+Learning+Center!5e0!3m2!1sen!2sus!4v1427312306596" width="100%" height="400" frameborder="0" style="border:0"></iframe>
</div>
</div>
