<h2>Agenda Overview</h2>
<!-- <small><em>Learn more about presenters by clicking on their names.</em></small> -->
<table class="quick-agenda">
    <tr>
    <td><small>8:00AM to 8:45AM</small></td>
    <td><em>Breakfast - Social</em><!-- <br>Sponsored by <a href="http://www.esri.com">ESRI</a> --></td>
  </tr>
    <tr>
    <td><small>8:45AM to 9:00AM</small></td>
    <td><h4>Opening Remarks - Richard Wade</h4></td>
  </tr>
  <tr>
    <td><small>9:00AM to 10:00AM</small></td>
    <td><h4>Keynote Address</h4>
    <a class="smooth-scroll" href="#about_todd"><i class="fa fa-user"></i> Todd Mostak, Founder & CEO at MapD</a></td>
  </tr>
  <tr>
    <td><small>10:00AM to 10:15AM</small></td>
    <td><em>Break</em></td>
  </tr>
  <tr>
    <td><small>10:15AM to 11:45AM</small></td>
    <td>

      <ul>
        <li><a class="smooth-scroll" href="#diana-turner-brian-smith-design-technology-and-innovation-fellows-city-of-austin"><i class="fa fa-user"></i> Diana Turner & Brian Smith, City of Austin</a></li>
        <li><a class="smooth-scroll" href="#katherine-smyth-solution-engineer-esri"><i class="fa fa-user"></i> Katherine Smyth, ESRI</a></li>
        <li><a class="smooth-scroll" href="#glynnis-ritchie-ux-engineer"><i class="fa fa-user"></i> Glynnis Ritchie, Big Class</a></li>
      </ul>
      </td>
  </tr>
    <tr>
    <td><small>11:45AM to 1:15PM</small></td>
    <td><em>Lunch on your own</em></td>
  </tr>
  <tr>
    <td><small>1:15PM to 2:15PM</small></td>
	<td><h4>Keynote Address</h4>
	<a class="smooth-scroll" href="#about_sara"><i class="fa fa-user"></i> Sara Safavi, Boundless</a></td>
  </tr>
  <tr>
  	<td><small>2:15PM to 2:45PM</small></td>
  	<td>
      <ul>
        <li><a class="smooth-scroll" href="#christine-doig-senior-data-scientist"><i class="fa fa-user"></i> Christine Doig, Continuum Analytics</a></li>
      </ul>
      </td>
  </tr>
  <tr>
    <td><small>2:45PM to 3:00PM</small></td>
    <td><em>Break</em></td>
  </tr>
    <tr>
    <td><small>3:00PM to 4:00PM</small></td>
    <td>
      <ul>
          <li><a class="smooth-scroll" href="#tim-renner-data-scientist"><i class="fa fa-user"></i> Tim Renner, HomeAway</a></li>
          <li><a class="smooth-scroll" href="#jason-deckman-ktmpo"><i class="fa fa-user"></i> Jason Deckman, KTMPO</a></li>
    </td>
  </tr>
  </tr>
  <tr>
    <td><small>4:00PM to 4:30PM</small></td>
    <td><h4><a class="smooth-scroll"  href="#lightning-talks">Lightning Talks</a></h4></td>
  </tr>
  <tr>
    <td><small>4:30PM to 4:45PM</small></td>
    <td><h4>Closing Remarks</h4></td>
  </tr>
  <tr>
    <td><small>5:00PM</small></td>

    <td><h4>Social at <a href="http://4thtap.coop/">4th Tap Brewery</a></h4></td>

  </tr>
</table>

<h2>I am new to programming. Will I benefit from this?</h2>
<p>Yes, this event is designed to help you make connections and provide some guidance for accomplishing your geospatial goals. There will be an emphasis on coding and breaking down the process for modern geospatial solutions.  </p>

<h2>Should I bring my own Laptop?</h2>
<p>Yes, we encourage you to bring your own laptop loaded with whatever tools and code that you may want or need. There will be wireless internet connections available. Note: Make sure you have a fully charged battery to avoid power outlet ‘range wars’!</p>

<h2>Code of Conduct</h2>
<p>Attendees and participating organizations at the GeoRodeo are required to agree to a Code of Conduct</p>
<a class="btn btn-danger btn-lg btn-block" href="/georodeo/2017/code-of-conduct">View Code of Conduct </a>
