{% extends "base.njk" %}
{% import "_form_macros.njk" as form %}


{% block styles %}
  {{ super() }}

  {{form.styles()}}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {{form.scripts()}}
{% endblock %}

{% block topcontent %}
<div class="georodeo-masthead gr-top-2017">
    <div class="top-container container-md">
        <div class="sr-only">
            <h1>{{title}}</h1>
            {{abstract}}
        </div>
        <img class="main d-none d-md-block" src="{{mainimage}}" alt="Masthead for {{title}}">
        <img class="img-fluid d-block d-md-none" src="https://cdn.tnris.org/images/lifeontheopencode_front_sm.jpg" alt="Small Masthead for {{title}}">
        <div class="georodeo-date-bar sr-only">
          <div class="container-md">
                    May 19, 2017 * Commons Learning Center * Austin, TX</div>
        </div>
    </div>
</div>

<div id="intro" class="georodeo-intro gr-2017">

    <div class="container-md">


        <div class="row">
            {% include "events/georodeo-2017/georodeo-intro.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block contentsOne %}
<div id="contentMain" class="container-md">
<div class="row">
    <div class="col-lg-4 order-md-2">
        {% block sidebarLeft %}
            <div class="georodeo-side">
                {% include "events/georodeo-2017/georodeo-side.njk" %}
            </div>
        {% endblock %}
    </div>
    <div class="col-lg-8 order-md-1">
        {{ contents|safe }}
    </div>
</div>
</div>
{% endblock %}

{% block contentsTwo %}
<section class="georodeo-bottom">
    <div class="container-md">
        <div class="row">
            {% include "events/georodeo-2017/georodeo-map.njk" %}
        </div>
    </div>
</section>
{% endblock %}
