{% extends "base.njk" %}
{% import "_form_macros.njk" as form %}


{% block styles %}
  {{ super() }}

  {{form.styles()}}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {{form.scripts()}}
{% endblock %}

{% block topcontent %}
<div class="georodeo-masthead gr-top-2017 container-fluid full">
    <div class="top-container">
        <div class="sr-only">
            <h1>{{title}}</h1>
            {{abstract}}
        </div>
          <a href="/georodeo/2017"><img class="main hidden-xs" src="{{mainimage}}" alt="Masthead for {{title}}">
          <img class="img-fluid hidden-lg hidden-md hidden-sm" src="https://cdn.tnris.org/images/lifeontheopencode_sm.jpg" alt="Small Masthead for {{title}}">

        </a>
        <div class="georodeo-date-bar sr-only">
          <div class="container">
                    May 19, 2017 * Commons Learning Center * Austin, TX</div>
        </div>
    </div>
</div>

<div id="intro" class="georodeo-intro gr-2017">
    <div class="container">
       {% include "events/georodeo-2017/nav.njk" %}

        <div class="row">
          <div class="lead col-sm-8">
            <h2>{{title}}</h2>
            {{ contents|safe }}
          </div>
          <div class="col-sm-4">
              <a class="btn btn-danger btn-lg btn-block" href="https://www.regonline.com/registration/Checkin.aspx?EventID=1940743"><i class="glyphicon glyphicon-edit"></i> Become a Sponsor</a>
                  <h4>Current Sponsors</h4>
    <a href="http://www.esri.com"><img class="img-fluid" src="https://cdn.tnris.org/images/esri_red_md.png" alt="Esri logo and link to home page"></a>
    <a href="http://www.boundlessgeo.com"><img class="img-fluid" src="https://cdn.tnris.org/images/boundless_red_md.png" alt="Boundless logo and link to home page"></a>
    <a href="http://mapd.com/"><img class="img-fluid" src="https://cdn.tnris.org/images/mapd_logo_red_2017.png" alt="MapD Logo and Link to home page"></a>
    <a href="http://geospatialtraining.com/"><img class="img-fluid med" src="https://cdn.tnris.org/images/gts_logo_red.png" alt="Geospatial Training Services Logo and Link to home page"></a>

    <a href="http://appgeo.com/"><img class="img-fluid med" src="https://cdn.tnris.org/images/appgeo_logo_red_2017.png" alt="Appgeo Logo and Link to home page"></a>


    <a href="http://www3.lenovo.com/us/en/"><img class="img-fluid med" src="https://cdn.tnris.org/images/lenovo_red_2017.png" alt="Lenovo Logo and Link to home page"></a>




          </div>
        </div>
    </div>
</div>
{% endblock %}
