<nav class="navbar navbar-inverse georodeo-2017">
  <div class="container">
    <div class="navbar-header">

    </div>
    <ul class="nav navbar-nav">
        <li {% if (path == 'georodeo/2017') %}class="active"{% endif %}>
          <a href="/georodeo/2017">Welcome</a>
        </li>
        <li {% if (path == 'georodeo/2017/become-a-sponsor') %}class="active"{% endif %}>
          <a href="/georodeo/2017/become-a-sponsor">Become A Sponsor</a>
        </li>
<!--       <li {% if (path == 'georodeo/2017/call-for-presentations') %}class="active"{% endif %}>
          <a href="/georodeo/2017/call-for-presentations">Call for Presentations</a>
        </li> -->
  </div>
</nav>
