<nav class="navbar-expand-lg navbar-inverse georodeo-2017">
  <div class="container">
    <div class="navbar-header">

    </div>
    <ul class="nav navbar-nav">
        <li class="nav-item {% if (path == 'georodeo/2017') %}active{% endif %}" >
          <a class="nav-link" href="/georodeo/2017">Welcome</a>
        </li>
        <li class="nav-item {% if (path == 'georodeo/2017/become-a-sponsor') %}active{% endif %}" >
          <a class="nav-link" href="/georodeo/2017/become-a-sponsor">Become A Sponsor</a>
        </li>
<!--       <li class="nav-item {% if (path == 'georodeo/2017/call-for-presentations') %}active{% endif %}" >
          <a class="nav-link" href="/georodeo/2017/call-for-presentations">Call for Presentations</a>
        </li> -->
  </div>
</nav>
