<div id="imagery-service-faq-side">
  <h3>General FAQ Contents</h3>
  <p><em>Click on a question to navigate to its answer.</em></p>
  <ul class="faq-list list-clean">
    <li><a class="smooth-scroll" href="#how-can-the-texas-imagery-service-help-my-organization">How can the Texas Imagery Service help my organization?</a></li>
    <li><a class="smooth-scroll" href="#how-much-does-the-service-cost-for-my-agency">How much does the Service cost for my agency?</a></li>
    <li><a class="smooth-scroll" href="#can-i-join-at-any-time-during-the-year">Can I join at any time during the year?</a></li>
    <li><a class="smooth-scroll" href="#can-i-have-access-to-just-my-city-or-county-at-a-reduced-rate">Can I have access to just my city or county at a reduced rate?</a></li>
    <li><a class="smooth-scroll" href="#can-private-companies-on-contract-with-a-texas-government-agency-use-the-service">Can private companies on contract with a Texas government agency use the Service?</a></li>
    <li><a class="smooth-scroll" href="#what-are-the-terms-of-use">What are the terms of use?</a></li>
    <li><a class="smooth-scroll" href="#how-is-the-texas-imagery-service-different-from-the-state-programs-currently-in-place-to-acquire-imagery-such-as-the-texas-orthoimagery-program-top-or-the-national-agriculture-imagery-program-naip">How is the Texas Imagery Service different than the State Programs currently in place to acquire imagery such as the Texas Orthoimagery Program (TOP) or the National Agricultural Imagery Program (NAIP)?</a></li>
    <li><a class="smooth-scroll" href="#will-the-state-continue-to-pursue-its-own-acquisition-of-statewide-imagery-such-as-the-texas-orthoimagery-program-top-and-national-agriculture-imagery-program-naip-partnerships">Will the state continue to pursue its own acquisition of statewide imagery such as the Texas Orthoimagery Program (TOP) and National Aerial Imagery Program (NAIP) partnerships?</a></li>
    <h3>Technical FAQ</h3>
    <li><a class="smooth-scroll" href="#how-do-i-add-the-texas-imagery-service-to-my-software">How do I add the Texas Imagery Service to my software?</a></li>
    <li><a class="smooth-scroll" href="#how-can-i-incorporate-the-service-into-my-tools-and-applications">How can I incorporate the Service into my tools and applications?</a></li>
    <li><a class="smooth-scroll" href="#can-i-use-the-service-in-public-facing-web-map-applications">Can I use the Service in public facing web map applications?</a></li>
    <li><a class="smooth-scroll" href="#how-do-i-add-the-wmts-link-to-my-web-application-using-esri-javascript-api">How do I add the WMTS link to my web application using Esri JavaScript API?</a></li>
    <li><a class="smooth-scroll" href="#the-service-contains-several-layers-what-are-these-layers-which-ones-should-i-use">The Service contains several layers. What are these layers? Which one(s) should I use?</a></li>
    <li><a class="smooth-scroll" href="#how-do-i-access-the-acquisition-or-flight-date-of-the-imagery">How do I access the acquisition or flight date of the imagery?</a></li>
    <li><a class="smooth-scroll" href="#should-i-use-the-wms-service-link-or-the-wmts-service-link">Should I use the WMS service link or the WMTS service link?</a></li>
    <li><a class="smooth-scroll" href="#does-the-service-work-in-arcgis-online">Does the Service work in ArcGIS Online?</a></li>
    <li><a class="smooth-scroll" href="#what-if-my-link-stops-working">What if my link stops working?</a></li>
    <li><a class="smooth-scroll" href="#how-do-i-request-trial-links-for-my-organization">How do I request trial links for my organization?</a></li>
    <li><a class="smooth-scroll" href="#how-do-i-know-if-new-imagery-has-been-added-to-the-service">How do I know if new imagery has been added to the Service?</a></li>
    <li><a class="smooth-scroll" href="#do-i-need-to-refresh-my-service-or-get-a-new-link-to-see-new-imagery">Do I need to refresh my service or get a new link to see new imagery?</a></li>
    <li><a class="smooth-scroll" href="#what-if-i-see-errors-or-inconsistencies-in-the-imagery--how-should-i-report-it-and-to-whom-do-i-report-it">What if I see errors or inconsistencies in the imagery? How should I report it and to whom do I report it?</a></li>
    <li><a class="smooth-scroll" href="#what-projection-is-the-texas-imagery-service-using">What projection is the Texas Imagery Service using?</a></li>
    <li><a class="smooth-scroll" href="#can-i-download-or-get-a-physical-copy-of-the-original-image-that-is-in-the-service">Can I download or get a physical copy of the original image that is in the service?</a></li>
    <li><a class="smooth-scroll" href="#why-does-my-downloaded-tile-imagery-look-blockypatchy-when-displayed-in-arcgis">Why does my downloaded tile imagery look blocky/patchy when displayed in ArcGIS?</a></li>
    <li><a class="smooth-scroll" href="#what-projection-are-the-downloaded-jpeg-jpg-tiles-using">What projection are the downloaded JPEG (jpg) tiles using?</a></li>
    <li><a class="smooth-scroll" href="#is-it-possible-to-get-a-color-infrared-cir-version-of-the-imagery-as-a-service">Is it possible to get a Color Infrared (CIR) version of the imagery as a service?</a></li>
    <li><a class="smooth-scroll" href="#how-do-i-know-how-much-my-organization-has-used-the-service">How do I know how much my organization has used the Service?</a></li>
    <li><a class="smooth-scroll" href="#what-do-i-do-if-i-suspect-my-links-have-been-compromised-or-are-being-used-by-someone-or-an-organization-that-is-not-authorized-to-use-them">What do I do if I suspect my links have been compromised or are being used by someone or an organization that is not authorized to use them?</a></li>
    <li><a class="smooth-scroll" href="#request-unique-trial-links">Request Unique Trial Links</a></li>
  </ul>
</div>
