<div id="imagery-service-faq-side">
  <h3>General FAQ Contents</h3>
  <p><em>Click on a question to navigate to its answer.</em></p>
  <ul class="faq-list list-clean">
    <li><a class="smooth-scroll" href="#how-can-the-texas-imagery-service-help-my-organization">How can the Texas Imagery Service help my organization?</a></li>
    <li><a class="smooth-scroll" href="#how-will-maintenance-and-imagery-update-costs-be-covered-in-the-future">How will maintenance and imagery update costs be covered in the future?</a></li>
    <li><a class="smooth-scroll" href="#i-dont-use-the-google-maps-api-how-can-i-incorporate-the-services-into-my-tools-and-applications">I don’t use the Google Maps API, how do can I incorporate the services into my tools and applications?</a></li>
    <li><a class="smooth-scroll" href="#how-is-the-texas-imagery-service-different-from-the-state-programs-currently-in-place-to-acquire-imagery-such-as-the-texas-orthoimagery-program-top-or-the-national-agriculture-imagery-program-naip">How is the Texas Imagery Service different than the State Programs currently in place to acquire imagery such as the Texas Orthoimagery Program (TOP) or the National Agricultural Imagery Program (NAIP)?</a></li>
    <li><a class="smooth-scroll" href="#will-the-state-continue-to-pursue-its-own-acquisition-of-statewide-imagery-such-as-the-texas-orthoimagery-program-top-and-national-agriculture-imagery-program-naip-partnerships">Will the state continue to pursue its own acquisition of statewide imagery such as the Texas Orthoimagery Program (TOP) and National Aerial Imagery Program (NAIP) partnerships?</a></li>
    <li><a class="smooth-scroll" href="#what-do-i-do-if-i-suspect-that-my-link-has-been-compromised-or-is-being-used-by-someone-or-an-organization-that-is-not-authorized-to-use-it">What do I do if I suspect that my link has been compromised or is being used by someone or an organization that is not authorized to use it?</a></li>
    <li><a class="smooth-scroll" href="#how-much-does-the-service-cost-for-my-agency">How much does the service cost for my agency?</a></li>
    <li><a class="smooth-scroll" href="#can-i-join-at-any-time-during-the-year">Can I join at any time during the year?</a></li>
    <h3>Technical FAQ</h3>
    <li><a class="smooth-scroll" href="#how-do-i-add-the-texas-imagery-service-to-my-software">How do I add the Texas Imagery Service to my software?</a></li>
    <li><a class="smooth-scroll" href="#how-do-i-add-the-google-wmts-link-to-my-web-application-using-esri-javascript-api">How do I add the Google WMTS link to my web application using Esri JavaScript API?</a></li>
    <li><a class="smooth-scroll" href="#the-texas-imagery-service-now-contains-layers-by-year-what-are-these-new-layers">The Texas Imagery Service now contains layers by year. What are these new layers?</a></li>
    <li><a class="smooth-scroll" href="#should-i-use-the-wms-service-link-or-the-wmts-service-link">Should I use the WMS service link or the WMTS service link?</a></li>
    <li><a class="smooth-scroll" href="#the-wmts-link-does-not-work-in-arcgis-online-can-this-be-fixed">The WMTS link does not work in ArcGIS Online. Can this be fixed?</a></li>
    <li><a class="smooth-scroll" href="#why-does-my-downloaded-tile-imagery-look-blockypatchy-when-displayed-in-arcgis">Why does my downloaded tile imagery look blocky/patchy when displayed in ArcGIS?</a></li>
    <li><a class="smooth-scroll" href="#what-if-my-link-stops-working">What if my link stops working?</a></li>
    <li><a class="smooth-scroll" href="#how-do-i-know-if-and-when-new-imagery-has-come-online">How do I know if and when new imagery has come online?</a></li>
    <li><a class="smooth-scroll" href="#do-i-need-to-refresh-my-service-or-get-a-new-link-to-see-new-imagery">Do I need to refresh my service or get a new link to see new imagery?</a></li>
    <li><a class="smooth-scroll" href="#what-if-i-see-errors-or-inconsistencies-in-the-imagery--how-should-i-report-it-and-to-whom-do-i-report-it">What if I see errors or inconsistencies in the imagery? How should I report it and to whom do I report it?</a></li>
    <li><a class="smooth-scroll" href="#what-projection-is-the-texas-imagery-service-using">What projection is the Texas Imagery Service using?</a></li>
    <li><a class="smooth-scroll" href="#can-i-download-or-get-a-physical-copy-of-the-original-image-that-is-in-the-service">Can I download or get a physical copy of the original image that is in the service?</a></li>
    <li><a class="smooth-scroll" href="#what-projection-are-the-downloaded-jpeg2000-jp2-tiles-using">What projection are the downloaded Jpeg2000 (jp2) tiles using?</a></li>
    <li><a class="smooth-scroll" href="#is-it-possible-to-get-a-color-infrared-cir-version-of-the-imagery-as-a-service">Is it possible to get a Color Infrared (CIR) version of the imagery as a service?</a></li>
    <li><a class="smooth-scroll" href="#how-can-i-get-more-information-about-upcoming-flights-in-texas">How can I get more information about upcoming flights in Texas?</a></li>
    <li><a class="smooth-scroll" href="#how-do-i-know-how-much-my-organization-has-used-the-texas-imagery-service">How do I know how much my organization has used the Texas Imagery Service?</a></li>
    <li><a class="smooth-scroll" href="#request-a-unique-link">Request a Unique Link</a></li>
  </ul>
</div>
