<div class="col-12">
  <h2>Easy to Use Imagery for Government Entities Across Texas</h2>
</div>

<div class="col-lg-8">
  <p class="lead">Many of us use Google imagery in our daily lives, whether looking up directions or exploring our neighborhood from above. The State of Texas has collaborated with Google to provide a cost-efficient and widely accessible mapping tool that meets the needs of government agencies - the Texas Imagery Service.</p>
  <p class="lead">The Texas Imagery Service is designed to provide high resolution imagery showing the entire state of Texas with its most current coverage. The service provides continuous 6-inch natural color imagery for the entire state.</p>
  <p class="lead">Making Google imagery available to all public agencies in Texas distributes the cost, making the imagery and the updates affordable to all.</p>
</div>

<div class="col-lg-4 col-lg-3 offset-lg-1">
    <h3>To get started, visit the Link Request Form using the button below</h3>
    <p>We highly recommend <a class="orange" href="#project-faq"><strong>reading through the FAQ</strong></a> before requesting a unique link for your organization.</p>
    <a class="btn btn-danger btn-lg btn-block" href="/google-request">
      <i class="fa fa-comment"></i> Request a Link Today
    </a>
</div>
