<div class="col-12">
  <h2>Easy Access to Consistent, Quality Imagery Across Texas</h2>
</div>

<div class="col-lg-8">
  <p class="lead">Many of us use aerial imagery in our daily lives, whether looking up directions or exploring our neighborhood from above. The State of Texas has collaborated with <a href="https://hexagon.com/" target="_blank">Hexagon</a> and <a href="https://www.appgeo.com/" target="_blank">AppGeo</a> to provide a cost-efficient and widely accessible mapping tool that meets the needs of government agencies - the <strong>Texas Imagery Service</strong> through the <a href="https://hxgncontent.com/" target="_blank">Hexagon Content Program</a>.</p>
  <p class="lead">The <strong>Texas Imagery Service</strong> is designed to provide high resolution imagery showing the entire state of Texas with the most recent coverage. The Service provides continuous 6-inch natural color imagery for use in mapping and computer-aided design (CAD) applications, and is available for all state, regional and local governments in Texas, including their contractors.</p>
  <h3>To get started, visit the Link Request Form using the button below</h3>
    <a class="btn btn-danger btn-lg btn-block" href="/tis-request">
      <i class="fa fa-comment"></i> Request a Free Trial Today
    </a>
</div>

<div class="col-lg-4">
    <div class="videoWrapper"> <iframe src="https://www.youtube.com/embed/ox3eptf3qBg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <small>Did you know all government entities in Texas can obtain exclusive access to high-resolution streaming aerial imagery? In this <em>Take Flight with TNRIS</em> Webinar, Gayla Mullins of the Texas Natural Resources Information System (TNRIS), Katie Fitzsimmons of Hexagon, and Conor Cousins of AppGeo discuss the TNRIS Texas Imagery Service in detail, including improvements for 2021 and beyond, as well as how to sign up to access the service. You will also see examples of how agencies are taking advantage of this amazing set of digital assets.</small>
</div>

