<div class="col-12">
  <h2>Easy Access to Consistent, Quality Imagery Across Texas</h2>
</div>

<div class="col-lg-8">
  <p class="lead">Many of us use aerial imagery in our daily lives, whether looking up directions or exploring our neighborhood from above. The State of Texas has collaborated with <a href="https://hexagon.com/" target="_blank">Hexagon</a> and <a href="https://www.appgeo.com/" target="_blank">AppGeo</a> to provide a cost-efficient and widely accessible mapping tool that meets the needs of government agencies - the <b>Texas Imagery Service</b> through the <a href="https://hxgncontent.com/" target="_blank">Hexagon Content Program</a>.</p>
  <p class="lead"><b>The Texas Imagery Service</b> is designed to provide high resolution imagery showing the entire state of Texas with the most recent coverage. The Service provides continuous 6-inch natural color imagery for use in mapping and computer-aided design (CAD) applications, and is available for all state, regional and local governments in Texas, including their contractors.</p>
</div>

<div class="col-lg-4">
    <h3>To get started, visit the Link Request Form using the button below</h3>
    <small><p>We highly recommend reading through the FAQ before requesting a unique link for your organization.</p></small>
    <a class="btn btn-danger btn-lg btn-block" href="/tis-request">
      <i class="fa fa-comment"></i> Request a Free Trial Today
    </a>
</div>
