
<div id="helpful-downloads-texas-imagery" class="card card-body well-bg">
  <h3>Helpful Downloads</h3>
  <ul class="helpful list-clean">
    <li>
        <a href="https://cdn.tnris.org/documents/google-imagery-terms-of-use.pdf">
            <i class="fa fa-file"></i> Google Imagery Terms of Use
        </a>
    </li>
    <li>
        <a href="https://cdn.tnris.org/documents/google-imagery-formal-accuracy-assessment.pdf">
            <i class="fa fa-file"></i> Google Imagery Accuracy Assessment
        </a>
    </li>
  </ul>
</div>
