<div class="col-lg-8">
<h2 class="updates-header">Latest Updates as of<br><strong>September 15, 2016</strong></h2>
  <h3>2016 Image Block Updates</h3>
 <ul class="dash list-clean">
    <li>Abilene</li>
    <li>Lubbock</li>
</ul>

<p><strong>Please Note:</strong> Image alignment issues may occur in older versions of ArcGIS (pre-10.4) when accessing the imagery through the WMTS. There is a patch that will fix the alignment issues. The effect on CAD and Microstation users is unknown at this time</p>
  <p><a class="btn btn-danger btn-md" href="https://support.esri.com/download/2291">Download Patch</a></p>
<hr>
<h3><small class="text-muted">Updates from</small><br><strong>August 1, 2016</strong></h3>

<div class="row">
<div class="col-sm-7">
  <h3>2016 Image Block Updates</h3>
 <ul class="dash list-clean float-left" style="margin-right: 40px;">
    <li>Amarillo</li>
    <li>Austin</li>
    <li>Beeville</li>
    <li>Big Bend</li>
    <li>Big Lake</li>
    <li>Brownsville</li>
    <li>Childress</li>
    <li>Comstock</li>
    <li>Dalhart</li>
    <li>Dallas</li>
    <li>Del Rio</li>
</ul>
 <ul class="dash list-clean">
    <li>Floydada</li>
    <li>Fort Worth</li>
    <li>Junction</li>
    <li>LaMesa</li>
    <li>McAllen</li>
    <li>Padre Island</li>
    <li>Plainview</li>
    <li>Presidio</li>
    <li>San Antonio</li>
    <li>San Saba</li>
    <li>Sherman</li>
    <li>Victoria</li>
</ul>
</div>
<div class="col-sm-5">
 <h3>2015 Image Block Updates</h3>
 <ul class="dash list-clean">
    <li>Alice</li>
    <li>Baytown</li>
    <li>Dallas</li>
    <li>Eagle Pass</li>
    <li>Galveston</li>
    <li>Houston</li>
    <li>Laredo</li>
    <li>Marfa</li>
    <li>Pearsall</li>
    <li>Sanderson</li>
    <li>Seguin</li>
    <li>Zapata</li>
</ul></div>
</div>
<hr>
<div class="alert alert-warning">
Notice to all participants: the Texas Google Imagery service running on Google Maps Engine is no longer supported. Please contact us using the <a class="smooth-scroll" href="#contact-pm">comment/feedback</a> form if you are having service connection issues.
</div>

<h3><small class="text-muted">Updates from</small><br><strong>November 2, 2015</strong></h3>
  <ul class="dash list-clean">
    <li>Rockdale AOI updated to 2015</li>
    <li>Huntsville AOI updated to 2015</li>
    <li>Wichita Falls AOI updated to 2015</li>
  </ul>
<hr>

 <h3><small class="text-muted">Updates from</small><br><strong>August 18, 2015</strong></h3>
<p>
  The transition to the Google Cloud Platform (GCP) is now complete.  Unique links are being distributed to current pilot participants and will be completed by August 31st.  The new service provides faster response times, the ability to export and print maps, and contains the newest imagery for several areas in Texas.  </p>
  <p>Google has also cached all imagery down to level 20 (True 6-inch resolution).  This provides an extra level of detail in the imagery service. </p>
  <p><strong>Please Note:</strong> By default, ArcMap version 10.2.2 or prior will only display to level 19.  There is a patch that will allow prior versions to consume level 20. The effect on CAD and Microstation users is unknown at this time</p>
  <p><a class="btn btn-danger btn-md" href="https://support.esri.com/en/downloads/patches-servicepacks/view/productid/160/metaid/2148">Download Patch</a></p>
<hr>

  <h3><small class="text-muted">Updates from</small><br><strong>March 30, 2015</strong></h3>
  <ul class="dash list-clean">
    <li>Laredo AOI updated to 2012</li>
    <li>Carrizo Springs AOI updated to 2014</li>
    <li>Corpus Christi AOI updated to 2014</li>
    <li>Texarkana AOI updated to 2015</li>
    <li>Fort Worth AOI reloaded to fix misalignment issues</li>
    <li>Reprocessed Brownsville to include missing area along Mexico border</li>

  </ul>
</div>
<div class="col-lg-4">
  <a class="btn btn-secondary btn-lg btn-block smooth-scroll" href="#contact-pm">
    <i class="fa fa-question-sign"></i> General Questions or Feedback
  </a>
</div>
