{% extends "base.njk" %}


{% block topcontent %}
<div class="container-fluid full">

      <div class="top-container">
      {% if mainimage %}
        <img class="img-responsive center-block" src="{{mainimage}}" alt="Masthead for {{title}}">
      {% endif %}

      <div class="top-header center-block">
          <div class="container">
            <h1>{{title}}</h1>
            {% if abstract %}
              <div class="lead">{{abstract}}</div>
            {% endif %}
          </div>
      </div>
      </div>
</div>
{% endblock %}

{% block contentsOne %}
<div class="container">  {% include "rdc/nav.njk" %}</div>

<div id="contentMain" class="container">

  <div class="row">
    <div class="col-md-8 rdc-sub-content-column">

      {{ contents|safe }}
    </div>
    <div class="col-md-4">
      {% if title=='Research & Distribution Center (RDC)' %}
      <h3>Search, Download, Order Data</h3>
      <p class="lead">Use the TNRIS DataHub to locate your desired data. The majority of TNRIS data is available for download. All data can be ordered through the RDC.</p>

  <a class="btn btn-lg btn-tnris btn-block" href="https://data.tnris.org"><img style="width: 20px; margin-bottom: 0 !important;" src="https://tnris-org-static.s3.amazonaws.com/images/baseline_view_comfy_white_36dp.png"> Launch DataHub</a>
  <hr>
      {% endif %}

      {% if title=='Custom Maps' %}
      {% include "rdc/custom-pricing.njk" %}
      {% endif %}

      {% if title=='Historical Imagery Archive' %}
        <h3>Online Photo Search</h3>
        <p class="lead">Customers can perform a <strong>cursory</strong> search of the the TNRIS Historic photo archive and submit an order by using the DataHub.</p>

<a class="btn btn-lg btn-tnris btn-block" href="https://data.tnris.org/catalog/%7B%22filters%22%3A%7B%22category%22%3A[%22Historic_Imagery%22]%7D%7D"><img style="width: 20px; margin-bottom: 0 !important;" src="https://tnris-org-static.s3.amazonaws.com/images/baseline_view_comfy_white_36dp.png"> Launch DataHub</a>

<hr>
<div>
<h3>Historical Imagery Costs</h3>

<ul class="list-nospace">
  <li>Historical search (1 image per decade): $40.00 per site</li>
  <li>Single year search: $18.00 per site</li>
  <li>Scanned historical frame: $10.00 per image</li>
  <li>Scanned + georeferenced historical frame: $20.00 per image</li>
  <li>Digital download (0 - 10GB): $7.00</li>
</ul>
<h3>Data Reproduction Costs</h3>
<ul class="list-nospace">
  <li>This pricing is only available for collections that have been fully digitized. </li>
  <li>Staff time: $46.00 per TB</li>
  <li>Server/computer time: $0.15 per GB</li>
  <li>TNRIS provided USB flash drive (64 GB): $40.00</li>
  <li>TNRIS provided external hard drive (1 TB): $100.00</li>
</ul>
</div>
<div class="bs-callout bs-callout-danger">
  <p><strong>No Refund Policy:</strong> TNRIS does not offer refunds for services rendered. All data is available through the Public Domain at no cost. All applicable fees are associated with the cost of data reproduction.</p>
</div>
<hr>
      {% endif %}

      <h3>RDC Office Hours</h3>
      <p>
        Monday-Friday, 8am-4pm<br />
        By Appointment Only<br />
        <i class="glyphicon glyphicon-earphone"></i> <a href="tel:5124638337">512-463-8337</a>
      </p>

    </div>


  </div>


</div>
{% endblock %}
