
<div class="col-sm-4">
  <h2>Location &amp; Parking Info</h2>
    <h3>COMMONS LEARNING CENTER<br>
      at the J.J. Pickle Research Campus</h3>
  <p>
    <address>
    10100 Burnet Rd<br> 
    Austin, TX, 78753 
  </address>
  </p>
 <h3>Parking Pass</h3>
 <p>Download the required parking pass and place it prominently on the dashboard of your vehicle.</p>
 <p><a class="btn btn-lg btn-danger" href="https://cdn.tnris.org/documents/gis-2015-parking-permit.pdf">Download Parking Pass</a></p>
</div>
 <div class="col-sm-8">
 <iframe title="Location and Parking Information" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6883.44745541055!2d-97.726696!3d30.387202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644cb896ba28767%3A0x52e801f255bc5232!2sCommons+Learning+Center!5e0!3m2!1sen!2sus!4v1429652665463" width="100%" height="400" frameborder="0" style="border:0"></iframe>
</div>
