<nav class="navbar-expand-sm navbar-inverse forum-bar">
  <div class="container-md">
    <ul class="nav navbar-nav">
        <li class="nav-item {% if (path == 'texas-gis-forum/2015') %}active{% endif %}" >
          <a class="nav-link" href="/texas-gis-forum/2015">Welcome</a>
        </li>
        <li class="nav-item {% if (path == 'texas-gis-forum/2015/agenda') %}active{% endif %}" >
          <a class="nav-link" href="/texas-gis-forum/2015/agenda">Agenda</a>
        </li>
        <li class="nav-item {% if (path == 'texas-gis-forum/2015/training') %}active{% endif %}" >
          <a class="nav-link" href="/texas-gis-forum/2015/training">Training</a>
        </li>
        <!-- <li class="nav-item {% if (path == 'texas-gis-forum/2015/poster-gallery') %}active{% endif %}" >
          <a class="nav-link" href="/texas-gis-forum/2015/poster-gallery">Poster Gallery &amp; Contest</a>
        </li> -->
        <!-- <li class="nav-item {% if (path == 'texas-gis-forum/2015/sponsors-and-exhibitors') %}active{% endif %}" >
          <a class="nav-link" href="/texas-gis-forum/2015/sponsors-and-exhibitors">Sponsors &amp; Exhibitors</a> -->
        </li>
      </ul>
  </div>
</nav>
