<nav class="navbar navbar-inverse forum-bar">
  <div class="container">
    <ul class="nav navbar-nav">
        <li {% if (path == 'texas-gis-forum/2015') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2015">Welcome</a>
        </li>
        <li {% if (path == 'texas-gis-forum/2015/agenda') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2015/agenda">Agenda</a>
        </li>
        <li {% if (path == 'texas-gis-forum/2015/training') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2015/training">Training</a>
        </li>
        <!-- <li {% if (path == 'texas-gis-forum/2015/poster-gallery') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2015/poster-gallery">Poster Gallery &amp; Contest</a>
        </li> -->
        <!-- <li {% if (path == 'texas-gis-forum/2015/sponsors-and-exhibitors') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2015/sponsors-and-exhibitors">Sponsors &amp; Exhibitors</a> -->
        </li>
      </ul>
  </div>
</nav>
