<div class="container-md">
  <div class="sponsors-platinum">
    <h3>Platinum Sponsors</h3>
    <a href="https://appgeo.com"><img class="img-fluid" alt="appgeo logo and link to website" src="https://cdn.tnris.org/images/appgeo_logo.png"></a>
    <a  href="https://cartodb.com"><img class="img-fluid"  alt="cartoDB logo and link to website" src="https://cdn.tnris.org/images/cartodb_logo.png"></a>
    <a  href="https://esri.com"><img class="img-fluid"  alt="ESRI logo and link to website" src="https://cdn.tnris.org/images/esri_logo.png"></a>
  </div>

  <div class="sponsors-gold">
    <h3>Gold Sponsors</h3>
    <a href="https://plotterpro.com/"><img alt="Plotter Pro Logo and link to website" src="https://cdn.tnris.org/images/prof_plotter_logo.png"></a>

    <a href="https://www.hexagongeospatial.com/"><img alt="hexagon geospatial logo and link" src="https://cdn.tnris.org/images/hexagon_logo.png"></a>

    <a href="https://www.surdex.com/"><img alt="Surdex geospatial logo and link" src="https://cdn.tnris.org/images/surdex_logo.png"></a>

    <a href="https://www.aecom.com"><img alt="Aecom geospatial logo and link" src="https://cdn.tnris.org/images/aecom_logo.png"></a>

    <a href="https://www.infogroup.com/"><img alt="Infogroup geospatial logo and link" src="https://cdn.tnris.org/images/infogroup_logo.png"></a>

  </div>
  <div class="sponsors-silver">
    <h3>Silver Sponsors</h3>
    <a href="https://www.sam.biz"><img alt="Survey Aerial and Mapping LLC logo and link to website" src="https://cdn.tnris.org/images/sam_logo.png"></a>

    <a href="https://www.scaug.org/"><img alt="SCAUG logo and link to website" src="https://cdn.tnris.org/images/scaug_logo.png"></a>

    <a href="https://company.here.com/here/"><img alt="Here logo and link to website" src="https://cdn.tnris.org/images/here_logo.png"></a>

    <a href="https://www.aos5.com"><img alt="AOS GIS logo and link to website" src="https://cdn.tnris.org/images/aosgis_logo.png"></a>

     <a href="https://www.360tech.com/"><img alt="HP 360 logo and link to website" src="https://cdn.tnris.org/images/hp_360_web.png"></a>

     <a href="https://ga-inc.net"><img alt="Gorrondona Associates logo and link to website" src="https://cdn.tnris.org/images/gai_logo.png"></a>
     
     <a href="https://www.sanborn.com/"><img alt="Sanborn logo and link to website" src="https://cdn.tnris.org/images/sanborn_logo.png"></a>

     <a href="https://www.teachmegis.com/"><img alt="TeachMeGIS logo and link to website" src="https://cdn.tnris.org/images/teachme_logo.png"></a>


     <a href="https://www.razor-tek.com/"><img alt="Razor-tek and Lizard Tech logo and link to website" src="https://cdn.tnris.org/images/razorlizard_web.png"></a>    


     <a href="https://www.fugro.com/"><img alt="Fugro logo and link to website" src="https://cdn.tnris.org/images/fugro_logo.png"></a>   
     <a href="https://www.geotx.com/"><img alt="Geomatic logo and link to website" src="https://cdn.tnris.org/images/geomatic_logo.png"></a>  
     <a href="https://www.astadia.com/"><img alt="Astadia logo and link to website" src="https://cdn.tnris.org/images/astadia_logo.png"></a>

     <a href="https://www.halff.com/"><img alt="Halff logo and link to website" src="https://cdn.tnris.org/images/halff_logo.png"></a>      

     <a href="https://www.latitudegeo.com/"><img alt="Latitude Geographic logo and link to website" src="https://cdn.tnris.org/images/latitude_logo.png"></a>      


     
  
  </div>
</div>
