{% import "_form_macros.njk" as form %}
<h2><img class="float-right" src="https://cdn.tnris.org/images/sticky_job_square.jpg" alt="A sticky note with handwritten Now Hiring!">Submit a Job Opening</h2>

<p class="lead">Submit your information and upload a file with a one-page version of your job opening. Please fill out the form for each individual job opening.</p>

{{form.before("jobboard")}}
  {{form.input("Name", "Name", "text", true)}}
  {{form.input("Email", {
      label: "Email",
      placeholder: "Enter email address"
    }, "email", true)}}
  {{form.input("Phone", {
      label: "Phone",
      placeholder: "Enter your phone number"
    }, "tel", false)}}
  {{form.input("Organization", {
      label: "Organization",
      placeholder: "Who are you affiliated with?"
    }, "text", true)}}


  {{form.uploadFile(
    "Job Description Upload",
    {
      label: "Upload Job Description",
      help: "Select a PDF or Word document to upload."
    },
    ".pdf,.doc,.docx",
    false,
    true
  )}}

  <div class="ie-all-show">
    <p class="text-info">
      A TNRIS employee will contact you to get the job opening description.<br/>
      In order to upload site files directly through this form, please update to a modern browser version. See <a href="https://browsehappy.com/" title="Browser upgrade information">https://browsehappy.com/</a> for assistance.
    </p>
  </div>

  {{form.textarea(
      "Other Notes",
      "Other Notes",
      false,
      true
  )}}

  {{form.submit("message")}}
{{form.after()}}
