{% extends "base.njk" %}
{% import "_form_macros.njk" as form %}

{% block styles %}
  {{ super() }}
  {{ form.styles() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ form.scripts() }}
{% endblock %}

{% block topcontent %}
  <div class="container-fluid full">
    <div class="top-container">
      <div class="sr-only">
            <h1>{{title}}</h1>
            {{abstract}}
      </div>
      <a href="/texas-imagery-service"><img class="img-fluid mx-auto d-block" src="{{mainimage}}" alt="Masthead for {{title}}"></a>
    </div>
  </div>

  <div id="intro" class="google-intro">
    <div class="container-md">
        <div class="row">
          <div class="col-12"><h2>Request a Unique Texas Imagery Service Link for Your Organization</h2></div>
        </div>
    </div>
  </div>
{% endblock %}

{% block contentsOne %}
  <div id="contentMain" class="container-md">
    <div class="row">
      <div class="col-lg-8">
        {{ contents|safe }}
        {% include "partials/texas-imagery-service/google-request-form.njk" %}
      </div>
      <div class="col-lg-4">
        {% block sidebarLeft %}
          <section class="google-side">
              <h3>Helpful Downloads</h3>
              <ul class="helpful list-clean">
                  <li>
                      <a href="https://cdn.tnris.org/documents/google-imagery-fact-sheet.pdf">
                          <i class="fa fa-file"></i> Google Imagery Fact Sheet
                      </a>
                  </li>
                  <li>
                      <a href="https://cdn.tnris.org/documents/google-imagery-terms-of-use.pdf">
                          <i class="fa fa-file"></i> Google Imagery Terms of Use
                      </a>
                  </li>
                  <li>
                      <a href="https://cdn.tnris.org/documents/google-imagery-formal-accuracy-assessment.pdf">
                          <i class="fa fa-file"></i> Google Imagery Accuracy Assessment
                      </a>
                  </li>
                </ul>
          </section>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
