{% extends "base.njk" %}

{% block topcontent %}
  {# <div class="d-md-none d-lg-none quicknav-small-container">
    <div class="container quicknav-small">
      {% include "partials/quicknav-sm.njk" %}
    </div>
  </div> #}
  <div>
    <div>
      {# <div class="row"> #}
        {# <div class="col-lg-3">
          <div class="quick-nav">
            {% include "partials/quicknav.njk" %}
          </div>
        </div> #}
        <div>
          {% include "partials/mainfeature.njk" %}
        </div>
      {# </div> #}
    </div>
  </div>
{% endblock %}
{% block contentsOne %}
  <div id="contentMain" class="container-md">
    <h1 class="sr-only">Texas Natural Resources Information System</h1>
    <div class="row">
      {# twitter timeline embed #}
      <div id="front-news" class="col-lg-5 col-sm-12 order-lg-2">
        {% include "partials/twitter-timeline.njk" %}
      </div>
      {# latest datahub collections #}
      <div id="front-data" class="col-lg-3 col-sm-12 order-lg-1">
        {% include "partials/latest-datahub-collections.njk" %}
      </div>
      {# education/training information #}
      <div id="front-education" class="col-lg-4 col-sm-12 col-12 order-3">
        {% include "education/education-front.njk" %}
      </div>
    </div>
  </div>
{% endblock %}
{% block contentsTwo %}
  {% include "partials/highlights.njk" %}
{% endblock %}
