{% extends "base.njk" %}

{% block contentsOne %}
  <div class="redirect">

    <img class="leaving" src="https://cdn.tnris.org/images/elves-leaving.jpeg" />

    <h2>This page has moved!</h2>

    <h3>The new web address to get data is <a href="https://data.tnris.org">https://data.tnris.org</a></h3>

    <h4 class="notice">...You will be transferred to the new site in a moment...</h4>

    <div class="spin-container">
      <img class="ellipsis" src="https://cdn.tnris.org/images/ellipsis.gif" />
    </div>

    <p class="redirect-msg">If you have waited more than ten seconds and you still see this message, please click the link above to proceed to the new site.<br>Thank you.</p>

  </div>

  <script type="text/javascript">
    // setTimeout method to automatically redirect users to data.tnris.org after 10 seconds
    setTimeout(function() {
      window.location.href = 'https://data.tnris.org';
    }, 10000);
  </script>
{% endblock %}
