{% extends "base.njk" %}


{% block topcontent %}
  <div class="container-fluid" id="spotlight-full-image">
    <div class="mx-auto d-block">
      <a href="#full-spot" data-toggle="modal">
        <img class="media-object px-2 img-fluid" src="{{mainimage}}" alt="A large preview of the {{title}} image">
      </a>
    </div>

    <div class="spot-title mx-auto d-block">
      <div class="container-md">
        <small>Data Spotlight</small>
        <h1>{{title}}</h1>
        <div class="byline">
        <strong>by <author>{{ author }}<author></strong> {% if division %}<em>{{division}}</em>{% endif %} | <time>{{date|prettyDate}}</time>
        </div>

        <div class="spot-zoom">
          <span class="fa fa-zoom-in"></span>
          Click Image for Full Preview
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade full-spot" id="full-spot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">{{title}}</h3>
        </div>
        <div class="modal-body">
          <img class="media-object px-2 img-fluid mx-auto d-block" src="{{fullimage}}" alt="A large preview of the {{title}} image">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentsOne %}
<div id="contentMain" class="container-md">
  <div class="row article">
    <div class="col-md-9">
       {{contents|safe}}
    </div>
  </div>
</div>
{% endblock %}

{% block contentsTwo %}
{% endblock %}
