{% extends "base.njk" %}
{% import "_form_macros.njk" as form %}

{% block styles %}
  {{ super() }}

  {{form.styles()}}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {{form.scripts()}}
{% endblock %}

{% block topcontent %}
  <div id="texas-imagery-banner" class="container-fluid full">
      <div>
          <div class="sr-only">
              <h1>{{title}}</h1> {{abstract}}
          </div>

          <img class="img-responsive center-block hidden-sm hidden-md hidden-lg" src="https://cdn.tnris.org/images/texas-imagery-service-box.jpg" alt="Masthead for {{title}}">

          <img class="img-responsive center-block hidden-xs" src="{{mainimage}}" alt="Masthead for {{title}}">
      </div>
  </div>
  <div id="intro" class="google-intro">
      <div class="container">
          <div id="project-updates" class="row">
              {% include "partials/texas-imagery-service/intro.njk" %}
          </div>
          <h2>Latest Updated Imagery</h2>
          <iframe width="100%" height="520" frameborder="0" src="https://tnris-twdb.carto.com/u/tnris/builder/7ec0d7df-a00d-49e5-b4e4-1b15929f6cda/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
      </div>
  </div>
{% endblock %}

{% block contentsOne %}
  <div id="contentMain" class="container">
    <div class="row">
        <div id="faq-side-container" class="col-md-4">
        {% block sidebarLeft %}
          {% include "partials/texas-imagery-service/faq-toc.njk" %}
          {% include "partials/texas-imagery-service/side.njk" %}
        {% endblock %}
        </div>

        <div id="faq-body-container" class="col-md-8">
            {{ contents|safe }}
        </div>
    </div>
  </div>
{% endblock %}

{% block contentsTwo %}
  <section class="ortho-top">
      <div class="container">
          <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                  {% include "partials/texas-imagery-service/contact.njk" %}
              </div>
          </div>
      </div>
  </section>
{% endblock %}
