{% extends "base.njk" %}
{% import "_form_macros.njk" as form %}

{% block styles %}
  {{ super() }}

  {{form.styles()}}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {{form.scripts()}}
{% endblock %}

{% block topcontent %}
  <div id="texas-imagery-banner" class="container-fluid full">
    <div>
      <div class="sr-only">
        <h1>{{title}}</h1> {{abstract}}
      </div>

      <img class="img-fluid mx-auto d-block d-sm-none d-md-none d-lg-none" src="https://cdn.tnris.org/images/texas-imagery-service-box.jpg" alt="Masthead for {{title}}">

      <img class="img-fluid mx-auto d-block d-none" src="{{mainimage}}" alt="Masthead for {{title}}">
    </div>
  </div>
  <div id="intro" class="google-intro">
    <div class="container-md">
      <div id="project-updates" class="row">
          {% include "partials/texas-imagery-service/intro.njk" %}
      </div>
      <h2>Latest Updated Imagery</h2>
      <iframe title="Map of Latest Updated Imagery" width="100%" height="600" frameborder="0" src="https://twdb.maps.arcgis.com/apps/Embed/index.html?webmap=585b65bc703b4d959299e8d755cf469e&extent=-117.5338,23.1293,-85.0801,38.933&home=true&zoom=true&previewImage=false&scale=true&legend=true&disable_scroll=true&theme=dark"></iframe>
    </div>
  </div>
{% endblock %}

{% block contentsOne %}
  <div id="contentMain" class="container-md">
    <div class="row">
      <div id="faq-body-container" class="col-lg-12">
        {{ contents|safe }}
      </div>
    </div>
  </div>
{% endblock %}

{% block contentsTwo %}
  <section class="ortho-top">
    <div class="container-md">
      <div class="row">
        <div class="col-lg-12">
          {% include "partials/texas-imagery-service/contact.njk" %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
