<h2>Agenda Overview</h2>
<small><em>Learn more about presenters by clicking on their names.</em></small>
<table class="quick-agenda">
    <tr>
    <td><small>8:00AM to 8:45AM</small></td>
    <td><em>Breakfast - Social</em></td>
  </tr>
    <tr>
    <td><small>8:45AM to 9:00AM</small></td>
    <td><h4>Opening Remarks - Richard Wade, Director of TNRIS</h4></td>
  </tr>
  <tr>
    <td><small>9:00AM to 10:00AM</small></td>
    <td><h4>Keynote Address: Andrew Hill, CartoDB</h4></td>
  </tr>
  <tr>
    <td><small>10:00AM to 10:15AM</small></td>
    <td><em>Break</em></td>
  </tr>
  <tr>
    <td><small>10:15AM to 11:45AM</small></td>
    <td>
      <ul>
        <li><a class="smooth-scroll" href="#sean-gillies--mapbox"><i class="fa fa-user"></i> Sean Gillies</a></li>
        <li><a class="smooth-scroll" href="#johannes-kebeck--microsoft"><i class="fa fa-user"></i> Johannes Kebeck</a></li>
        <li><a class="smooth-scroll" href="#dana-bauer--object-rocket-rackspace"><i class="fa fa-user"></i> Dana Bauer</a></li>
      </ul>
      </td>
  </tr>
    <tr>
    <td><small>11:45AM to 1:30PM</small></td>
    <td><em>Lunch on your own</em></td>
  </tr>
  <tr>
    <td><small>1:30PM to 3:00PM</small></td>
    <td>
  <ul>
        <li><a class="smooth-scroll" href="#james-seppi--tnris"><i class="fa fa-user"></i> James Seppi</a></li>
        <li><a class="smooth-scroll" href="#nik-freeman"><i class="fa fa-user"></i> Nik Freeman</a></li>
        <li><a class="smooth-scroll" href="#gretchen-peterson"><i class="fa fa-user"></i> Gretchen Peterson</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><small>3:00PM to 3:15PM</small></td>
    <td><em>Break</em></td>
  </tr>
    <tr>
    <td><small>3:15PM to 4:30PM</small></td>
    <td> 
     <ul>
        <li><a class="smooth-scroll" href="#peter-girard--appgeo"><i class="fa fa-user"></i> Peter Girard</a></li>
        <li><a class="smooth-scroll" href="#andrew-thornton"><i class="fa fa-user"></i> Andrew Thornton</a></li>
      </ul>
      </td>
  </tr>
  </tr>
  <tr>
    <td><small>4:30PM to 5:15PM</small></td>
    <td><h4>Lightning Talks</h4></td>
  </tr>
  <tr>
    <td><small>5:15PM to 5:20PM</small></td>
    <td><h4>Closing Remarks</h4></td>
  </tr>
  <tr>
    <td><small>5:30PM</small></td>
    <td><h4>Mappy Hour at Black Star Co-op</h4></td>
  </tr>
</table>

<h2>I am new to programming. Will I benefit from this?</h2>

<p>Yes, this event is designed to help you make connections and provide some guidance for accomplishing your geospatial goals. There will be an emphasis on coding and breaking down the process for modern geospatial solutions.  </p>

<h2> Should I bring my own Laptop?</h2>
<p>Yes, we encourage that you bring your own laptop loaded with whatever tools and code that you want/need. There will be wireless internet connections available. Note: Make sure you have a fully charged battery to avoid power outlet ‘range wars’!</p>
