<div class="col-sm-8">
    <h2>Code, Code on the Range</h2>
    <p class="lead">TNRIS invites you to the 3rd annual GeoRodeo - a roundup of geodevelopers, coders and any professional from across the state of Texas who is looking to incorporate new ideas and creative solutions into their work.</p>
    <p class="lead">This free, interactive, technical conference, held at the Commons Center of the JJ Pickle Research Campus, is specifically for the Texas GIS/geospatial developer community.</strong></p>
    <p class="lead">Join us to learn about tips and techniques for open data, open source, and commercial GIS applications. Check out our <a class="smooth-scroll" href="#800am-to-845am">Agenda below.</a></p>
    <h3>Register for Free on Eventbrite</h3>
    <p class="lead">Registration is required in order to attend and is on a first-come, first-serve basis.</p>
        <a class="btn btn-danger btn-lg align-right" href="http://www.eventbrite.com/event/16287757120?ref=ebtn" target="_blank"><i class="fa fa-edit"></i> Register for the GeoRodeo</a>
  <h3>Unleash Mapping Mayhem - Watch the Promo</h3>
  <p>Thanks to Stuart McSpadden, a creative member of the Texas geospatial community, we have an (un)official promo video for this year's GeoRodeo.</p>
  <iframe title="2015 GeoRodeo" src="https://player.vimeo.com/video/126969752" width="100%" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/126969752">TNRIS GeoRodeo</a> from <a href="https://vimeo.com/stuartmcs">Stuart McSpadden</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  <h3>Commons Center Parking Pass</h3>
  <p>Make sure to download the parking pass for the Commons Center at the J.J. Pickle Campus. They do tow!</p>
  <p><a class="btn btn-lg btn-danger" href="https://cdn.tnris.org/documents/2015_georodeo_parking_permit.pdf">Download the Parking Pass</a></p>
</div>
<div class="col-sm-4">
    <h3><small class="text-muted">Keynote Speaker</small><br>
Andrew Hill, CartoDB</h3>
    <img class="rounded-circle" src="https://cdn.tnris.org/images/andrewhill_sm.jpg" alt="Head shot of Andrew Hill from CartoDB">
    <p><strong>Andrew Hill</strong> is the Chief Science Officer at <a href="https://carto.com/">CartoDB</a> where he explores the future of online mapping to help guide innovation and education. He is a biologist by training but has been working in maps, GIS, and data visualization for many years.</p>
        <h3>Thank You to Our Sponsors</h3>

            <a href="http://www.appgeo.com"><img class="img-fluid mx-auto d-block" src="https://cdn.tnris.org/images/appgeo_georodeo.png" alt="AppGeo Logo and Link"></a>
            <a href="http://www.geospatialtraining.com"><img class="img-fluid mx-auto d-block" src="https://cdn.tnris.org/images/geospatial_georodeo.png" alt="Geospatial Training logo and link"></a>
            <a href="https://objectrocket.com"><img class="img-fluid mx-auto d-block" src="https://cdn.tnris.org/images/objectrocket_georodeo.png" alt="Object Rocket logo and link"></a>
             <a href="http://www.esri.com"><img class="img-fluid mx-auto d-block" src="https://cdn.tnris.org/images/esri_georodeo.png" alt="Esri Logo and Link"></a>
    <p>Become a sponsor of the GeoRodeo and connect with the Texas GeoDeveloper community.</p>
    <a class="btn btn-danger btn-lg mx-auto d-block" style="max-width: 60%;" href="/georodeo/2015/become-a-sponsor">Become a Sponsor</a>
</div>
