
<div class="preview-thumb">
    <a href="#doqq-image" data-toggle="modal"><img class="img-fluid" src="https://cdn.tnris.org/images/20151113_doqq_availability_sm.jpg" alt="Latest DOQQ availability preview image">
        <p><em>DOQQ Availability</em><br><span class="fa fa-search"></span> <small>Click for larger view</small></p>
    </a>
    <div class="modal fade modal-expand" id="doqq-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid " src="https://cdn.tnris.org/images/20151113_doqq_availability.jpg" alt="Latest DOQQ Availability Map">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="preview-thumb">
    <a href="#ccm-image" data-toggle="modal"><img class="img-fluid" src="https://cdn.tnris.org/images/20151113_ccm_availability_sm.jpg" alt="Latest CCM availability preview image ">
        <p><em>CCM Availability</em><br><span class="fa fa-search"></span> <small>Click for larger view</small></p>
    </a>
    <div class="modal fade modal-expand" id="ccm-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid" src="https://cdn.tnris.org/images/20151113_ccm_availability.jpg" alt="Latest CCM Availability Map">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
