{% extends "base.njk" %}

{% block topcontent %}
  <div class="container-fluid full">
    <div class="top-container">
      {% if mainimage %}
        <img class="img-fluid img-responsive mx-auto d-block" src="{{mainimage}}" alt="Masthead for {{title}}">
      {% endif %}

      <div class="top-header mx-auto d-block">
        <div class="container-md">
          <h1 class="banner-header">{{title}}</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentsOne %}
 <div class="container meeting-bar">
    {% include "gio/gio-calendar-quad.njk" %}
</div>
{% endblock %}

{% block contentsTwo %}
  <div class="container-md">
    <div id="events-container">
      {{ contents|safe }}
    </div>
  </div>
{% endblock %}
