{% extends "base.njk" %}

{% block topcontent %}
  <div class="container-fluid full">
    <div class="top-container">
      {% if mainimage %}
        <img class="img-fluid mx-auto d-block" src="{{mainimage}}" alt="Masthead for {{title}}">
      {% endif %}

      <div class="top-header mx-auto d-block">
        <div class="container-md">
          <h1>{{title}}</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentsOne %}
{% endblock %}

{% block contentsTwo %}
  <div id="events-container" class="container-md">
    <div class="row">
      <div class="col-md-8">
        {# alert about 2020 GIS Forum cancellation #}
         <div class="alert alert-danger">
           The 2020 Texas GIS Forum has been cancelled due to the COVID-19 pandemic.
           Please stay tuned for TNRIS event information and updates by
           <a href="https://twitter.com/TNRIS" target="_blank">following us on Twitter</a>.
         </div>
        {{ contents|safe }}
      </div>
      <div class="col-md-3">
        <script src="/gio_calendar_next_cm.bundle.js"></script>
        <div id="gio-calendar-next-cm"></div>
      </div>
    </div>
  </div>
{% endblock %}
