<div id="events-front">
  <h2><a href="/education">Events</a> <i class="fas fa-user-friends"></i> </h2>
  <p class="lead">This year's <a href="/texas-gis-forum/2019"><strong>Texas GIS Forum</strong></a> keynotes showed us 'The Human Side of Data!'</p>
  <div class="row">
    <div class="col-sm-6">
      <a href="/news/2019-06-11/forum-keynote-leon-logothetis-host-kindness-diaries">
      <img class="img-circle kn-headshot-2019" src="https://tnris-org-static.s3.amazonaws.com/images/leon_headshot_th.jpg" alt="Leon Logothetis Headshot">
      <h3><strong>Leon Logothetis</strong></h3></a>
      <p>Host of Netflix's The Kindness Diaries.<br>
      <a href="/news/2019-06-11/forum-keynote-leon-logothetis-host-kindness-diaries"><i class="glyphicon glyphicon-arrow-right"></i> Learn More</p></a>
    </div>
    <div class="col-sm-6">
      <a href="/news/2019-09-18/forum-keynote-justen-noakes-heb-director-emergency-preparedness">
      <img class="img-circle kn-headshot-2019" src="https://tnris-org-static.s3.amazonaws.com/images/leslie_sweet_headshot.jpg" alt="Justen Noakes Headshot">
      <h3><strong>Leslie Sweet</strong></h3></a>
      <p>H-E-B's Senior Director of Public Affairs<br>
      <a href="/news/2019-09-18/forum-keynote-justen-noakes-heb-director-emergency-preparedness"><i class="glyphicon glyphicon-arrow-right"></i> Learn More</a></p>
    </div>
    <p class="text-center">
      <a class="btn btn-tnris" href="/events" role="button">View All TNRIS Events<span class="glyphicon glyphicon-chevron-right"></a>
    </p>
  </div>
</div>
