{% extends "base.njk" %}

{% block topcontent %}
  <div class="container-fluid full">
    <div class="top-container">
      {% if mainimage %}
        <img class="img-responsive center-block" src="{{mainimage}}" alt="Masthead for {{title}}">
      {% endif %}

      <div class="top-header center-block">
        <div class="container">
          <h1>{{title}}</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentsOne %}
{% endblock %}

{% block contentsTwo %}
  <div id="events-container" class="container">
    <div class="row">
      <div class="col-md-8">
        {{ contents|safe }}
      </div>
      <div class="col-md-3">
        <script src="/gio_calendar_next_cm.bundle.js"></script>
        <div id="gio-calendar-next-cm"></div>
      </div>
    </div>
  </div>
{% endblock %}
