{% extends "events/texas-gis-forum/2019/main.njk" %}
{% import "_form_macros.njk" as form %}

{% block styles %}
  {{ super() }}

  {{form.styles()}}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {{form.scripts()}}
  {# bundled js file that retrieves training records from tnris api and creates html #}
  {# source file located at static/js/forum_training.js; will need to access source file to add new forum year (string) to array #}
  <script src="/forum_training.bundle.js"></script>
{% endblock %}

{% block contentsOne %}
  <section id="forum-training-2019" class="container-md">
    <div class="row">
      <div class="col-md-12">

        <div class="training-list" data-spy="scroll" data-target=".training-header">
          <!-- forum training records get inserted here from the tnris api -->
          <h2>Day 1 - Monday, October 21</h2>
            <div id="insert-day-one-2019"></div>

          <h2>Day 2 - Tuesday, October 22</h2>
            <div id="insert-day-two-2019"></div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
