<nav class="navbar navbar-inverse forum-bar-2017">
  <div class="container">
    <ul class="nav navbar-nav">
        <li {% if (path == 'texas-gis-forum/2019') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2019">Welcome</a>
        </li>
        {# <li {% if (path == 'texas-gis-forum/2019/call-for-papers') %}class="active"{% endif %}>
            <a href="/texas-gis-forum/2019/call-for-papers">Call For Papers</a>
          </li> #}
        <li {% if (path == 'texas-gis-forum/2019/agenda') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2019/agenda">Agenda</a>
        </li>
        <li {% if (path == 'texas-gis-forum/2019/training') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2019/training">Pre-Conference Workshops</a>
        </li>
        <li {% if (path == 'texas-gis-forum/2019/sponsors-and-exhibitors') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2019/sponsors-and-exhibitors">Become a Sponsor</a>
        </li>
        <li {% if (path == 'texas-gis-forum/2019/poster-gallery') %}class="active"{% endif %}>
          <a href="/texas-gis-forum/2019/poster-gallery">Poster Contest</a>
        </li>
      </ul>
  </div>
</nav>
