<h3 style="margin-top: 0">Registration</h3>
<table class="table table-sm table-responsive">
  <thead class="thead-inverse">
      <tr>
          <th></th>
          <th>Before Sept. 20</th>
          <th>Sept. 23 - Oct. 11</th>
          <th>Onsite</th>
          <th>One Day</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td><strong>Government</strong></td>
          <td>$325</td>
          <td>$375</td>
          <td>$425</td>
          <td>$275</td>
      </tr>
      <tr>
          <td><strong>Industry</strong></td>
          <td>$425</td>
          <td>$475</td>
          <td>$525</td>
          <td>$325</td>
      </tr>
      <tr>
          <td><strong>Student</strong></td>
          <td>$50</td>
          <td>$50</td>
          <td>$50</td>
          <td>$25</td>
      </tr>
  </tbody>
</table>
<div class="well well-bg">
  <p><strong>Note:</strong> Regular Pricing ends October 11. Online Registration is still available until Tuesday, October 15, at <strong>Onsite prices.</strong></p>
  <a class="btn btn-lg btn-purpblue center-block" style="max-width: 75%;" href="{{FORUM_REGISTRATION_LINK}}">
    <i class="glyphicon glyphicon-pencil"></i> {{buttontext}}
  </a>
</div>
